{% extends 'base.html.twig' %}
{% block stylesheets %}
<link href="{{ asset('css/jquery.timepicker.css') }}" rel="stylesheet" media="screen">
{% endblock %}
{% block meta %}
    <meta name="keywords" content="{{ bikeslocbase.metaKeywords }}">
    <meta name="description" content="{{ bikeslocbase.metaDescription }}">  
{% endblock %}
{% block title %}{{ bikeslocbase.metaTitle }} {% endblock %}
{% block javascripts %}
<script src="{{ asset('js/jquery.timepicker.min.js') }}"></script>
<script type="text/javascript">
		$(function(){
			$('#datetime2').appendDtpicker();	
			
		});
		
	</script>
	<script type="text/javascript">
		$(function(){
			$('#datetime3').appendDtpicker();
			
		});
		
</script>
<script type="text/javascript">
			/*$(function(){
				$('#datetime2').change(function() {
					var enddateval = $('#datetime2').val();
					//var date= '21/01/2015';
					var d=new Date(enddateval.split("/").reverse().join("-"));
					var dd=d.getDate();
					var mm=d.getMonth()+1;
					var yy=d.getFullYear();
					var newdate=mm+"-"+dd+"-"+yy;
					alert(newdate);
				    $('#datetime3').handleDtpicker('setMinDate',enddateval);
				});
			});
			*/
</script>
<script>
			$(document).ready(function(){
				$("#datetime3").change(function(){
					var first=$("#datetime2").val();
					var second=$("#datetime3").val();
					if(first===second)
					{
						alert("Reture date is inavlid please select returndate greaterthan pickupdate");
					}
					else{
						//alert("this is different string");
						//return;
					}
				});
			});
</script>
	<script>
	
	$( window ).load(function(){
		var locv=$('#txt_name1').val();
		$('#trip_sitemanagementbundle_bikes_on_rent_location').val(locv);

	});
	</script>
	
	
{% endblock %}

{% block body %}
<section class="nospace"></section>
<section class="section clearfix">
    <div class="container">
        <div class="row">
                        <div class="col-lg-12 col-sm-12 col-xs-12">
                        <div class="hotel-title">
                <h3 class="berlin">OUR FLEET</h3>
                <hr class="left">
            </div><!-- end hotel-title -->
                            {% for bike in bikes %} 
                            {% if bike.active==1 %}
                            <div class="col-md-3">
                            <div class="bike-background">
                            <div>
                            <img src="{{asset('images/bikes/'~bike.imgPath) }}" style="width: 100%;">
                            </div>
                                     
                            	{% for bikecities in bike.bikescity %}
                                    {% if bikecities.cityid==bikeslocbase.cityid %} 
                                             {% if bikecities.cityid ==1 %}                 
                                			<h4 style="text-align:center;color:#000;font-size: 16px;">{{ bike.title }}</h4>
                                			 <p class="price-starts">Starts @{{ bike.statingPrice }}</p>
                                			 {% else %}
                                			 	<h4 style="text-align:center;color:#000;font-size: 16px;">{{ bike.title }}</h4>
                                			 	<p class="price-starts">Starts @{{ bike.statingPrice }}</p>
                                	 		{% endif %}
                                    {% endif %}
                                {% endfor %}
                               
                                 <div class="row">
                                        {#} <div class="col-md-12" >
                                         	{% for bikearea in bike.bikescityarea %}
                                         		{% if bikearea.cityid==bikeslocbase.cityid %}
                                         		<p>{{ bikearea.area }}</p>
                                         		{% endif %}
                                         	{% endfor %}
                                         </div>{#}
                                         <div class="col-md-12">
                                         
                                          		{% for bikecities in bike.bikescity %}
                                         		{% if bikecities.cityid==bikeslocbase.cityid %}
                                         			{% if bikecities.cityid ==1 %} 
                                                        <a class="btn btn-book-now view-bike" href="{{ path('trip_site_management_view_bikestpt',{ 'url':bikecities.url }) }}">
                                                          Rent Now
                                                        </a>
                                                        {% else %}
                                                        <a class="btn btn-book-now view-bike" href="{{ path('trip_site_management_view_bikesblr',{ 'url':bikecities.url }) }}">
                                                          Rent Now
                                                        </a>
                                                      {% endif %}
                                                {% endif %}
                                         	{% endfor %}
                                            
        								{#<a class="btn aligncenter view-bike"   href="{{ path('trip_site_management_view_bikes',{'url':bike.locationUrl }) }}">Rent Now</a>#}
                                         </div>
                                         <div class="col-md-12" >
                                         	
                                         </div>
                                 </div>
                              
                              </div>
                            </div>
                           {% endif %}
                           {% endfor %}
                    </div>
                   
        </div>
    </div>
   
        
        
</section>
<section class="section clearfix section-bottom fullscreen background parallax sec-bg">
		<div class="container">
			<div class="hotel-title">
                <h3 class="berlin">Do you have Questions?</h3>
                <hr class="left">
            </div><!-- end hotel-title -->
            <div class="row">
            	<div class="col-md-6">
            		<img src="{{ asset('images/justtrip-questions.png') }}" alt="" class="img-responsive">
            	</div>
            	<div class="col-md-6">
            		<div class="que">
            		<p class="berlin have-question">Have any Doubts?</p>
            		<p class="berlin">Have an issue or want to know about how things work?<br> Just ring us up! We would love to hear you out!</p>
            		<p class="berlin">Call us 24/7 Support</p>
            		<h2 class="que-numb berlin">+91-9663133008</h2>
            		</div>
            	</div>
            </div>
        </div>
    </section>
    <section class="section" data-img-width="1920" data-img-height="586" data-diff="10">
        <div class="container">
            <div id="testimonials">
                 <div class="testi-item">
                    <div class="hotel-title text-center">
                        <h3 class="berlin">THANKS YOU TRIPS! THIS IS AMAZING TRAVEL!</h3>
                        <hr>
                        <p>It was nice service provided by Just Trip, it was my first journey to tirupati.Just Trip people are so helpfull :)</p>
                        <h6>- Ravi / TCS Mumbai</h6>
                    </div>
                </div><!-- end testi-item -->

                <div class="testi-item">
                    <div class="hotel-title text-center">
                        <h3>THANKS YOU TRIPS! THIS IS AMAZING TRAVEL!</h3>
                        <hr>
                        <p>It was nice service provided by Just Trip, it was my first journey to tirupati.Just Trip people are so helpfull :)</p>
                        <h6>- Ravi / TCS Mumbai</h6>
                    </div>
                </div><!-- end testi-item -->
            </div><!-- end testimonials -->
        </div><!-- end container -->
    </section><!-- end section -->
    <section>
    	<div id="myModal" class="modal fade" role="dialog" data-keyboard="false" data-backdrop="static">
              <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                  <div class="bike-search-modal-header">
                  	<div class="row">
                  		<div class="col-md-3">
                  			<h4 class="bikes-search-locationspop">I want to rent a</h4>
                    	</div>
                    	<div class="col-md-2">
                    		<h4 class="bikes-search-locationspop2">Bike</h4>
                    	</div>
                    	<div class="col-md-7">
                    		<button type="button" class="close" data-dismiss="modal">&times;</button>
                    	</div>
                  	</div>
                  </div>
                  <div class="modal-body">
                    <div class="row">
                    	<div class="col-md-1">
                    	</div>
                    	<div class="col-md-11">
                    		<h4 class="bikes-search-popup-heading1">Popular Cities</h4>
                    		<strong class="strong-city-popup">India</strong>
                    		<div class="row">
                    			<div class="col-md-1">
                    			</div>
                    			{% for city in bikesmaincity %}
                    			{% if city.active==1 %}
                    			<div class="col-md-5">
                    				<a href="{{ path('trip_site_management_bikes_city',{ 'cityid':city.url,'url':city.suburl }) }}">
                    				<img src="{{asset('images/'~city.img) }}" class="img-center">
                    				<h4 class="bikes-search-popup-heading2">{{ city.url }}</h4>
                    				</a>
                    			</div>
                    			{% endif %}
                    			{% endfor %}
                    			<div class="col-md-1">
                    			</div>
                    		</div>
                    	</div>
                    </div>
                  </div>
                  <div class="bike-search-modal-header text-center">
                    <strong class="footer-cont">Select city to continue</strong>
                  </div>
                </div>
            
              </div>
            </div>
    </section>
    <section class="section" data-img-width="1920" data-img-height="586" data-diff="10" style="background: #222;">
        <div class="container">
            <div class="row">
            	
            		{% for bike in bikes %} 
                            {% if bike.active==1 %}
                            	{% for bikecities in bike.bikescity %}
                                     {% if bikecities.cityid==bikeslocbase.cityid %}
                                     	{% if bikecities.cityid ==1 %} 
                                     	<div class="col-md-4">
                                             <p class="packages-link"><a href="{{ path('trip_site_management_view_bikestpt',{ 'url':bikecities.url }) }}">{{ bikecities.title }}</a></p>
                                        </div>
                                     	{% else %}
                                     	<div class="col-md-4">
                                             <p class="packages-link"><a href="{{ path('trip_site_management_view_bikesblr',{ 'url':bikecities.url }) }}"> {{ bikecities.title }}</a></p>
                                        </div>
                                     	{% endif %}
                                     {% endif %}
                                 {% endfor %}
                            {% endif %}
                    {% endfor %}
            	
            	<div class="col-md-4">
            		
            	</div>
            	<div class="col-md-4">
            		
            	</div>
            </div>
        </div><!-- end container -->
    </section><!-- end section -->
{% endblock %}