{% extends 'page.html.twig' %}
{% block stylesheets %}
<link href="{{ asset('css/jquery.timepicker.css') }}" rel="stylesheet" media="screen">
{% endblock %}
{% block meta %}
    <meta name="keywords" content="">
    <meta name="description" content="">  
{% endblock %}
{% block title %}Bikes On Rent | Justtrip.in {% endblock %}
{% block javascripts %}
<script src="{{ asset('js/jquery.timepicker.min.js') }}"></script>
<script>
$('.preferTime').timepicker({ 'scrollDefault': 'now' });
    
         $('.adults').click(function(e){		
			e.preventDefault(); //STOP default action 
			 var id = $(this).attr('id');
			 var value = parseInt($(this).attr('value'));
             var numAdult = $(this).siblings("input[name=numAdult]");
			 var adults =parseInt(numAdult.val());
			 if (isNaN(adults)) { 
				 adults= 0
	            } 
			 if(id=='decrement'){
				 adults-=1;
				 if(adults>=value) numAdult.val(adults); else exit();
			  }else{
				adults+=1;
			    if(adults<=20)  numAdult.val(adults); else exit();
				}	
	    });
    
         $('.vehicle-icon').click(function(e){		
			e.preventDefault(); //STOP default action 
			 var id = $(this).attr('id');
			 var price = $(this).attr('value');
             var package = parseInt($(this).attr('title'));
             $('.vehicle'+package).removeClass('active');
             $(this).addClass('active');
             $('#vehicleIndex'+package).val(id);
             $('#price'+package).html(price);


	       });
         </script>
<script>
         $(".book-now").click(function(e){
        	 e.preventDefault(); //STOP default action 
        	 var bikeName = $(this).attr('bike-name');
        	 var packageName = $(this).attr('package-name');
        	 var bikeid = $(this).attr('bike-id');
        	 var packageprice = $(this).attr('package-price');
        	 var offerprice = $(this).attr('offer-price');
        	 var  Kmlimit = $(this).attr('Km-limit');
        	 
        	 $(".model-package-name").val(packageName);
             $(".model-bike-name").val(bikeName);
             $(".model-package-name").html(packageName);
             $(".model-bike-name").html(bikeName);
             $("#model-bike-id").val(bikeid);
               $("#model-package-price").val(packageprice);
               $("#model-package-offerprice").val(offerprice);
               $("#model-package-Kmlimit").val(Kmlimit);
               
               $("#mymodel7days").modal('show');

               
             
         });

         $(".book-now1").click(function(e){
        	 e.preventDefault(); //STOP default action 
        	 var bikeName = $(this).attr('bike-name');
        	 var packageName = $(this).attr('package-name');
        	 var bikeid = $(this).attr('bike-id');
        	 var packageprice = $(this).attr('package-price');
        	 var offerprice = $(this).attr('offer-price');
        	 var  Kmlimit = $(this).attr(' Km-limit');
        	 
             $(".model-package-name1").val(packageName);
             $(".model-bike-name1").val(bikeName);
             $(".model-package-name1").html(packageName);
             $(".model-bike-name1").html(bikeName);
             $("#model-bike-id1").val(bikeid);
               $("#model-package-price1").val(packageprice);
               $("#model-package-offerprice1").val(offerprice);
               $("#model-package-Kmlimit1").val(Kmlimit);
               
               $("#mymodel15days").modal('show');

               
             
         });

         $(".book-now2").click(function(e){
        	 e.preventDefault(); //STOP default action 
        	 var bikeName = $(this).attr('bike-name');
        	 var packageName = $(this).attr('package-name');
        	 var bikeid = $(this).attr('bike-id');
        	 var packageprice = $(this).attr('package-price');
        	 var offerprice = $(this).attr('offer-price');
        	 var  Kmlimit = $(this).attr(' Km-limit');
        	
        	 
        	 $(".model-package-name2").val(packageName);
             $(".model-bike-name2").val(bikeName);
        	 $(".model-package-name2").html(packageName);
             $(".model-bike-name2").html(bikeName);
             $("#model-bike-id2").val(bikeid);
               $("#model-package-price2").val(packageprice);
               $("#model-package-offerprice2").val(offerprice);
               $("#model-package-Kmlimit2").val(Kmlimit);
               
               $("#mymodel30days").modal('show');
            
               
         });
</script>

<script type="text/javascript">

$(function(){
 	var d = new Date();
	var month = parseInt(d.getMonth()) +1;
	$('#datetime6_prefer_date').val(d.getDate() + '-' + month + '-' + d.getFullYear()+ ' ' +d.getHours()+ ':' +d.getMinutes());
	d.setDate(d.getDate() + 7);
	var month = parseInt(d.getMonth()) +1; 
	$('#datetime7_returnDate').change(function() {
	    $('#datetime6_prefer_date').appendDtpicker({
	    });
	});
	$('#datetime6_prefer_date').change(function() {
	var from = $("#datetime6_prefer_date").val().split("-");
	var year = from[2].split(" ");
	var from2 = year[0]+'.'+from[1]+'.'+from[0];
	//alert(from);
	var t = new Date(from2);
	t.setDate(t.getDate() + 7);
	$('#datetime7_returnDate').appendDtpicker({
	    });
	$('#datetime7_returnDate').handleDtpicker('setMinDate', t);
	$('#datetime7_returnDate').trigger('change');
	});
	$('#datetime7_returnDate').trigger('change');
	$('#datetime6_prefer_date').trigger('change');
});

</script>

<script type="text/javascript">

$(function(){
 	var d = new Date();
	var month = parseInt(d.getMonth()) +1;
	$('#datetime8_prefer_date').val(d.getDate() + '-' + month + '-' + d.getFullYear()+ ' ' +d.getHours()+ ':' +d.getMinutes());
	d.setDate(d.getDate() + 15);
	var month = parseInt(d.getMonth()) +1;
	$('#datetime9_returnDate').change(function() {
	    $('#datetime8_prefer_date').appendDtpicker({
	    });
	});
	$('#datetime8_prefer_date').change(function() {
	var from = $("#datetime8_prefer_date").val().split("-");
	var year = from[2].split(" ");
	var from2 = year[0]+'.'+from[1]+'.'+from[0];
	//alert(from);
	var t = new Date(from2);
	t.setDate(t.getDate() + 15);
	$('#datetime9_returnDate').appendDtpicker({
	    });
	$('#datetime9_returnDate').handleDtpicker('setMinDate', t);
	$('#datetime9_returnDate').trigger('change');
	});
	$('#datetime9_returnDate').trigger('change');
	$('#datetime8_prefer_date').trigger('change');
});

</script>

<script type="text/javascript">
$(function(){
 	var d = new Date();
	var month = parseInt(d.getMonth()) +1;
	$('#datetime10_prefer_date').val(d.getDate() + '-' + month + '-' + d.getFullYear()+ ' ' +d.getHours()+ ':' +d.getMinutes());
	d.setDate(d.getDate() + 30);
	var month = parseInt(d.getMonth()) +1;
	$('#datetime11_returnDate').change(function() {
	    $('#datetime10_prefer_date').appendDtpicker({
	    });
	});
	$('#datetime10_prefer_date').change(function() {
	var from = $("#datetime10_prefer_date").val().split("-");
	var year = from[2].split(" ");
	var from2 = year[0]+'.'+from[1]+'.'+from[0];
	//alert(from);
	var t = new Date(from2);
	t.setDate(t.getDate() + 30);
	$('#datetime11_returnDate').appendDtpicker({
	    });
	$('#datetime11_returnDate').handleDtpicker('setMinDate', t);
	$('#datetime11_returnDate').trigger('change');
	});
	$('#datetime11_returnDate').trigger('change');
	$('#datetime10_prefer_date').trigger('change');
});

</script>

	<script type="text/javascript">
	/*$(window).load(function(){        
   $('#myModal').modal('show');
   $("#myModal").modal({
       backdrop: 'static',
       keyboard: false
   });
    });*/
	</script>
{% endblock %}

{% block breadcrumb %}
                    <div class="c1 breadcrumb text-left">
                        <div><span class="glyphicon glyphicon-home" style="padding:5px;"></span><a href="{{ path('trip_site_management_homepage')}}">Home</a><span>
                        <span class="glyphicon glyphicon-chevron-right" style="padding:5px;"></span>Bike Packages</span></div>
                    </div>
                    <h3></h3>
{% endblock %}

{% block body %}
<section class="section clearfix" style="background-repeat: no-repeat;padding:30px;background-image:url({{ asset('images/jtp-bikes-4.png') }});padding: 33px 0px;background-size: 1600px 329.712px;background-position: 51% -60px;">
	<div class="bike-book">
		<h2 class="sub-title-bikesonrentpackage"> Rent A Bike</h2>
		<input type="hidden" value="" id="txt_name1">
        {#}<img src="{{asset('images/bikes/s2.jpg') }}" style="width: 100%;">{#}
    </div>
</section>

<section class="section clearfix" style="background-color:#fff;">
    <div class="container">
        <div class="row">
                        <div class="col-lg-12 col-sm-12 col-xs-12">
                            {% for bike in bikes %} 
                            <div class="col-md-4" >
                            <div>
                            	<img src="{{asset('images/bikes/'~bike.imgPath) }}" style="width: 100%;">
                            </div>
                            	<div class="bike-background">
                            		<h6 class="title">{{ bike.title }}</h6>
                                    <!-- Nav tabs -->
                                    <ul class="nav nav-tabs">
                                        {% for index,package in bike.bikespackage %}
                                        {% if loop.index==1 %}
                                        	<li class="col-md-4 active"><a href="#7days" data-toggle="tab">
                                            	<span>{{ package.packagename }}DAYS</span> </a>
                                            </li>
                                        {% elseif loop.index==2 %}
                                            <li class="col-md-4"><a href="#15days{{ bike.id }}" data-toggle="tab">
                                            	<span>{{ package.packagename }}DAYS</span></a>
                                            </li>
                                        {% else %}
                                            <li class="col-md-4"><a href="#30days{{ bike.id }}" data-toggle="tab">
                                                <span>{{ package.packagename }}DAYS</span></a>
                                            </li>
                                        {% endif %}
                                        {% endfor %} 
                                    </ul>
                                    <!-- Tab panes -->
                                    	<div class="tab-content">
                                            {% for index,package in bike.bikespackage %}
                                            {% if loop.index==1 %}
                                            	<div class="tab-pane fade in active" id="7days" style="font-size: 12px;">
                                                	<div class="row">
                        						    	<div class="col-md-6" style="text-align:left;">
                            								<p class="price">Price</p>
                            							    <span class="excess">Km limit</span><br>
                            								<span class="excess">Excess km</span>
                            								<p class="price">Additional Usage</p>
                            								<span class="excess">Additional price/hr</span>
                            								<span class="excess">Additional km limit</span>
                        								</div>
                                                        <div class="col-md-6" style="text-align:right;">
                                                        	<p class="pricevalue">{{ package.packageprice }}.0</p>
                                                        	<span class="excess">{{ package.packagekmlimit }}.0 km</span><br>
                                                        	<span class="excess">{{ package.packageexcesskm }}.0/km</span><br>
                                                        	<p class="price"></p><br>
                                                        	<span class="excess">{{ package.packageadditionalpriceday }}.0/hr</span><br>
                                                        	<span class="excess">{{ package.packageadditionalkmlimit }}.0 km/hr</span>
                                                        </div>
                        							</div>
                        							{#}<div class="row">
                        								<div class="col-md-12">
                        									<h6 class="package-offer">{{ package.packageoffer }}% Offer Available</h6>
                        								</div>
                        							</div>{#}
                        							<div class="row"> 
                                                    	<div class="col-md-12" >
                                                            {% if (bike.count <= 0) %}
                                                            	<button class="btn btn-book-now view-bike" disabled>
                                                                	Sold Out
                                                                </button>   
                                                            {% else %}
                                                                <button class="btn btn-book-now view-bike1 book-now" 
                                                                bike-name="{{ bike.title }}" 
                                                                package-name="{{ package.packagename }}" 
                                                                bike-id="{{ bike.id }}" 
                                                                package-price="{{ package.packageprice }}"
                                                                Km-limit="{{ package.packagekmlimit }}"
                                                                offer-price="{{ package.packageoffer }}">
                                                                	Rent Now
                                                                </button>
                                                        
                                                            {% endif %}
                                                            
                                                        </div>
                                         			</div>
                                                 </div>
                                            {% elseif loop.index==2 %}
                                            	<div class="tab-pane fade" id="15days{{ bike.id }}"  style="font-size: 12px;">
                                                	<div class="row">
                        						    	<div class="col-md-6" style="text-align:left;">
                            								<p class="price">Price</p>
                            							    <span class="excess">Km limit</span><br>
                            								<span class="excess">Excess km</span>
                            								<p class="price">Additional Usage</p>
                            								<span class="excess">Additional price/hr</span>
                            								<span class="excess">Additional km limit</span>
                        								</div>
                                                        <div class="col-md-6" style="text-align:right;">
                                                        	<p class="pricevalue">{{ package.packageprice }}.0</p>
                                                        	<span class="excess">{{ package.packagekmlimit }}.0 km</span><br>
                                                        	<span class="excess">{{ package.packageexcesskm }}.0/km</span><br>
                                                        	<p class="price"></p><br>
                                                        	<span class="excess">{{ package.packageadditionalpriceday }}.0/hr</span><br>
                                                        	<span class="excess">{{ package.packageadditionalkmlimit }}.0 km/hr</span>
                                                        </div>
                        							</div>
                        							{#}<div class="row">
                        								<div class="col-md-12">
                        									<h6 class="package-offer">{{ package.packageoffer }}% Offer Available</h6>
                        								</div>
                        							</div>{#}
                        							<div class="row"> 
                                                    	<div class="col-md-12" >
                                                            {% if (bike.count <= 0) %}
                                                            	<button class="btn btn-book-now view-bike" disabled>
                                                                	Sold Out
                                                                </button>   
                                                            {% else %}
                                                                <button class="btn btn-book-now view-bike1 book-now1" 
                                                                bike-name="{{ bike.title }}" 
                                                                package-name="{{ package.packagename }}" 
                                                                bike-id="{{ bike.id }}" 
                                                                package-price="{{ package.packageprice }}"
                                                                Km-limit="{{ package.packagekmlimit }}"
                                                                offer-price="{{ package.packageoffer }}">
                                                                	Rent Now
                                                                </button>
                                                        
                                                            {% endif %}
                                                        </div>
                                         			</div>
                                     			</div>
                                             {% else %}
                                                <div class="tab-pane fade" id="30days{{ bike.id }}" style="font-size: 12px;">
                                                    <div class="row">
                        						    	<div class="col-md-6" style="text-align:left;">
                            								<p class="price">Price</p>
                            							    <span class="excess">Km limit</span><br>
                            								<span class="excess">Excess km</span>
                            								<p class="price">Additional Usage</p>
                            								<span class="excess">Additional price/hr</span>
                            								<span class="excess">Additional km limit</span>
                        								</div>
                                                        <div class="col-md-6" style="text-align:right;">
                                                        	<p class="pricevalue">{{ package.packageprice }}.0</p>
                                                        	<span class="excess">{{ package.packagekmlimit }}.0 km</span><br>
                                                        	<span class="excess">{{ package.packageexcesskm }}.0/km</span><br>
                                                        	<p class="price"></p><br>
                                                        	<span class="excess">{{ package.packageadditionalpriceday }}.0/hr</span><br>
                                                        	<span class="excess">{{ package.packageadditionalkmlimit }}.0 km/hr</span>
                                                        </div>
                        							</div>
                        							{#}<div class="row">
                        								<div class="col-md-12">
                        									<h6 class="package-offer">{{ package.packageoffer }}% Offer Available</h6>
                        								</div>
                        							</div>{#}
                                                    <div class="row"> 
                                                    	<div class="col-md-12" >
                                                            {% if (bike.count <= 0) %}
                                                            	<button class="btn btn-book-now view-bike" disabled>
                                                                	Sold Out
                                                                </button>   
                                                            {% else %}
                                                                <button class="btn btn-book-now view-bike1 book-now2" 
                                                                bike-name="{{ bike.title }}" 
                                                                package-name="{{ package.packagename }}" 
                                                                bike-id="{{ bike.id }}" 
                                                                package-price="{{ package.packageprice }}"
                                                                Km-limit="{{ package.packagekmlimit }}"
                                                                offer-price="{{ package.packageoffer }}">
                                                                	Rent Now
                                                                </button>
                                                        
                                                            {% endif %}
                                                        </div>
                                         			</div>
                                                </div>
                                             {% endif %}
                                             {% endfor %}
                               </div>
                           </div>
                        </div>
                     {% endfor %}
                     <div class="modal fade myModal7days" id="mymodel7days"  role="dialog">
                      <div class="modal-dialog">
                       <div class="modal-content">
                        <div class="modal-header1">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                               <h4 class="modal-title">Let's Ride</h4>
                        </div>
                        <div class="modal-body1" style="">
                         <div class="row">
                            <span class="package-title1"><span class="model-bike-name"></span></span>
                            <span class="package-title2"><span class="model-package-name"></span>Days Package</span><br>
                         </div>
                         <div class="row"><hr></div>
                            <form name="bike_package" action="{{ path('trip_site_management_bike_package_result') }}" method="get">
                            	<input id="model-bike-id" type="hidden" name="id" required="required" value="" class="bike-popupform"/>
                            	<input id="model-package-Kmlimit" type="hidden" name="Kmlimit" required="required" value="" class="bike-popupform"/>
                            	<input class="model-bike-name" type="hidden" name="title" required="required" value="" class="bike-popupform"/>
                            	<input class="model-package-name" type="hidden" name="packagename" required="required" value="" class="bike-popupform"/>
                            	<input id="model-package-offerprice" type="hidden" name="packageoffer" required="required" value="" class="bike-popupform"/>
                            	<input id="model-package-price" type="hidden" name="packageprice" required="required" value="" class="bike-popupform"/>
								<select class="bike-popupform" type="text" name="location" required><br>
                                	<option>Tirupati</option>
                                    <option>Bangalore</option>
                                </select>
                                <hr class="bike-popup">
                                <input type="datetime" class=" bike-popupform" id="datetime6_prefer_date" name="preferdate" required="required"  placeholder="Pickup Date"  required />
                                <hr class="bike-popup">
                            	<input type="datetime" class=" bike-popupform" id ="datetime7_returnDate" name="returndate" required="required"  placeholder="Return Date" data-value=""  required />
                                <hr class="bike-popup">
                                <button type="submit" class="btn btn-book-now view-bike1" value="Search" style="height:20px;width:70%;height:30px;margin-bottom:10px;">Search
                                </button>
                            </form>
                        </div>
                        <div class="modal-footer">
                        </div>
                       </div>
                      </div>
                     </div>
                     <div class="modal fade myModal15days" id="mymodel15days"  role="dialog">
                      <div class="modal-dialog">
                       <div class="modal-content">
                        <div class="modal-header1">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                               <h4 class="modal-title">Let's Ride</h4>
                        </div>
                        <div class="modal-body1" style="">
                         <div class="row">
                            <span class="package-title1"><span class="model-bike-name1"></span></span>
                            <span class="package-title2"><span class="model-package-name1"></span>Days Package</span><br>
                         </div>
                         <div class="row"><hr></div>
                            <form name="bike_package" action="{{ path('trip_site_management_bike_package_result') }}" method="get">
                            	<input id="model-bike-id1" type="hidden" name="id" required="required" value="" class="bike-popupform"/>
                            	<input id="model-package-Kmlimit1" type="hidden" name="Kmlimit" required="required" value="" class="bike-popupform"/>
                            	<input class="model-bike-name1" type="hidden" name="title" required="required" value="" class="bike-popupform"/>
                            	<input class="model-package-name1" type="hidden" name="packagename" required="required" value="" class="bike-popupform"/>
                            	<input id="model-package-offerprice1" type="hidden" name="packageoffer" required="required" value="" class="bike-popupform"/>
                            	<input id="model-package-price1" type="hidden" name="packageprice" required="required" value="" class="bike-popupform"/>
								<select class="bike-popupform" type="text" name="location" required><br>
                                	<option>Tirupati</option>
                                    <option>Bangalore</option>
                                </select>
                                <hr class="bike-popup">
                                <input type="datetime" class=" bike-popupform" id="datetime8_prefer_date" name="preferdate" required="required"  placeholder="Pickup Date"  required />
                                <hr class="bike-popup">
                            	<input type="datetime" class=" bike-popupform" id ="datetime9_returnDate" name="returndate" required="required"  placeholder="Return Date" data-value=""  required />
                                <hr class="bike-popup">
                                <button type="submit" class="btn btn-book-now view-bike1" value="Search" style="height:20px;width:70%;height:30px;margin-bottom:10px;">Search
                                </button>
                            </form>
                        </div>
                        <div class="modal-footer">
                        </div>
                       </div>
                      </div>
                     </div>
                     <div class="modal fade myModal30days" id="mymodel30days"  role="dialog">
                      <div class="modal-dialog">
                       <div class="modal-content">
                        <div class="modal-header1">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                               <h4 class="modal-title">Let's Ride</h4>
                        </div>
                        <div class="modal-body1" style="">
                         <div class="row">
                            <span class="package-title1"><span class="model-bike-name2"></span></span>
                            <span class="package-title2"><span class="model-package-name2"></span>Days Package</span><br>
                         </div>
                         <div class="row"><hr></div>
                            <form name="bike_package" action="{{ path('trip_site_management_bike_package_result') }}" method="get">
                            	<input id="model-bike-id2" type="hidden" name="id" required="required" value="" class="bike-popupform"/>
                            	<input id="model-package-Kmlimit2" type="hidden" name="Kmlimit" required="required" value="" class="bike-popupform"/>
                            	<input class="model-bike-name2" type="hidden" name="title" required="required" value="" class="bike-popupform"/>
                            	<input class="model-package-name2" type="hidden" name="packagename" required="required" value="" class="bike-popupform"/>
                            	<input id="model-package-offerprice2" type="hidden" name="packageoffer" required="required" value="" class="bike-popupform"/>
                            	<input id="model-package-price2" type="hidden" name="packageprice" required="required" value="" class="bike-popupform"/>
								<select class="bike-popupform" type="text" name="location" required><br>
                                	<option>Tirupati</option>
                                    <option>Bangalore</option>
                                </select>
                                <hr class="bike-popup">
                                <input type="datetime" class=" bike-popupform" id="datetime10_prefer_date" name="preferdate" required="required"  placeholder="Pickup Date"  required />
                                <hr class="bike-popup">
                            	<input type="datetime" class=" bike-popupform" id ="datetime11_returnDate" name="returndate" required="required"  placeholder="Return Date" data-value=""  required />
                                <hr class="bike-popup">
                                <button type="submit" class="btn btn-book-now view-bike1" value="Search" style="height:20px;width:70%;height:30px;margin-bottom:10px;">Search
                                </button>
                            </form>
                        </div>
                        <div class="modal-footer">
                        </div>
                       </div>
                      </div>
                     </div>
                    </div>
                    <div id="myModal" class="modal fade" role="dialog" data-keyboard="false" data-backdrop="static">
              <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                  <div class="bike-search-modal-header">
                  	<div class="row">
                  		<div class="col-md-3">
                  			<h4 class="bikes-search-locationspop">Looking To Rent A Bike</h4>
                    	</div>
                    	<div class="col-md-2">
                    		<h4 class="bikes-search-locationspop2">Bike</h4>
                    	</div>
                    	<div class="col-md-7">
                    		{#}<button type="button" class="close" data-dismiss="modal">&times;</button>#}
                    	</div>
                  	</div>
                  </div>
                  <div class="modal-body">
                    <div class="row">
                    	<div class="col-md-1">
                    	</div>
                    	<div class="col-md-11">
                    		<h4 class="bikes-search-popup-heading1">Find Us In Your City</h4>
                    		<strong class="strong-city-popup">India</strong>
                    		<div class="row">
                    			<div class="col-md-1">
                    			</div>
                    			{% for city in bikesmaincity %}
                    			{% if city.active==1 %}
                    			<div class="col-md-5">
                    				<a href="{{ path('trip_site_management_bikes_packageurl',{ 'cityid':city.url,'packageurl':city.packageurl }) }}">
                    				<img src="{{asset('images/'~city.img) }}" class="img-center">
                    				<h4 class="bikes-search-popup-heading2">{{ city.url }}</h4>
                    				</a>
                    			</div>
                    			{% endif %}
                    			{% endfor %}
                    			
                    			<div class="col-md-1">
                    			</div>
                    		</div>
                    	</div>
                    </div>
                  </div>
                  <div class="bike-search-modal-header text-center">
                    <strong class="footer-cont">Select city to continue</strong>
                  </div>
                </div>
            
              </div>
            </div>
             </div>
         </div>    
</section>
<section class="space"></section>
{% endblock %}
                              
                    
						 
					
           
            
        
  
   
        