{% extends 'page.html.twig' %}
{% block stylesheets %}
<link href="{{ asset('css/jquery.timepicker.css') }}" rel="stylesheet" media="screen">
{% endblock %}
{% block meta %}
    <meta name="keywords" content="">
    <meta name="description" content="">  
{% endblock %}
{% block title %}Bikes On Rent | Justtrip.in {% endblock %}
{% block javascripts %}
<script src="{{ asset('js/jquery.timepicker.min.js') }}"></script>
<script>

</script>
<script>
         $(".book-now").click(function(e){
        	 e.preventDefault(); //STOP default action 
        	 var bikeName = $(this).attr('bike-name');
        	 var packageName = $(this).attr('package-name');
        	 var bikeid = $(this).attr('bike-id');
        	 var packageprice = $(this).attr('package-price');
        	 var offerprice = $(this).attr('offer-price');
        	 var  Kmlimit = $(this).attr('Km-limit');
        	 
        	 $(".model-package-name").val(packageName);
             $(".model-bike-name").val(bikeName);
             $(".model-package-name").html(packageName);
             $(".model-bike-name").html(bikeName);
             $(".model-bike-id").val(bikeid);
               $(".model-package-price").val(packageprice);
               $(".model-package-offerprice").val(offerprice);
               $(".model-package-Kmlimit").val(Kmlimit);
               
               $("#mymodel7days").modal('show');

               
             
         });

         $(".book-now1").click(function(e){
        	 e.preventDefault(); //STOP default action 
        	 var bikeName = $(this).attr('bike-name');
        	 var packageName = $(this).attr('package-name');
        	 var bikeid = $(this).attr('bike-id');
        	 var packageprice = $(this).attr('package-price');
        	 var offerprice = $(this).attr('offer-price');
        	 var  Kmlimit = $(this).attr(' Km-limit');
        	 
        	 $(".model-package-name").val(packageName);
             $(".model-bike-name").val(bikeName);
             $(".model-package-name").html(packageName);
             $(".model-bike-name").html(bikeName);
             $(".model-bike-id").val(bikeid);
               $(".model-package-price").val(packageprice);
               $(".model-package-offerprice").val(offerprice);
               $(".model-package-Kmlimit").val(Kmlimit);
               
               $("#mymodel15days").modal('show');

               
             
         });

         $(".book-now2").click(function(e){
        	 e.preventDefault(); //STOP default action 
        	 var bikeName = $(this).attr('bike-name');
        	 var packageName = $(this).attr('package-name');
        	 var bikeid = $(this).attr('bike-id');
        	 var packageprice = $(this).attr('package-price');
        	 var offerprice = $(this).attr('offer-price');
        	 var  Kmlimit = $(this).attr(' Km-limit');
        	
        	 
        	 $(".model-package-name").val(packageName);
             $(".model-bike-name").val(bikeName);
             $(".model-package-name").html(packageName);
             $(".model-bike-name").html(bikeName);
             $(".model-bike-id").val(bikeid);
               $(".model-package-price").val(packageprice);
               $(".model-package-offerprice").val(offerprice);
               $(".model-package-Kmlimit").val(Kmlimit);
               
               $("#mymodel30days").modal('show');
            
               
         });
</script>

<script type="text/javascript">
$('.disabled').hide();
$('.package-price-btn').click(function(){
	$('.disabled').show();
	$(window).scrollTop(0);
	var packageName = $("#ifcon").val();
	if(packageName==7){
		$(function(){
		 	var d = new Date();
			var month = parseInt(d.getMonth()) +1;
			$('#datetime6_prefer_date').val(d.getDate() + '-' + month + '-' + d.getFullYear()+ ' ' +d.getHours()+ ':' +d.getMinutes());
			d.setDate(d.getDate() + 7);
			var month = parseInt(d.getMonth()) +1; 
			$('#datetime7_returnDate').change(function() {
			    $('#datetime6_prefer_date').datetimepicker({
			    });
			});
			$('#datetime6_prefer_date').change(function() {
			var from = $("#datetime6_prefer_date").val().split("-");
			var year = from[2].split(" ");
			var from2 = year[0]+'.'+from[1]+'.'+from[0];
			var t = new Date(from2);
			//alert(t.getDate());
			t.setDate(t.getDate() + 7);
			$('#datetime7_returnDate').datetimepicker({
				minDate: t,
			    });
			
			
			//$('#datetime7_returnDate').handleDtpicker('setMinDate', t);
			//$("#datetime7_returnDate").datetimepicker('option', 'minDate', t);
			$('#datetime7_returnDate').trigger('change');
			});
			$('#datetime7_returnDate').trigger('change');
			$('#datetime6_prefer_date').trigger('change');
		});
		
	}else if(packageName==15){
		$(function(){
		 	var d = new Date();
			var month = parseInt(d.getMonth()) +1;
			$('#datetime6_prefer_date').val(d.getDate() + '-' + month + '-' + d.getFullYear()+ ' ' +d.getHours()+ ':' +d.getMinutes());
			d.setDate(d.getDate() + 15);
			var month = parseInt(d.getMonth()) +1; 
			$('#datetime7_returnDate').change(function() {
			    $('#datetime6_prefer_date').datetimepicker({
			    });
			});
			$('#datetime6_prefer_date').change(function() {
			var from = $("#datetime6_prefer_date").val().split("-");
			var year = from[2].split(" ");
			var from2 = year[0]+'.'+from[1]+'.'+from[0];
			var t = new Date(from2);
			t.setDate(t.getDate() + 15);
			$('#datetime7_returnDate').datetimepicker({
				minDate: t,
			    });
			
			
			//$('#datetime7_returnDate').handleDtpicker('setMinDate', t);
			//$("#datetime7_returnDate").datetimepicker('option', 'minDate', t);
			$('#datetime7_returnDate').trigger('change');
			});
			$('#datetime7_returnDate').trigger('change');
			$('#datetime6_prefer_date').trigger('change');
		});
	}else
		{
		$(function(){
		 	var d = new Date();
			var month = parseInt(d.getMonth()) +1;
			$('#datetime6_prefer_date').val(d.getDate() + '-' + month + '-' + d.getFullYear()+ ' ' +d.getHours()+ ':' +d.getMinutes());
			d.setDate(d.getDate() + 30);
			var month = parseInt(d.getMonth()) +1; 
			$('#datetime7_returnDate').change(function() {
			    $('#datetime6_prefer_date').datetimepicker({
			    });
			});
			$('#datetime6_prefer_date').change(function() {
			var from = $("#datetime6_prefer_date").val().split("-");
			var year = from[2].split(" ");
			var from2 = year[0]+'.'+from[1]+'.'+from[0];
			var t = new Date(from2);
			t.setDate(t.getDate() + 30);
			$('#datetime7_returnDate').datetimepicker({
				minDate: t,
			    });
			
			
			//$('#datetime7_returnDate').handleDtpicker('setMinDate', t);
			//$("#datetime7_returnDate").datetimepicker('option', 'minDate', t);
			$('#datetime7_returnDate').trigger('change');
			});
			$('#datetime7_returnDate').trigger('change');
			$('#datetime6_prefer_date').trigger('change');
		});
	}
	
	
});


</script>


{% endblock %}

{% block breadcrumb %}
                    <div class="c1 breadcrumb text-left">
                        <div><span class="glyphicon glyphicon-home" style="padding:5px;"></span><a href="{{ path('trip_site_management_homepage')}}">Home</a><span>
                        <span class="glyphicon glyphicon-chevron-right" style="padding:5px;"></span>Bike Packages</span></div>
                    </div>
                    <h3></h3>
{% endblock %}

{% block body %}

{#}<section class="section clearfix bike-packages-title-bg">
	<div class="container bike-book hotel-title">
		<div class="row">
			<div class="col-md-4">
			
			</div>
			<div class="col-md-4">
			<h2 class="sub-title-bikesonrentpackage"> Rent A Bike In {{ locations[bikeslocbase.cityid].name }}</h2>
			<hr class="left">
			</div>
			<div class="col-md-4">
			
			</div>
		</div>
		<input type="hidden" value="{{ locations[bikeslocbase.cityid].name }}" id="txt_name1">
        <img src="{{asset('images/bikes/s2.jpg') }}" style="width: 100%;">
    </div>
</section>
{#}
<section class="section clearfix filter-box" style="background-color:#fff;">
	 	<div class="">
            <div class="row">
                 <div class="col-md-12">
                 	<div class="row disabled" style="margin: 8px;">
                   		<div class="col-md-10">
                   			<div class="row">
                                 <form name="bike_package" action="{{ path('trip_site_management_bike_package_result') }}" method="get">
                                        	<input class="model-bike-id" type="hidden" name="id" required="required" value="" class="bike-popupform"/>
                                        	<input class="model-package-Kmlimit" type="hidden" name="Kmlimit" required="required" value="" class="bike-popupform"/>
                                        	<input class="model-bike-name" type="hidden" name="title" required="required" value="" class="bike-popupform"/>
                                        	<input class="model-package-name" type="hidden" name="packagename" required="required" value="" class="bike-popupform"/>
                                        	<input class="model-package-offerprice" type="hidden" name="packageoffer" required="required" value="" class="bike-popupform"/>
                                        	<input class="model-package-price" type="hidden" name="packageprice" required="required" value="" class="bike-popupform"/>
                       				<div class="col-md-3">
                						<div class="bikes-form-font disabled"> 
                							<p class="bikes-search-result-p-form"><span class="glyphicon glyphicon-map-marker"></span>  Selected City</p>
                                            {#}<a type="button" class="btn btn-info btn-lg review-resulst-popup" data-toggle="modal" data-target="#myModal">{{ geturl }}</a>{#}
                                            {#}<input class="bikes-package-nopadding bike-popupform review-resulst-popup" type="text" name="location" value="{{ geturl }}" readonly="readonly" required>{#}
                                            <div class="dropdown shaow">
                                                        <div class="select-city-height dropdown-toggle" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                            {% if filtermainloc %}
                                                             <span class="select-city caps">{{ filtermainloc }} <i class="fa fa-angle-down"></i></span>
                                                            {% else %}
                                                             <span class="select-city caps">Select City <i class="fa fa-angle-down"></i></span>
                                                            {% endif %}
                                                        </div> 
                                                        <div class="dropdown-menu select-city-links" aria-labelledby="dropdownMenuLink">
                                                             <a  href="{{ path('trip_site_management_bikes_city_sybmit') }}?city=1&name=tirupathi" class="caps bikes-search-popup-heading2 text-center resview-bikes-pop-loc">tirupathi</a>	<br>
                                                             <a  href="{{ path('trip_site_management_bikes_city_sybmit') }}?city=2&name=bengaluru" class="caps bikes-search-popup-heading2 text-center resview-bikes-pop-loc">bengaluru</a>	<br>
                                                         </div>
                                                    </div>		
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                         <div class="bikes-form-font"> 
                                           	<p class="bikes-search-result-p-form"><span class="bikes-searchresults-icons"><i class="fa fa-calendar"></i></span>  Start date and time</p>
                                            <input type="datetime" class="bikes-package-nopadding review-resulst-popup bike-popupform" id="datetime6_prefer_date" name="preferdate" required="required"  placeholder="Pickup Date" autocomplete="off"  required />
                                         </div>
                                    </div>
                                    <div class="col-md-3">
                                    	 <div class="bikes-form-font"> 
                                           	<p class="bikes-search-result-p-form"><span class="bikes-searchresults-icons"><i class="fa fa-calendar"></i></span>  End date and time</p>
                                            <input type="datetime" class="bikes-package-nopadding review-resulst-popup bike-popupform" id ="datetime7_returnDate" name="returndate" required="required"  placeholder="Return Date" autocomplete="off" data-value=""  required />
                                         </div>
                                    </div>
                                    <div class="col-md-3">
                                    		<button type="submit" class="new-button-bikes-onrent btn btn-primary" value="Search" id="reviewsubmit">Ride now
                                         </button>
                                    </div>
                               
                   			</div>
                   		</div>
                   		<div class="col-md-2">
                   			<p class="brandtype p-nomargin">Bike name > <span class="model-bike-name"></span>
                   			<input type="hidden" value="30" class="model-package-name" id="ifcon"></p>
                   			<p class="brandtype p-nomargin bikepackage-marigin-header">Package > <span class="model-package-name"></span> <span class="theme-color">Days</span></p>
                   		</div>
                 </div>
            </div>
       </div>
</section>
<section class="section clearfix" style="background-color:#fff;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-xs-12">
                 {% for bike in bikes %} 
                    {% if bike.active==1 %}
                    	<div class="col-md-4" >
                    		<div class="bike-background-new">
                    			<img src="{{asset('images/bikes/'~bike.imgPath) }}" style="width: 70%;display: block;margin: 0 auto;">
                    			<h6 class="title">{{ bike.title }}</h6>
                    			<div class="row">
                    					{% for index,package in bike.bikespackage %}
                    						<div class="col-sm-4 bikepackages-border-grid {% if loop.last is same as(true) %}bikepackages-noborder-grid{% endif %}">
                            					<p class="p-nomargin text-center">{{ package.packagename }}Days</p>
                            				</div>
                            			{% endfor %}
                    			</div>
                    			<p class="excess p-nomargin">Excess km</p>
                    			<div class="row">
                    				{% for index,package in bike.bikespackage %}
                        				<div class="col-sm-4 text-center bikepackages-border-grid {% if loop.last is same as(true) %}bikepackages-noborder-grid{% endif %}">
                        					<span class="excess"><i class="fa fa-inr" aria-hidden="true"></i> {{ package.packageexcesskm }}.0/km</span>
                        				</div>
                    				{% endfor %}
                    			</div>
                    			<p class="excess p-nomargin">Km limit</p>
                    			<div class="row">
                    				{% for index,package in bike.bikespackage %}
                        				<div class="col-sm-4 text-center bikepackages-border-grid {% if loop.last is same as(true) %}bikepackages-noborder-grid{% endif %}">
                        					<span class="excess"><i class="fa fa-inr" aria-hidden="true"></i> {{ package.packagekmlimit }}.0 km</span>
                        				</div>
                    				{% endfor %}
                    			</div>
                    			<div class="row">
                    				{% for index,package in bike.bikespackage %}
                    					{% if bike.id==2 %}
                                            {% if loop.index==1 %}
                    				<div class="col-sm-4">
                    					<button class="btn btn-book-now book-now package-price-btn" 
                                                                bike-name="{{ bike.title }}" 
                                                                package-name="{{ package.packagename }}" 
                                                                bike-id="{{ bike.id }}" 
                                                                package-price="{{ package.packageprice }}"
                                                                Km-limit="{{ package.packagekmlimit }}"
                                                                offer-price="{{ package.packageoffer }}">
                                                                	
                                                                	<i class="fa fa-inr" aria-hidden="true"></i> {{ package.packageprice }}
                                                                </button>
                    				</div>
                    				{% elseif loop.index==2 %}
                    				<div class="col-sm-4">
                    					 <button class="btn btn-book-now book-now1 package-price-btn" 
                                                                bike-name="{{ bike.title }}" 
                                                                package-name="{{ package.packagename }}" 
                                                                bike-id="{{ bike.id }}" 
                                                                package-price="{{ package.packageprice }}"
                                                                Km-limit="{{ package.packagekmlimit }}"
                                                                offer-price="{{ package.packageoffer }}">
																	
                                                                	<i class="fa fa-inr" aria-hidden="true"></i> {{ package.packageprice }}
                                                                </button>
                    				</div>
                    				{% else %}
                    				<div class="col-sm-4">
                    					 <button class="btn btn-book-now book-now2 package-price-btn" 
                                                                bike-name="{{ bike.title }}" 
                                                                package-name="{{ package.packagename }}" 
                                                                bike-id="{{ bike.id }}" 
                                                                package-price="{{ package.packageprice }}"
                                                                Km-limit="{{ package.packagekmlimit }}"
                                                                offer-price="{{ package.packageoffer }}">
																	
                                                                	<i class="fa fa-inr" aria-hidden="true"></i> {{ package.packageprice }}
                                                                </button>
                    				</div>
                        				{% endif %}
                        				{% elseif geturl=='bengaluru' %}
                        				{% if loop.index==1 %}
                            				<div class="col-sm-4">
                            					<button class="btn btn-book-now book-now package-price-btn" 
                                                                        bike-name="{{ bike.title }}" 
                                                                        package-name="{{ package.packagename }}" 
                                                                        bike-id="{{ bike.id }}" 
                                                                        package-price="{{ package.packageprice }}"
                                                                        Km-limit="{{ package.packagekmlimit }}"
                                                                        offer-price="{{ package.packageoffer }}">
                                                                        	
                                                                        	<i class="fa fa-inr" aria-hidden="true"></i> {{ package.packageprice }}
                                                                        </button>
                            				</div>
                            				{% elseif loop.index==2 %}
                            				<div class="col-sm-4">
                            					 <button class="btn btn-book-now book-now1 package-price-btn" 
                                                                        bike-name="{{ bike.title }}" 
                                                                        package-name="{{ package.packagename }}" 
                                                                        bike-id="{{ bike.id }}" 
                                                                        package-price="{{ package.packageprice }}"
                                                                        Km-limit="{{ package.packagekmlimit }}"
                                                                        offer-price="{{ package.packageoffer }}" >
        																	
                                                                        	<i class="fa fa-inr" aria-hidden="true"></i> {{ package.packageprice }}
                                                                        </button>
                            				</div>
                            				{% else %}
                            				<div class="col-sm-4">
                            					 <button class="btn btn-book-now book-now2 package-price-btn" 
                                                                        bike-name="{{ bike.title }}" 
                                                                        package-name="{{ package.packagename }}" 
                                                                        bike-id="{{ bike.id }}" 
                                                                        package-price="{{ package.packageprice }}"
                                                                        Km-limit="{{ package.packagekmlimit }}"
                                                                        offer-price="{{ package.packageoffer }}">
        																	
                                                                        	<i class="fa fa-inr" aria-hidden="true"></i> {{ package.packageprice }}
                                                                        </button>
                            				</div>
                            				{% endif %}
                            			{% else %}
                            				{% if loop.index==1 %}
                    				<div class="col-sm-4">
                    					<button class="btn btn-book-now book-now package-price-btn" 
                                                                bike-name="{{ bike.title }}" 
                                                                package-name="{{ package.packagename }}" 
                                                                bike-id="{{ bike.id }}" 
                                                                package-price="{{ package.packageprice }}"
                                                                Km-limit="{{ package.packagekmlimit }}"
                                                                offer-price="{{ package.packageoffer }}">
                                                                	
                                                                	<i class="fa fa-inr" aria-hidden="true"></i> {{ package.packageprice }}
                                                                </button>
                    				</div>
                    				{% elseif loop.index==2 %}
                    				<div class="col-sm-4">
                    					 <button class="btn btn-book-now book-now1 package-price-btn" 
                                                                bike-name="{{ bike.title }}" 
                                                                package-name="{{ package.packagename }}" 
                                                                bike-id="{{ bike.id }}" 
                                                                package-price="{{ package.packageprice }}"
                                                                Km-limit="{{ package.packagekmlimit }}"
                                                                offer-price="{{ package.packageoffer }}">
																	
                                                                	<i class="fa fa-inr" aria-hidden="true"></i> {{ package.packageprice }}
                                                                </button>
                    				</div>
                    				{% else %}
                    				<div class="col-sm-4">
                    					 <button class="btn btn-book-now book-now2 package-price-btn" 
                                                                bike-name="{{ bike.title }}" 
                                                                package-name="{{ package.packagename }}" 
                                                                bike-id="{{ bike.id }}" 
                                                                package-price="{{ package.packageprice }}"
                                                                Km-limit="{{ package.packagekmlimit }}"
                                                                offer-price="{{ package.packageoffer }}">
																	
                                                                	<i class="fa fa-inr" aria-hidden="true"></i> {{ package.packageprice }}
                                                                </button>
                    				</div>
                        				{% endif %}
                    				{% endif %}
                                   {% endfor %}
                    			</div>
                    		</div>
                    	</div>
                    {% endif %}
                 {% endfor %}
                     
                      </form>
                     
                     
                   {#}  
                     
                     <div class="modal fade myModal7days" id="mymodel7days"  role="dialog">
                      <div class="modal-dialog">
                       <div class="modal-content">
                        <div class="modal-header1">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                               <h4 class="modal-title">Let's Ride</h4>
                        </div>
                        <div class="modal-body1" style="">
                         <div class="row">
                            <span class="package-title1"><span class="model-bike-name"></span></span>
                            <span class="package-title2"><span class="model-package-name"></span>Days Package</span><br>
                         </div>
                         <div class="row"><hr></div>
                            <form name="bike_package" action="{{ path('trip_site_management_bike_package_result') }}" method="get">
                            	<input id="model-bike-id" type="hidden" name="id" required="required" value="" class="bike-popupform"/>
                            	<input id="model-package-Kmlimit" type="hidden" name="Kmlimit" required="required" value="" class="bike-popupform"/>
                            	<input class="model-bike-name" type="hidden" name="title" required="required" value="" class="bike-popupform"/>
                            	<input class="model-package-name" type="hidden" name="packagename" required="required" value="" class="bike-popupform"/>
                            	<input id="model-package-offerprice" type="hidden" name="packageoffer" required="required" value="" class="bike-popupform"/>
                            	<input id="model-package-price" type="hidden" name="packageprice" required="required" value="" class="bike-popupform"/>
								<input class="bike-popupform" type="text" name="location" value="{{ geturl }}" readonly="readonly" required><br>
                                <hr class="bike-popup">
                                <input type="datetime" class=" bike-popupform" id="datetime6_prefer_date" name="preferdate" required="required"  placeholder="Pickup Date"  required />
                                <hr class="bike-popup">
                            	<input type="datetime" class=" bike-popupform" id ="datetime7_returnDate" name="returndate" required="required"  placeholder="Return Date" data-value=""  required />
                                <hr class="bike-popup">
                                <button type="submit" class="btn btn-book-now view-bike1" value="Search" style="height:20px;width:70%;height:30px;margin-bottom:10px;">Search
                                </button>
                            </form>
                        </div>
                        <div class="modal-footer">
                        </div>
                       </div>
                      </div>
                     </div>
                     <div class="modal fade myModal15days" id="mymodel15days"  role="dialog">
                      <div class="modal-dialog">
                       <div class="modal-content">
                        <div class="modal-header1">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                               <h4 class="modal-title">Let's Ride</h4>
                        </div>
                        <div class="modal-body1" style="">
                         <div class="row">
                            <span class="package-title1"><span class="model-bike-name1"></span></span>
                            <span class="package-title2"><span class="model-package-name1"></span>Days Package</span><br>
                         </div>
                         <div class="row"><hr></div>
                            <form name="bike_package" action="{{ path('trip_site_management_bike_package_result') }}" method="get">
                            	<input id="model-bike-id1" type="hidden" name="id" required="required" value="" class="bike-popupform"/>
                            	<input id="model-package-Kmlimit1" type="hidden" name="Kmlimit" required="required" value="" class="bike-popupform"/>
                            	<input class="model-bike-name1" type="hidden" name="title" required="required" value="" class="bike-popupform"/>
                            	<input class="model-package-name1" type="hidden" name="packagename" required="required" value="" class="bike-popupform"/>
                            	<input id="model-package-offerprice1" type="hidden" name="packageoffer" required="required" value="" class="bike-popupform"/>
                            	<input id="model-package-price1" type="hidden" name="packageprice" required="required" value="" class="bike-popupform"/>
								<input class="bike-popupform" type="text" name="location" value="{{ geturl }}" readonly="readonly" required><br>
                                <hr class="bike-popup">
                                <input type="datetime" class=" bike-popupform" id="datetime8_prefer_date" name="preferdate" required="required"  placeholder="Pickup Date"  required />
                                <hr class="bike-popup">
                            	<input type="datetime" class=" bike-popupform" id ="datetime9_returnDate" name="returndate" required="required"  placeholder="Return Date" data-value=""  required />
                                <hr class="bike-popup">
                                <button type="submit" class="btn btn-book-now view-bike1" value="Search" style="height:20px;width:70%;height:30px;margin-bottom:10px;">Search
                                </button>
                            </form>
                        </div>
                        <div class="modal-footer">
                        </div>
                       </div>
                      </div>
                     </div>
                     <div class="modal fade myModal30days" id="mymodel30days"  role="dialog">
                      <div class="modal-dialog">
                       <div class="modal-content">
                        <div class="modal-header1">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                               <h4 class="modal-title">Let's Ride</h4>
                        </div>
                        <div class="modal-body1" style="">
                         <div class="row">
                            <span class="package-title1"><span class="model-bike-name2"></span></span>
                            <span class="package-title2"><span class="model-package-name2"></span>Days Package</span><br>
                         </div>
                         <div class="row"><hr></div>
                            <form name="bike_package" action="{{ path('trip_site_management_bike_package_result') }}" method="get">
                            	<input id="model-bike-id2" type="hidden" name="id" required="required" value="" class="bike-popupform"/>
                            	<input id="model-package-Kmlimit2" type="hidden" name="Kmlimit" required="required" value="" class="bike-popupform"/>
                            	<input class="model-bike-name2" type="hidden" name="title" required="required" value="" class="bike-popupform"/>
                            	<input class="model-package-name2" type="hidden" name="packagename" required="required" value="" class="bike-popupform"/>
                            	<input id="model-package-offerprice2" type="hidden" name="packageoffer" required="required" value="" class="bike-popupform"/>
                            	<input id="model-package-price2" type="hidden" name="packageprice" required="required" value="" class="bike-popupform"/>
								<input class="bike-popupform" type="text" name="location" value="{{ geturl }}" readonly="readonly" required><br>
                                <hr class="bike-popup">
                                <input type="datetime" class=" bike-popupform" id="datetime10_prefer_date" name="preferdate" required="required"  placeholder="Pickup Date"  required />
                                <hr class="bike-popup">
                            	<input type="datetime" class=" bike-popupform" id ="datetime11_returnDate" name="returndate" required="required"  placeholder="Return Date" data-value=""  required />
                                <hr class="bike-popup">
                                <button type="submit" class="btn btn-book-now view-bike1" value="Search" style="height:20px;width:70%;height:30px;margin-bottom:10px;">Search
                                </button>
                            </form>
                        </div>
                        <div class="modal-footer">
                        </div>
                       </div>
                      </div>
                     </div>
                     
                     
                     {#}
                     
                     
           </div>
       </div>
    </div>    
</section>
<section class="space"></section>
{% endblock %}
                              
                    
						 
					
           
            
        
  
   
        