{% extends 'base.html.twig' %}
{% block stylesheets %}
<link href="{{ asset('css/jquery.timepicker.css') }}" rel="stylesheet" media="screen">
{% endblock %}
{% block meta %}
    <meta name="keywords" content="Justtrip.in">
    <meta name="description" content="Justtrip a government authorized bike rental company in india. we
offer all kinds of gear and non gear bikes on rent at the lowest price.
Book Online or Download the app now.">  
{% endblock %}
{% block title %} Government Authorized Bike Rental Company | Justtrip {% endblock %}
{% block javascripts %}
<script src="{{ asset('js/jquery.timepicker.min.js') }}"></script>
<script  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA7Vdof1ZN2V7mooMEjTWOSp3uA40wBBWU"
  type="text/javascript"></script>
  <script>
	jQuery(function(){
		 jQuery('#datetime2').datetimepicker({
		  format:'d-m-Y H:i',
		  closeOnDateSelect:'true',
		  minDate: 0,
		  onShow:function( ct ){
		   this.setOptions({
		    maxDate:jQuery('#datetime3').val()?jQuery('#datetime3').val():false
		   })
		  },
		 
		 });
		 jQuery('#datetime3').datetimepicker({
		  format:'d-m-Y H:i',
		  closeOnDateSelect:'true',
		  onShow:function( ct ){
		   this.setOptions({
		    minDate:jQuery('#datetime2').val()?jQuery('#datetime2').val():false
		   })
		  },
		  
		 });
		});
	 
	</script>
<script type="text/javascript">
		/*$(function(){
			$('#datetime2').appendDtpicker();	
		});
		*/
		//var x = document.cookie;
		//$('#citycookie').val(x);
		
	</script>
	<script type="text/javascript">
		/*$(function(){
			$('#datetime3').appendDtpicker();
			
		});
		*/
			var allcookies = document.cookie;
    		
			
			
	</script>
	<script>
        
    </script>
	<script>
			/*$(document).ready(function(){
				$("#datetime3").change(function(){
					var first=$("#datetime2").val();
					var second=$("#datetime3").val();
					if(first===second)
					{
						alert("Reture date is inavlid please select returndate greaterthan pickupdate");
					}
					else{
						//alert("this is different string");
						//return;
					}
				});
			});*/
		</script>
	<script>
	
		/*$(window).load(function(){        
   $('#myModal').modal('show');
   $("#myModal").modal({
       backdrop: 'static',
       keyboard: false
   });
    });*/
	</script>
	
	
{% endblock %}

{% block body %}

<section class="section clearfix" style="margin-top: -51px;">
    <div class="container">
    	<div class="row">
    		<div class="hotel-title">
                <h3 class="berlin">Find Us In Your City</h3>
                 <hr class="left">
            </div><!-- end hotel-title -->
    	</div>
        <div class="row">
        	<div class="col-md-6">
        	<a href="
        	        {{ path('trip_site_management_bikes_city_sybmit') }}?city=1&name=bengaluru
             ">
        		<img src="{{asset('images/blr-bikes-justtrip.jpg') }}" class="img-center img-responsive">
        		<h3 class="home-portfolio">Bikes On Rent In Bangalore</h3>
        	</a>
        	</div>
        	<div class="col-md-6">
        	<a href="{{ path('trip_site_management_bikes_city_sybmit') }}?city=2&name=tirupathi
        	
        	">
        		<img src="{{asset('images/1.jpg') }}" class="img-center img-responsive">
        		<h3 class="home-portfolio">Bikes On Rent In Tirupati</h3>
        	</a>
        	</div>
        </div>
        <div class="row">
        	<div class="col-md-6">
        		<h3 class="comming-soon berlin">Coming Soon</h3>
        		<img src="{{asset('images/11.jpg') }}" class="img-center img-responsive">
        		<h3 class="home-portfolio">Bikes On Rent In Chennai</h3>
        	</div>
        	<div class="col-md-6">
        		<h3 class="comming-soon berlin">Coming Soon</h3>
        		<img src="{{asset('images/hyd-bikes-justtrip.jpg') }}" class="img-center img-responsive">
        		<h3 class="home-portfolio">Bikes On Rent In Hyderabad</h3>
        	</div>
        </div>
    </div>
</section>
<section class="space"></section>
<section class="section clearfix">
    <div class="container">
        <div class="row">
                       {#} <div class="col-lg-12 col-sm-12 col-xs-12">
                        <a id="mylocationtpt" href="{{ path('trip_site_management_bikes_on_rent_tpt')}}"></a>
                        <a id="mylocationblr" href="{{ path('trip_site_management_bikes_on_rent_blr')}}"></a>
                        <input type="hidden" value="" id="lat">
                        <input type="hidden" value="" id="lang">
                        <div class="hotel-title">
                            <h3>OUR FLEET</h3>
                            <hr class="left">
                        </div><!-- end hotel-title -->
                            {% for bike in bikes %} 
                            <div class="col-md-3" >
                            <div class="bike-background"> 
                            <div>
                            <img src="{{asset('images/bikes/'~bike.imgPath) }}" style="width: 100%;">
                            </div>
                                                           
                                <h4 style="text-align:center;color:#000"><a class="view-bikes-title" href="{{ path('trip_site_management_view_bikes',{ 'url':bike.locationUrl }) }}">{{ bike.title }}</a></h4>
                                <div><h6 style="text-align:center;color:#000">Starts @{{ bike.statingPrice }}</h6></div>
                                 <div class="row">
                                         <div class="col-md-12" >
                                         </div>
                                         <div class="col-md-12" >
                                         {% if (bike.count <= 0) %}
                                          			<a class="btn btn-book-now view-bike" disabled>
                                                      Sold Out
                                                    </a>   
                                          	{% else %}
                                                <a class="btn btn-book-now view-bike" href="{{ path('trip_site_management_view_bikes',{ 'url':bike.locationUrl }) }}">
                                                  Rent Now
                                                </a>
                                            {% endif %}
        								<a class="btn aligncenter view-bike"   href="{{ path('trip_site_management_view_bikes',{'url':bike.locationUrl }) }}">Rent Now</a>
                                         </div>
                                         <div class="col-md-12" >
                                         </div>
                                 </div>
                              
                              </div>
                            </div>
                           {% endfor %}
                    </div>{#}
                    {#}
					 <div class="col-lg-2 col-xs-12 text-center">
					<img src="{{ asset('images/Sidebar.png') }}">
	<h1 style="font-size:20px;">+91-9663133008</h1>
       
		</div>
		{#}
					
          </div>
          
          
          <div id="myModal" class="modal fade" role="dialog" data-keyboard="false" data-backdrop="static">
              <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                  <div class="bike-search-modal-header">
                  	<div class="row">
                  		<div class="col-md-3">
                  			<h4 class="bikes-search-locationspop">Looking To Rent A Bike</h4>
                    	</div>
                    	<div class="col-md-2">
                    		<h4 class="bikes-search-locationspop2">Bike</h4>
                    	</div>
                    	<div class="col-md-7">
                    		{#}<button type="button" class="close" data-dismiss="modal">&times;</button>{#}
                    	</div>
                  	</div>
                  </div>
                  <div class="modal-body">
                    <div class="row">
                    	<div class="col-md-1">
                    	</div>
                    	<div class="col-md-11">
                    		<h4 class="bikes-search-popup-heading1">Find Us In Your City</h4>
                    		<strong class="strong-city-popup">India</strong>
                    		<div class="row">
                    			<div class="col-md-1">
                    			</div>
                    			{% for city in bikesmaincity %}
                    			{% if city.active==1 %}
                    			<div class="col-md-5">
                    				<a href="{{ path('trip_site_management_bikes_city',{ 'cityid':city.url,'url':city.suburl }) }}">
                    				<img src="{{asset('images/'~city.img) }}" class="img-center">
                    				<h4 class="bikes-search-popup-heading2">{{ city.url }}</h4>
                    				</a>
                    			</div>
                    			{% endif %}
                    			{% endfor %}
                    			<div class="col-md-1">
                    			</div>
                    		</div>
                    	</div>
                    </div>
                    <div class="row">
                    	
                    		<a href=""></a>
                    	
                    </div>
                  </div>
                  <div class="bike-search-modal-header text-center">
                    <strong class="footer-cont">Select city to continue</strong>
                  </div>
                </div>
            
              </div>
            </div>
    </div>
</section>
<section class="section clearfix section-bottom fullscreen background parallax sec-bg">
		<div class="container">
			<div class="hotel-title">
                <h3 class="berlin">Do you have Questions?</h3>
                <hr class="left">
            </div><!-- end hotel-title -->
            <div class="row">
            	<div class="col-md-6">
            		<img src="{{ asset('images/justtrip-questions.png') }}" alt="" class="img-responsive">
            	</div>
            	<div class="col-md-6">
            		<div class="que">
            		<p class="berlin have-question">Have any Doubts?</p>
            		<p class="berlin">Have an issue or want to know about how things work?<br> Just ring us up! We would love to hear you out!</p>
            		<p class="berlin">Call us 24/7 Support</p>
            		<h2 class="que-numb berlin">+91-9663133008</h2>
            		</div>
            	</div>
            </div>
        </div>
    </section>
    <section class="section" data-img-width="1920" data-img-height="586" data-diff="10">
        <div class="container">
            <div id="testimonials">
                 <div class="testi-item">
                    <div class="hotel-title text-center">
                        <h3 class="berlin">THANKS YOU TRIPS! THIS IS AMAZING TRAVEL!</h3>
                        <hr>
                        <p>It was nice service provided by Just Trip, it was my first journey to tirupati.Just Trip people are so helpfull :)</p>
                        <h6>- Ravi / TCS Mumbai</h6>
                    </div>
                </div><!-- end testi-item -->

                <div class="testi-item">
                    <div class="hotel-title text-center">
                        <h3>THANKS YOU TRIPS! THIS IS AMAZING TRAVEL!</h3>
                        <hr>
                        <p>It was nice service provided by Just Trip, it was my first journey to tirupati.Just Trip people are so helpfull :)</p>
                        <h6>- Ravi / TCS Mumbai</h6>
                    </div>
                </div><!-- end testi-item -->
            </div><!-- end testimonials -->
        </div><!-- end container -->
    </section><!-- end section -->
    <section>
{% endblock %}