{% extends 'page.html.twig' %}
{% block javascripts %}

<script>
    $("#result").on('click', '.jobStatus', function (e) {
	 e.preventDefault(); //STOP default action
	 var id = $(this).attr('href');
  var status = $(this).attr('value');
  var link = $(this);
	   $.ajax({
	       url: "{{ path('trip_site_management_change_status') }}",
	       type: "GET",
	       data: { 'id': id,'status':status },
	       success: function(data) {
			if(data=='true'){
			var newStatus = 'Open';
			if(status=='Open')
			 newStatus = 'Close';
			link.attr('value',newStatus);
			link.html(newStatus);
			alert('Done');
			}else{
			alert('Error');
			}
	       },
	       error: function(XMLHttpRequest, textStatus, errorThrown)
	       {
	           alert('Error: ' +  errorThrown);
	       }
	   });
});
</script>

{% endblock %}
{% block body %}

    <section class="section clearfix">
        <div class="container">
            <div class="row">
                <div id="fullwidth" class="col-sm-12">
                       <div class="row">
   <div class="form_details col-lg-12 col-sm-12 bottom-buffer1">
   {{ form_start(form) }}
   {{ form_errors(form) }}
   
	<div class="row">
			 <div class="col-lg-3 col-sm-3">
			<div class="row form-group {% if form.start_date.vars.errors|length %}has-error{% endif %}">
                    <div class="col-lg-5 remove_margin">
                            {{ form_label(form.start_date) }}
                        </div>
                        <div class="col-lg-7">
                        	
                            {{ form_widget(form.start_date) }}
                        </div>
                       </div>
                      </div>
                     
			
             <div class="col-lg-3 col-sm-3">
            <div class="row form-group {% if form.end_date.vars.errors|length %}has-error{% endif %}">
                    <div class="col-lg-5">
                            {{ form_label(form.end_date) }}
                        </div>
                        <div class="col-lg-7">
                        <div class="row">
                        	{{ form_widget(form.end_date) }}
                        	</div>
                             </div>
                            </div>
            </div>
            <div class="col-lg-3 col-sm-3">
          
			     <div class="row form-group {% if form.bookingId.vars.errors|length %}has-error{% endif %}">
                    <div class="col-lg-5">
                            {{ form_label(form.bookingId) }}
                        </div>
                        <div class="col-lg-6">
                       		 <div class="row">
                           {{ form_widget(form.bookingId) }}
                     		</div>
                        </div>
               
			         </div>
			 </div>
                            
                          
				<div class="col-lg-2 col-sm-2">
				{{ form_widget(form.submit,{ 'attr': {'class': 'btn-system'}}) }}
					{{ form_end(form) }}
				</div>
								
			
			</div>
                    
                    <div class="">
                    <table id="result" class="table table-bordered col-lg-12 col-sm-12">
					{% if bookings|length>0 %}
						<a href="{{ path('trip_site_management_export_bookings') }}">Export Bookings</a>
					{% endif %}
	               {% if bookings|length>0 %}	
                          <tr class="blue">
                                <th>Booking Id #</th>
                                <th>Name</th>
                                <th>Mobile</th>
                               <th>Email</th>
                                <th>Booked On </th>
                                <th>Total Price</th>
                                <th>Discount</th>
                                <th>CGST</th>
                                 <th>SGST</th>
                                <th>Final Price</th>
                                <th> Amount Paid </th>
                                <th> Payment Id </th>
                                <th> Status </th>
                                <th> action </th>
							</tr>	
							
					{% endif %}			
						
                     {% for booking in bookings if bookings|length>0 %}
                   
                       	
                        <tr class="wrap-text">
                            <td>{{ booking.bookingId }}</td> 
                            {% for customer in customers %}
                       			{% if booking.customerId==customer.id %}
                             <td>{{ customer.name }}</td> 
                            <td>{{ customer.mobile }}</td> 
                            <td>{{ customer.email }}</td> 
                                {% endif %}
                       		{% endfor %}
                            <td>{{ booking.bookedOn|date('d/m/Y') }}</td>
                            <td>{{ booking.totalPrice }}</td>
                            <td>{{ booking.discount }}</td>
                            <td>{{ booking.swachBharthCess }}</td>
                            <td>{{ booking.krishiKalyanCess }}</td>
                            <td>{{ booking.finalPrice }}</td>
                            <td>{{ booking.amountPaid }}</td>
                            <td>{{ booking.paymentId }}</td>
                            <td>{{ booking.status }}</td>
                            <td><a href="{{ booking.id }}" class="jobStatus" value="{% if booking.jobStatus=='Open' %}Close{% else %}Open{% endif %}">
                                {% if booking.jobStatus=='Open' %} Close {% else %} Open {% endif %}
                                </a> </td>
                        </tr>
                       	 	<tr class="wrap-text">
                       	 	{% for bikesbooking in bikesbookings %}
                             	{% if booking.id==bikesbooking.bikebookingid %}
                             	<td>{{ bikesbooking.bikename }}</td>
                             	<td>{{ bikesbooking.price }}</td>
                             	<td>{{ bikesbooking.pdate }}</td>
                             	<td>{{ bikesbooking.rdate }}</td>
                             	<td>{{ bikesbooking.leftdays }}</td>
                             	<td>{{ bikesbooking.hours }}</td>
                             	<td>{{ bikesbooking.bikelocation }}</td>
                             	<td>{{ bikesbooking.bikearea }}</td>
                             	{% endif %}
                        	 {% endfor %}
                            </td>
                        </tr>
                    
                    {% endfor %}
                        </table>
                        
                    </div>
                </div>
            </div>
        </div>
</section>
{% endblock %}