{% extends 'page.html.twig' %}
{% block javascripts %}
<script>
$("select").change(function() {
			$("#search").submit();						
		});
		 $("input").blur(function() {
			$("#search").submit();						
		});
    
    
 // keep track of how many city fields have been rendered

 var itineraryCount = '{{ form.itineraryList|length }}';
 
    $('#add-another-itinerary').click(function(e) {
            e.preventDefault();
            /*if(itemCount>4){
                alert('Max 5 only');
                exit();
            }*/

            var itineraryList = $('#itinerary-list');

            // grab the prototype template
            var newWidget = itineraryList.attr('data-prototype');
            // replace the "__name__" used in the id and name of the prototype
            // with a number that's unique to your city
            newWidget = newWidget.replace(/__name__/g, itineraryCount);
            itineraryCount++;

            // create a new list element and add it to the list
            var newLi = $('<div></div>').html(newWidget);
            newLi.appendTo(itineraryList);
        });


    var contentCount = '{{ form.contentList|length }}';

    $('#add-another-content').click(function(e) {
            e.preventDefault();
            /*if(itemCount>4){
                alert('Max 5 only');
                exit();
            }*/

            var contentList = $('#content-list');

            // grab the prototype template
            var newWidget = contentList.attr('data-prototype');
            // replace the "__name__" used in the id and name of the prototype
            // with a number that's unique to your city
            newWidget = newWidget.replace(/__name__/g, contentCount);
            contentCount++;

            // create a new list element and add it to the list
            var newLi = $('<div></div>').html(newWidget);
            newLi.appendTo(contentList);
        });
    
 // keep track of how many city fields have been rendered

 

    $(".itinerary-tbl").on('click', '.delete', function (e) {
    	e.preventDefault(); //STOP default action
    	  var url = $(this).attr('href');
    	   var name = $(this).attr('title');
            if (!confirm(" "+name+" details will be deleted permanently form the system, please confirm")) {
    		            exit();
    		  }	
    	  var tr = $(this).parent().parent();
    		        $.ajax({
    					url: url,
    					type: "GET",
    					success: function(data) {
    						//alert(data); 
    						if(data=='true'){
    							tr.remove();
    						}else{
    							$('#error').html(data);
    						}
    					},
    					
    					error: function(XMLHttpRequest, textStatus, errorThrown)
    					{
    					 alert('Error: ' +  errorThrown);
    					}
    				});			       
    });

    $("#content-tbl").on('click', '.delete', function (e) {
    	e.preventDefault(); //STOP default action
    	  var url = $(this).attr('href');
    	   var name = $(this).attr('title');
            if (!confirm(" "+name+" details will be deleted permanently form the system, please confirm")) {
    		            exit();
    		  }	
    	  var tr = $(this).parent().parent();
    		        $.ajax({
    					url: url,
    					type: "GET",
    					success: function(data) {
    						//alert(data); 
    						if(data=='true'){
    							tr.remove();
    						}else{
    							$('#error').html(data);
    						}
    					},
    					
    					error: function(XMLHttpRequest, textStatus, errorThrown)
    					{
    					 alert('Error: ' +  errorThrown);
    					}
    				});			       
    });
	
</script>

<script>


$("#resultimg").on('click',".delete", function (e) {
		e.preventDefault();
		var deleteUrl  = $(this).attr('href');
		 if (!confirm("This Images  will be deleted permanently form the system, please confirm")) {
	            exit();
	        }
	  		 var id = $(this).attr('value');
	  		 var tr = $(this).parent().parent();
		    	   $.ajax({
   	     	 
    	       url: deleteUrl,
    	       type: "GET",
    	       data: { 'id': id },
    	       success: function(data) {	
    	    	   $("#isdeleted").val("0");
    	    	  //swal('Deactivated Successfully !');
    	    	   alert('Package Image deleted'); 
    			  tr.remove();
    	       },
  	       error: function(XMLHttpRequest, textStatus, errorThrown)
    	       {
  	           alert('Error: ' +  errorThrown);
    	       }
    	   });
	});			

	

</script>


<script type="text/javascript">

//keep track of how many city fields have been rendered
var imageCount = '{{ form.imageList|length }}';

$('#add-another-image').click(function(e) {
        e.preventDefault();
        /*if(itemCount>4){
            alert('Max 5 only');
            exit();
        }*/

        var imageList = $('#image-list');

        // grab the prototype template
        var newWidget = imageList.attr('data-prototype');
        // replace the "__name__" used in the id and name of the prototype
        // with a number that's unique to your city
        newWidget = newWidget.replace(/__name__/g, imageCount);
        imageCount++;

        // create a new list element and add it to the list
        var newLi = $('<div></div>').html(newWidget);
        newLi.appendTo(imageList);
    });

</script>
{% endblock %}
{% block body %}

<section class="section clearfix">
        <div class="container">
		
            <div class="row">
				<div class="col-md-12" >
				
					{%set url=package.packageUrl ~ '-' ~ package.code%}
					{{url}}
					{%set package_id = package.id%}
					{{package_id}}
				<a style="float:right;text-decoration: none;color: #ffffff;background-color: #0694b6;padding: 8px 30px 8px 30px;" 
											href="{{ path('trip_site_management_view_package',{'url':url}) }}" target="_blank">View Package</a></div>
				
			</div>
		
		</div>
 </section>

    <section class="section clearfix">
        <div class="container">
            <div class="row">
                <div id="fullwidth" class="col-sm-12">
               <div class="col-lg-12">
                    <span class="package-title">Package Details</span>
                   {{ form_start(form) }}
						<div class="row form-group">
                            <div class="col-lg-12">
                            	{{ form_label(form.name) }}
                                {{ form_widget(form.name) }}
                            </div> 
                                                    
                        </div>
                     <div class="row form-group">
                            <div class="col-lg-12">
                            	{{ form_label(form.title) }}
                                {{ form_widget(form.title) }}
                            </div> 
                                                    
                    	</div>
                     <div class="row form-group">
                            <div class="col-lg-12">
                            	{{ form_label(form.overview) }}
                                {{ form_widget(form.overview) }}
                            </div> 
                                                    
                        </div>  
                     <div class="row form-group">
                            <div class="col-lg-12">
                            	{{ form_label(form.metaTitle) }}
                                {{ form_widget(form.metaTitle) }}
                            </div> 
                                                    
                        </div>  
                     <div class="row form-group">
                            <div class="col-lg-12">
                            	{{ form_label(form.metaKeywords) }}
                                {{ form_widget(form.metaKeywords) }}
                            </div> 
                                                    
                        </div>   
                      <div class="row form-group">
                            <div class="col-lg-12">
                            	{{ form_label(form.metaDescription) }}
                                {{ form_widget(form.metaDescription) }}
                            </div> 
                                                    
                        </div>  
                        <div class="row form-group">
                            <div class="col-lg-12">
                            	{{ form_label(form.active) }}
                                {{ form_widget(form.active) }}
                            </div> 
                                                    
                        </div>
                        <div class="row form-group">
                           <div class="col-lg-12">
                            	{{ form_label(form.type) }}
                                {{ form_widget(form.type) }}
                            </div> 
                                                    
                        </div>   
                        <div class="row form-group">
                           <div class="col-lg-12">
                            	{{ form_label(form.packageUrl) }}
                                {{ form_widget(form.packageUrl) }}
                            </div> 
                                                    
                        </div>   
                      
                      <span class="package-title">Existing Itinerary</span>
            <div class="row">
                <div id="fullwidth" class="col-sm-12">
					<table class="table table-bordered col-lg-12 col-sm-12 itinerary-tbl">
					<tr>
						<th>Sl.No</th>
						<th>Title</th>						
						<th>/</th>
					</tr>
						{% for i in itineraryList %} 
                        <tr>
                        	<td>{{ loop.index }}</td>
							 <td>
                                {{ i.title }}
                            </td>							
							<td>
								<a href="{{ path('trip_site_management_edit_itinerary',{ 'id': i.id }) }}"><i class="fa fa-pencil-square-o"></i></a>
								<a href="{{ path('trip_site_management_delete_itinerary',{ 'id': i.id }) }}" class="delete" title="{{ i.title }}"><i class="fa fa-trash-o"></i></a>
								
							</td>
                        </tr>
                    {% endfor %}
					</table>
						<a href="#" id="add-another-itinerary">Add another Itinerary</a><br>
                        	<span class="package-title">New Itinerary</span>
                		
                         {% macro information_prototype(j) %}
                        	<div class="row form-group">
                            <div class="col-lg-12">
                            <label>Title</label>
                                {{ form_widget(j.title) }}
                            </div> 
                            <div class="col-lg-12">
                            <label>Description</label>
                                {{ form_widget(j.description) }}
                            </div> 
                        </div>
                     {% endmacro %}
                        <div id="itinerary-list"
                            data-prototype="{{ _self.information_prototype(form.itineraryList.vars.prototype)|e }}">
                            {% for j in form.itineraryList %}
                            {{ _self.information_prototype(j) }}
                            {% endfor %}
                        </div>
                </div>
            </div>
                 
            <div class="row">
                <div id="fullwidth" class="col-sm-12">
                    	<span class="package-title">Existing Package</span>
                            <div class="row">
                                <div id="fullwidth" class="col-sm-12">
                					<table class="table table-bordered col-lg-12 col-sm-12 itinerary-tbl">
                					<tr>
                						<th>Sl.No</th>
                						<th>Title</th>						
                						<th>/</th>
                					</tr>
                						{% for i in contentList %} 
                                        <tr>
                                        	<td>{{ loop.index }}</td>
                							 <td>
                                                {{ i.title }}
                                            </td>							
                							<td>
                								<a href="{{ path('trip_site_management_edit_package_content',{ 'id': i.id }) }}"><i class="fa fa-pencil-square-o"></i></a>
                								<a href="{{ path('trip_site_management_delete_package_content',{ 'id': i.id }) }}" class="delete" title="{{ i.title }}"><i class="fa fa-trash-o"></i></a>								
                							</td>
                                        </tr>
                                    {% endfor %}
                					</table>
                                </div>
                            </div>
            	<a href="#" id="add-another-content">Add another Content</a><br>   
                     <span class="package-title">New Package</span>
                     {% macro content_prototype(j) %}
                        <div class="row form-group">
                            <div class="col-lg-12">
                            	<label>Title</label>
                                {{ form_widget(j.title) }}
                            </div> 
                            <div class="col-lg-12">
                            	<label>Description</label>
                                {{ form_widget(j.description) }}
                            </div> 
                         </div>
                         {% endmacro %}
                         <div id="content-list"
                            data-prototype="{{ _self.content_prototype(form.contentList.vars.prototype)|e }}">
                            {% for j in form.contentList %}
                             {{ _self.content_prototype(j) }}
                            {% endfor %}
                        </div>
            	</div>
            </div> 
             <div class="row">
                <div id="fullwidth" class="col-sm-12">                                                  
            <span class="package-title">Existing Package Prices</span>
                
					<table class="table table-bordered col-lg-12 col-sm-12 itinerary-tbl">
					<tr>
						<th>Sl.No</th>
						<th>Package Name</th>
						<th>vehicleId</th>
						<th>Price</th>						
						<th>/</th>
					</tr>
						{% for i in packageprice %} 
                        <tr>
                        	<td>{{ loop.index }}</td>
							 <td>{{ i.name }}</td>
							 <td>{{ i.vehicleId }}</td>
							 <td>{{ i.price }}</td>							
							<td>
								<a href="{{ path('trip_site_management_edit_package_Price',{ 'id': i.id }) }}"><i class="fa fa-pencil-square-o"></i></a>
								<a href="{{ path('trip_site_management_delete_package_Price',{ 'id': i.id }) }}" class="delete" title="{{ i.name }}"><i class="fa fa-trash-o"></i></a>								
							</td>
                        </tr>
                    {% endfor %}
					</table>
                      
                </div>
                </div>                          
     			<div class="row">
                <div id="fullwidth" class="col-sm-12">                                                  
            <span class="package-title">Existing Pickup Location</span>
                	<table class="table table-bordered col-lg-12 col-sm-12 itinerary-tbl">
					<tr>
						<th>Sl.No</th>
						<th>location Name</th>					
						<th>/</th>
					</tr>
						{% for i in pickuplocation %} 
                        <tr>
                        	<td>{{ loop.index }}</td>
							 <td>{{ locations[i.name].name }}</td>
							<td>
								<a href="{{ path('trip_site_management_edit_pickup_location',{ 'id': i.id }) }}"><i class="fa fa-pencil-square-o"></i></a>
								<a href="{{ path('trip_site_management_delete_pickup_location',{ 'id': i.id }) }}" class="delete" title="{{ i.name }}"><i class="fa fa-trash-o"></i></a>								
							</td>
                        </tr>
                    {% endfor %}
					</table>
                      
                </div>
                </div> 
                <div class="row">
                <div id="fullwidth" class="col-sm-12">                                                  
            <span class="package-title">Existing Place To Visit Location</span>
                	<table class="table table-bordered col-lg-12 col-sm-12 itinerary-tbl">
					<tr>
						<th>Sl.No</th>
						<th>location Name</th>					
						<th>/</th>
					</tr>
						{% for i in placetovisitlocation %} 
                        <tr>
                        	<td>{{ loop.index }}</td>
							 <td>{{ locations[i.name].name }}</td>
							<td>
								<a href="{{ path('trip_site_management_edit_placetovisit_location',{ 'id': i.id }) }}"><i class="fa fa-pencil-square-o"></i></a>
								<a href="{{ path('trip_site_management_delete_placetovisit_location',{ 'id': i.id }) }}" class="delete" title="{{ i.name }}"><i class="fa fa-trash-o"></i></a>								
							</td>
                        </tr>
                    {% endfor %}
					</table>
                      
                </div>
                </div>    
                <div class="row">
                <div id="fullwidth" class="col-sm-12">                                                  
            <span class="package-title">Existing Drop Location</span>
                	<table class="table table-bordered col-lg-12 col-sm-12 itinerary-tbl">
					<tr>
						<th>Sl.No</th>
						<th>location Name</th>					
						<th>/</th>
					</tr>
						{% for i in droplocation %} 
                        <tr>
                        	<td>{{ loop.index }}</td>
							 <td>{{ locations[i.name].name }}</td>
							<td>
								<a href="{{ path('trip_site_management_edit_drop_location',{ 'id': i.id }) }}"><i class="fa fa-pencil-square-o"></i></a>
								<a href="{{ path('trip_site_management_delete_drop_location',{ 'id': i.id }) }}" class="delete" title="{{ i.name }}"><i class="fa fa-trash-o"></i></a>								
							</td>
                        </tr>
                    {% endfor %}
					</table>
                      
                </div>
                </div>
  <div class="row">
  <div class="col-sm-2">                      
           <span class="package-title"> Existing Images</span>
         <div id="resultimg">
{% for i in Images %}
{#}<a href="{{ path('trip_site_management_delete_package_image',{ 'id': i.id }) }}" class="delete" value="{{ i.id }}">{#}

<div class="show-image" >
<img src="{{ asset('images/packages/'~i.url)}}" class="hotel-box-img" style="width:80%;" />
<a href="{{ path('trip_site_management_delete_package_image',{ 'id': i.id }) }}" class="close delete" id="guestclose">&times;</a>
</div>
{#}</a>{#}
{% endfor %}
</div>
<div>
 <a href="#" id="add-another-image">Add another Image</a><br>
    {% macro image_prototype(i) %}
            <div class="row form-group ">
	            <div class="col-lg-6">
	                      {{ form_label(i.url) }}
	                  </div> 
	                                                   
	                            <div class="col-lg-6">
	                            	
	                                {{ form_widget(i.url) }}
	                            </div> 
                                                    
                        	</div>
                     {% endmacro %}
                     <div id="image-list"
                 data-prototype="{{ _self.image_prototype(form.imageList.vars.prototype)|e }}">
                            {% for i in form.imageList %}
                            	{{ _self.image_prototype(i) }}
                            {% endfor %}
                        </div>
         </div>
                </div>
                 <div class="col-sm-10">
                 </div> 
                </div>
                    {{ form_end(form) }}
                    </div>
                </div>
            </div>
		</div>
    </section>
{% endblock %}