{% extends 'page.html.twig' %}
{% block javascripts %}
<script>
$("select").change(function() {
			$("#search").submit();						
		});
		 $("input").blur(function() {
			$("#search").submit();						
		});
    
    
 // keep track of how many city fields have been rendered

 var itineraryCount = '{{ form.itineraryList|length }}';
 
    $('#add-another-itinerary').click(function(e) {
            e.preventDefault();
            /*if(itemCount>4){
                alert('Max 5 only');
                exit();
            }*/

            var itineraryList = $('#itinerary-list');

            // grab the prototype template
            var newWidget = itineraryList.attr('data-prototype');
            // replace the "__name__" used in the id and name of the prototype
            // with a number that's unique to your city
            newWidget = newWidget.replace(/__name__/g, itineraryCount);
            itineraryCount++;

            // create a new list element and add it to the list
            var newLi = $('<div></div>').html(newWidget);
            newLi.appendTo(itineraryList);
        });


    var contentCount = '{{ form.contentList|length }}';

    $('#add-another-content').click(function(e) {
            e.preventDefault();
            /*if(itemCount>4){
                alert('Max 5 only');
                exit();
            }*/

            var contentList = $('#content-list');

            // grab the prototype template
            var newWidget = contentList.attr('data-prototype');
            // replace the "__name__" used in the id and name of the prototype
            // with a number that's unique to your city
            newWidget = newWidget.replace(/__name__/g, contentCount);
            contentCount++;

            // create a new list element and add it to the list
            var newLi = $('<div></div>').html(newWidget);
            newLi.appendTo(contentList);
        });
    
 // keep track of how many city fields have been rendered

    $('#add-another-image').click(function(e) {
            e.preventDefault();
            /*if(itemCount>4){
                alert('Max 5 only');
                exit();
            }*/

            var imageList = $('#image-list');

            // grab the prototype template
            var newWidget = imageList.attr('data-prototype');
            // replace the "__name__" used in the id and name of the prototype
            // with a number that's unique to your city
            newWidget = newWidget.replace(/__name__/g, imageCount);
            imageCount++;

            // create a new list element and add it to the list
            var newLi = $('<div></div>').html(newWidget);
            newLi.appendTo(imageList);
        });

    $("#itinerary-tbl").on('click', '.delete', function (e) {
    	e.preventDefault(); //STOP default action
    	  var url = $(this).attr('href');
    	   var name = $(this).attr('title');
            if (!confirm(" "+name+" details will be deleted permanently form the system, please confirm")) {
    		            exit();
    		  }	
    	  var tr = $(this).parent().parent();
    		        $.ajax({
    					url: url,
    					type: "GET",
    					success: function(data) {
    						//alert(data); 
    						if(data=='true'){
    							tr.remove();
    						}else{
    							$('#error').html(data);
    						}
    					},
    					
    					error: function(XMLHttpRequest, textStatus, errorThrown)
    					{
    					 alert('Error: ' +  errorThrown);
    					}
    				});			       
    });

    $("#content-tbl").on('click', '.delete', function (e) {
    	e.preventDefault(); //STOP default action
    	  var url = $(this).attr('href');
    	   var name = $(this).attr('title');
            if (!confirm(" "+name+" details will be deleted permanently form the system, please confirm")) {
    		            exit();
    		  }	
    	  var tr = $(this).parent().parent();
    		        $.ajax({
    					url: url,
    					type: "GET",
    					success: function(data) {
    						//alert(data); 
    						if(data=='true'){
    							tr.remove();
    						}else{
    							$('#error').html(data);
    						}
    					},
    					
    					error: function(XMLHttpRequest, textStatus, errorThrown)
    					{
    					 alert('Error: ' +  errorThrown);
    					}
    				});			       
    });
	
</script>
{% endblock %}
{% block body %}

<section class="section clearfix">
        <div class="container">
		
            <div class="row">
				<div class="col-md-12" >
				
					{%set url=package.packageUrl ~ '-' ~ package.code%}
					{{url}}
					{%set package_id = package.id%}
					{{package_id}}
				<a style="float:right;text-decoration: none;color: #ffffff;background-color: #0694b6;padding: 8px 30px 8px 30px;" 
											href="{{ path('trip_site_management_view_package',{'url':url}) }}" target="_blank">View Package</a></div>
				
			</div>
		
		</div>
 </section>

    <section class="section clearfix">
        <div class="container">
            <div class="row">
                <div id="fullwidth" class="col-sm-12">
               <div class="col-lg-12">
                    
                   {{ form_start(form) }}
                   <div class="row form-group">
                            <div class="col-lg-12">
                            	{{ form_label(form.title) }}
                                {{ form_widget(form.title) }}
                            </div> 
                                                    
                    </div>
                     <div class="row form-group">
                            <div class="col-lg-12">
                            	{{ form_label(form.name) }}
                                {{ form_widget(form.name) }}
                            </div> 
                                                    
                        </div>
                     <div class="row form-group">
                            <div class="col-lg-12">
                            	{{ form_label(form.overview) }}
                                {{ form_widget(form.overview) }}
                            </div> 
                                                    
                        </div>   
                     <div class="row form-group">
                            <div class="col-lg-12">
                            	{{ form_label(form.metaKeywords) }}
                                {{ form_widget(form.metaKeywords) }}
                            </div> 
                                                    
                        </div>   
                      <div class="row form-group">
                            <div class="col-lg-12">
                            	{{ form_label(form.metaDescription) }}
                                {{ form_widget(form.metaDescription) }}
                            </div> 
                                                    
                        </div>   
                       <div class="row form-group">
                            <div class="col-lg-12">
                            	{{ form_label(form.metaTitle) }}
                                {{ form_widget(form.metaTitle) }}
                            </div> 
                                                    
                        </div>                        
                        
                        
                      <div class="row form-group">
                           <div class="col-lg-12">
                            	{{ form_label(form.packageUrl) }}
                                {{ form_widget(form.packageUrl) }}
                            </div> 
                                                    
                        </div>   
                        
                   <div class="row form-group">
                           <div class="col-lg-12">
                            	{{ form_label(form.type) }}
                                {{ form_widget(form.type) }}
                            </div> 
                                                    
                        </div>   
                        
                    <div class="row form-group">
                            <div class="col-lg-12">
                            	{{ form_label(form.active) }}
                                {{ form_widget(form.active) }}
                            </div> 
                                                    
                        </div>
                        
                         <h4>Itinerary</h4>
                		<div class="row">               		
                			<div class="col-lg-6">
                            	<label>Title</label>
                            </div> 
                            <div class="col-lg-6">
                            	<label>Description</label>
                            </div> 
                		</div>
                     {% macro information_prototype(j) %}
                        <div class="row form-group">
                            <div class="col-lg-6">
                                {{ form_widget(j.title) }}
                            </div> 
                                                    
                            <div class="col-lg-6">
                            	
                                {{ form_widget(j.description) }}
                            </div> 
                                                    
                        </div>
                   
                            
                        {% endmacro %}
                        <div id="itinerary-list"
                                                data-prototype="{{ _self.information_prototype(form.itineraryList.vars.prototype)|e }}">
                            {% for j in form.itineraryList %}
                             <div class="row form-group">
	                            <div class="col-lg-6">
	                                {{ form_widget(j.title) }}
	                            </div> 
	                                                    
	                            <div class="col-lg-6">
	                            	
	                                {{ form_widget(j.description) }}
	                            </div> 
                                                    
                        	</div>
                            {% endfor %}
                        </div>
                    <a href="#" id="add-another-itinerary">Add another Itinerary</a> 
                    
                    
                     <h4>Package Content</h4>
                     
                     <div class="row">               		
                			<div class="col-lg-6">
                            	<label>Title</label>
                            </div> 
                            <div class="col-lg-6">
                            	<label>Description</label>
                            </div> 
                		</div>
                    
                    {% macro content_prototype(j) %}
                        <div class="row form-group">
                            <div class="col-lg-6">
                                {{ form_widget(j.title) }}
                            </div> 
                                                    
                            <div class="col-lg-6">
                            	
                                {{ form_widget(j.description) }}
                            </div> 
                                                    
                        </div>
                   
                            
                        {% endmacro %}
                        <div id="content-list"
                                                data-prototype="{{ _self.content_prototype(form.contentList.vars.prototype)|e }}">
                            {% for j in form.contentList %}
                             {{ _self.content_prototype(j) }}
                            {% endfor %}
                        </div>
                    <a href="#" id="add-another-content">Add another Content</a>                                            
                    
                    {{ form_end(form) }}
                    </div>
                </div>
            </div>
			
            <h4>Existing Itinerary</h4>
            <div class="row">
                <div id="fullwidth" class="col-sm-12">
					<table class="table table-bordered col-lg-12 col-sm-12" id="itinerary-tbl">
					<tr>
						<th>Sl.No</th>
						<th>Title</th>						
						<th>/</th>
					</tr>
						{% for i in itineraryList %} 
                        <tr>
                        	<td>{{ loop.index }}</td>
							 <td>
                                {{ i.title }}
                            </td>							
							<td>
								<a href="{{ path('trip_site_management_edit_itinerary',{ 'id': i.id }) }}"><i class="fa fa-pencil-square-o"></i></a>
								<a href="{{ path('trip_site_management_delete_itinerary',{ 'id': i.id }) }}" class="delete" title="{{ i.title }}"><i class="fa fa-trash-o"></i></a>
								
							</td>
                        </tr>
                    {% endfor %}
					</table>
                </div>
            </div>
             <h4>Existing Content</h4>
            <div class="row">
                <div id="fullwidth" class="col-sm-12">
					<table class="table table-bordered col-lg-12 col-sm-12" id="content-tbl">
					<tr>
						<th>Sl.No</th>
						<th>Title</th>						
						<th>/</th>
					</tr>
						{% for i in contentList %} 
                        <tr>
                        	<td>{{ loop.index }}</td>
							 <td>
                                {{ i.title }}
                            </td>							
							<td>
								<a href="{{ path('trip_site_management_edit_package_content',{ 'id': i.id }) }}"><i class="fa fa-pencil-square-o"></i></a>
								<a href="{{ path('trip_site_management_delete_package_content',{ 'id': i.id }) }}" class="delete" title="{{ i.title }}"><i class="fa fa-trash-o"></i></a>								
							</td>
                        </tr>
                    {% endfor %}
					</table>
                </div>
            </div>
			
			
			
			
			 <h4>Image List</h4>
			{#} <section>
			 <div class="container">
				<div class="row">
				<div  class="col-sm-1">
					<h3>{{package.id}}<h3>
				</div>
				{% set image_id = 0 %}
				{% for image in packageImages %}
				{% set image_id = image.id %}
					<div  class="col-sm-2">
					
					<a href="{{ asset('images/packages/'~image.url) }}" data-pretty="prettyPhoto[gallery1]" class="portfolio-image">
						<img src="{{ asset('images/packages/'~image.url) }}" alt="" style="width:80px;height:80px;"/>
					
					</div>
					{% endfor %}
					</div>
				<div class="row">
					<div  class="col-sm-3">
					{{ form_start(formupload) }}
						
						{{form_widget(formupload.url)}}
						{{form_label(formupload.package)}}
						{{form_widget(formupload.package,{'attr':{'value': package.id}})}}
					{{ form_end(formupload) }}
					<a href="{{ path('trip_site_management_addPackageImage',{ 'id': image_id }) }}"><i class="fa fa-plus-square-o"></i></a>
					<a href="{{ path('trip_site_management_delete_image',{ 'id': image_id }) }}" class="delete" title=""><i class="fa fa-trash-o"></i></a>								
				</div>
				</div>
			</div>
			</section>{#}
					
					
						 
						
			
        </div>
    </section>
{% endblock %}