{% extends 'page.html.twig' %}
{% block javascripts %}
<script>

var packageCount = '{{ form.packageList|length }}';
 
    $('#add-another-content').click(function(e) {
            e.preventDefault();
            /*if(itemCount>4){
                alert('Max 5 only');
                exit();
            }*/

            var packageList = $('#package-list');

            // grab the prototype template
            var newWidget = packageList.attr('data-prototype');
            // replace the "__name__" used in the id and name of the prototype
            // with a number that's unique to your city
            newWidget = newWidget.replace(/__name__/g, packageCount);
            packageCount++;

            // create a new list element and add it to the list
            var newLi = $('<div></div>').html(newWidget);
            newLi.appendTo(packageList);
        });


    $(".package-tbl").on('click', '.delete', function (e) {
    	e.preventDefault(); //STOP default action
    	  var url = $(this).attr('href');
    	   var name = $(this).attr('title');
            if (!confirm(" "+name+"days Package details will be deleted permanently form the system, please confirm")) {
    		            exit();
    		  }	
    	  var tr = $(this).parent().parent();
    		        $.ajax({
    					url: url,
    					type: "GET",
    					success: function(data) {
    						//alert(data); 
    						if(data=='true'){
    							tr.remove();
    						}else{
    							$('#error').html(data);
    						}
    					},
    					
    					error: function(XMLHttpRequest, textStatus, errorThrown)
    					{
    					 alert('Error: ' +  errorThrown);
    					}
    				});			       
    });
    
    </script>
{% endblock %}
{% block body %}
<section class="section clearfix">
        <div class="container">
            <div class="row">
                <div id="fullwidth" class="col-sm-12">
                <span class="package-title">Existing Content</span>
                   {{ form_start(form) }}
                   <div class="row">
                	<div id="fullwidth" class="col-sm-7">
                      <div class="row form-group">
                            <div class="col-lg-12">
                            	{{ form_label(form.title) }}
                                {{ form_widget(form.title) }}
                            </div> 
                      </div>
                      <div class="row form-group">
                            <div class="col-lg-12">
                            	{{ form_label(form.metatitle) }}
                                {{ form_widget(form.metatitle) }}
                            </div> 
                      </div>
                      <div class="row form-group">
                            <div class="col-lg-12">
                            	{{ form_label(form.metakeywords) }}
                                {{ form_widget(form.metakeywords) }}
                            </div> 
                      </div> <div class="row form-group">
                            <div class="col-lg-12">
                            	{{ form_label(form.metadescription) }}
                                {{ form_widget(form.metadescription) }}
                            </div> 
                      </div> <div class="row form-group">
                            <div class="col-lg-12">
                            	{{ form_label(form.statingprice) }}
                                {{ form_widget(form.statingprice) }}
                            </div> 
                      </div> <div class="row form-group">
                            <div class="col-lg-12">
                            	{{ form_label(form.fivehours) }}
                                {{ form_widget(form.fivehours) }}
                            </div> 
                      </div> <div class="row form-group">
                            <div class="col-lg-12">
                            	{{ form_label(form.dayrent) }}
                                {{ form_widget(form.dayrent) }}
                            </div> 
                      </div> <div class="row form-group">
                            <div class="col-lg-12">
                            	{{ form_label(form.locationurl) }}
                                {{ form_widget(form.locationurl) }}
                            </div> 
                      </div> <div class="row form-group">
                            <div class="col-lg-12">
                            	{{ form_label(form.soldOut) }}
                                {{ form_widget(form.soldOut) }}
                            </div> 
                      </div>
                      <div class="row form-group">
                            <div class="col-lg-12">
                            	{{ form_label(form.count) }}
                                {{ form_widget(form.count) }}
                            </div> 
                      </div> 
                      <div class="row form-group">
                            <div class="col-lg-12">
                            	{{ form_label(form.kmlimit) }}
                                {{ form_widget(form.kmlimit) }}
                            </div> 
                      </div>
                      <div class="row form-group">
                            <div class="col-lg-12">
                            	{{ form_label(form.imgpath) }}
                                {{ form_widget(form.imgpath) }}
                            </div> 
                      </div> 
                     </div>
                    </div> 
                    {{ form_end(form) }}     
                    <div class="row">
            <hr>
                <div id="fullwidth" class="col-sm-6">
					<table class="table table-bordered col-lg-12 col-sm-12">
					<tr>
						<th>Sl.No</th>
						<th>Title</th>
						<th>Url</th>
						
						<th>/</th>
					</tr>
                    {% for bikecities in bikecity %}
                        <tr>
                        	<td>{{ loop.index }}</td>
							 <td>
                                {{ bikecities.title }}
                            </td>
							 <td>
                                {{ bikecities.url }}
                            </td>
							
							<td>
								<a href="{{ path('trip_site_management_edit_bikes_city',{ 'id': bikecities.id }) }}"><i class="fa fa-pencil-square-o"></i></a>
							</td>
                        </tr>
                    {% endfor %}
					</table>
                </div>
                <div id="fullwidth" class="col-sm-6">
                	<h3>Add Bike City</h3>
                	{{ render(controller('TripSiteManagementBundle:SiteManagement:addbikescity')) }}
                </div>
               
            </div>
            <div class="row">
            <hr>
                <div id="fullwidth" class="col-sm-6">
					<table class="table table-bordered col-lg-12 col-sm-12">
					<tr>
						<th>Sl.No</th>
						<th>Area</th>
						<th>Bikes Avilable</th>
						<th>City Name</th>
						<th>/</th>
					</tr>
                    {% for areas in bikecityarea %}
                        <tr>
                        	<td>{{ loop.index }}</td>
							 <td>
                                {{ areas.area }}
                            </td>
							 <td>
                                {{ areas.count }}
                            </td>
							<td>
                                {{ locations[areas.cityid].name }}
                            </td>
							<td>
								<a href="{{ path('trip_site_management_edit_bikes_cityarea',{ 'id': areas.id }) }}"><i class="fa fa-pencil-square-o"></i></a>
							</td>
                        </tr>
                    {% endfor %}
					</table>
                </div>
                <div id="fullwidth" class="col-sm-6">
                	<h3>Add Bike City Area</h3>
                	{{ render(controller('TripSiteManagementBundle:SiteManagement:addbikescityarea')) }}
                </div>
               
            </div>             
    				<div class="row">
                 	<div id="fullwidth" class="col-sm-6">
             	 	  <span class="package-title">Existing Packages</span><br>
						<table class="table table-bordered col-lg-12 col-sm-12 package-tbl">
						 <tr>
						 <th>Sl.No</th>
						 <th>Package Name</th>						
						 <th>/</th>
					     </tr>
						{% for i in bikespackage %} 
                        <tr>
                        	<td>{{ loop.index }}</td>
							 <td>
                                {{ i.packagename }}Days Package
                            </td>							
							<td>
								<a href="{{ path('trip_site_management_edit_bikes_package',{ 'id': i.id }) }}"><i class="fa fa-pencil-square-o"></i></a>
								<a href="{{ path('trip_site_management_delete_bike_package',{ 'id': i.id }) }}" class="delete" title="{{ i.packagename }}"><i class="fa fa-trash-o"></i></a>								
							</td>
                        </tr>
                    {% endfor %}
					</table>
					</div>
					</div>
					<div class="row">
					<a href="#" id="add-another-content">Add another Package</a><br>
				<div id="fullwidth" class="col-sm-6">
					  {% macro information_prototype(j) %}
                         <span class="package-title">New Package</span>
                        	<div class="row form-group">
                        	<div class="row">
                 			<div id="fullwidth" class="col-sm-6">
                         {{ render(controller('TripSiteManagementBundle:SiteManagement:addBikesPackage')) }}
                        </div>
                     {% endmacro %}
                        <div id="package-list"
                            data-prototype="{{ _self.information_prototype(form.packageList.vars.prototype)|e }}">
                            {% for j in form.packageList %}
                            {{ _self.information_prototype(j) }}
                            {% endfor %}
                        </div>
              </div>
              </div>
              </div>
           </div>
          </div>
         </div>
         
        </div> 
    </section>
{% endblock %}