{% extends 'page.html.twig' %}
{% block javascripts %}
<script type="text/javascript">

//keep track of how many city fields have been rendered
var imageCount = '{{ form.imageList|length }}';

$('#add-another-image').click(function(e) {
        e.preventDefault();
        /*if(itemCount>4){
            alert('Max 5 only');
            exit();
        }*/

        var imageList = $('#image-list');

        // grab the prototype template
        var newWidget = imageList.attr('data-prototype');
        // replace the "__name__" used in the id and name of the prototype
        // with a number that's unique to your city
        newWidget = newWidget.replace(/__name__/g, imageCount);
        imageCount++;

        // create a new list element and add it to the list
        var newLi = $('<div></div>').html(newWidget);
        newLi.appendTo(imageList);
    });

</script>
<script type="text/javascript">

//keep track of how many city fields have been rendered
var roomCount = '{{ form.roomList|length }}';

$('#add-another-room').click(function(e) {
        e.preventDefault();
        /*if(itemCount>4){
            alert('Max 5 only');
            exit();
        }*/

        var roomList = $('#room-list');
        

        // grab the prototype template
        var newWidget = roomList.attr('data-prototype1');
        // replace the "__name__" used in the id and name of the prototype
        // with a number that's unique to your city
        newWidget = newWidget.replace(/__name__/g, roomCount);
        roomCount++;

        // create a new list element and add it to the list
        var newLi = $('<div></div>').html(newWidget);
        newLi.appendTo(roomList);

        var s= roomCount-1;
        $("#room_hotelbundle_hoteldetail_roomList_"+s+"_blockStartDate").datepicker({
    	      todayHighlight: true
      }).on('changeDate', function(ev) {
       $(this).datepicker("hide");   
    	 }).data('datepicker');

      $("#room_hotelbundle_hoteldetail_roomList_"+s+"_blockEndDate").datepicker({
    	      todayHighlight: true
    }).on('changeDate', function(ev) {
     $(this).datepicker("hide");   
    	 }).data('datepicker');

      $("#room_hotelbundle_hoteldetail_roomList_"+s+"_promotionStartDate").datepicker({
    	    todayHighlight: true
    	}).on('changeDate', function(ev) {
    	$(this).datepicker("hide");   
    	}).data('datepicker');

      $("#room_hotelbundle_hoteldetail_roomList_"+s+"_promotionEndDate").datepicker({
    	    todayHighlight: true
    	}).on('changeDate', function(ev) {
    	$(this).datepicker("hide");   
    	}).data('datepicker');
        
    });

</script>


<script>


$("#result").on('click',".delete", function (e) {
 		e.preventDefault();
 		var deleteUrl  = $(this).attr('href');
  		 if (!confirm("This details will be deleted permanently form the system, please confirm")) {
  	            exit();
  	        }
 	  		 var id = $(this).attr('value');
 	  		 
 	  		 var tr = $(this).parent().parent();
 		    	   $.ajax({
	   	     	 
	    	       url: deleteUrl,
	    	       type: "GET",
	    	       data: { 'id': id },
	    	       success: function(data) {	
	    	    	  //swal('Deactivated Successfully !');
	    	    	 //$("#room_hotelbundle_hoteldetail_roomList_0_isDeleted").val("0");
	    	    	  $("[data-id*="+id+"]").val("0");
	    	    	   alert('room deleted'); 
	    			  tr.remove();
	    	       },
	  	       error: function(XMLHttpRequest, textStatus, errorThrown)
	    	       {
	  	           alert('Error: ' +  errorThrown);
	    	       }
	    	   });
  	});			


	

</script>
<script>
var roomCount = '{{ form.roomList|length }}';
$(document).ready(function(){  

	var s= roomCount-1;
    $("#room_hotelbundle_hoteldetail_roomList_"+s+"_blockStartDate").datepicker({
	      todayHighlight: true
  }).on('changeDate', function(ev) {
   $(this).datepicker("hide");   
	 }).data('datepicker');

  $("#room_hotelbundle_hoteldetail_roomList_"+s+"_blockEndDate").datepicker({
	      todayHighlight: true
}).on('changeDate', function(ev) {
 $(this).datepicker("hide");   
	 }).data('datepicker');
	
	$('#room_hotelbundle_hoteldetail_roomList_0_blockStartDate').datepicker().on('changeDate', function(ev) {
        $(this).datepicker("hide");   
	 }).data('datepicker');

	
$('#room_hotelbundle_hoteldetail_roomList_0_blockEndDate').datepicker().on('changeDate', function(ev) {
$(this).datepicker("hide");   
}).data('datepicker');




$('#room_hotelbundle_hoteldetail_roomList_0_promotionStartDate').datepicker().on('changeDate', function(ev) {
  $(this).datepicker("hide");   
}).data('datepicker');



$('#room_hotelbundle_hoteldetail_roomList_0_promotionEndDate').datepicker().on('changeDate', function(ev) {
  $(this).datepicker("hide");   
}).data('datepicker');

 
	
});
</script>
<script>
$(document).ready(function(){  	

$('#room_hotelbundle_hoteldetail_hotelblockStartDate').datepicker().on('changeDate', function(ev) {
        $(this).datepicker("hide");   
	 }).data('datepicker');

	
$('#room_hotelbundle_hoteldetail_hotelblockEndDate').datepicker().on('changeDate', function(ev) {
$(this).datepicker("hide");   
}).data('datepicker');
	
});

</script>

<script>


$("#resultimg").on('click',".delete", function (e) {
		e.preventDefault();
		var deleteUrl  = $(this).attr('href');
		 if (!confirm("This Images  will be deleted permanently form the system, please confirm")) {
	            exit();
	        }
	  		 var id = $(this).attr('value');
	  		 var tr = $(this).parent().parent();
		    	   $.ajax({
   	     	 
    	       url: deleteUrl,
    	       type: "GET",
    	       data: { 'id': id },
    	       success: function(data) {	
    	    	   $("#isdeleted").val("0");
    	    	  //swal('Deactivated Successfully !');
    	    	   alert('Hotel Image deleted'); 
    			  tr.remove();
    	       },
  	       error: function(XMLHttpRequest, textStatus, errorThrown)
    	       {
  	           alert('Error: ' +  errorThrown);
    	       }
    	   });
	});			

	

</script>


{% endblock %}

{% block body %}

<div class="container">
<h1 class="page-header">Add Hotel Details</h1>
{{ form_start(form) }}

<div class="col-lg-12 col-sm-12 form-group has-error">
			<ul class="errors">
	            {{ form_errors(form, { 'global_errors': true }) }}
	            {{ form_errors(form.name) }}
	            {{ form_errors(form.city) }}
	            {{ form_errors(form.addressLine1) }}
	            {{ form_errors(form.addressLine2) }}
	            {{ form_errors(form.location) }}
	            {{ form_errors(form.pincode) }}
	            {{ form_errors(form.overview) }}
	            {{ form_errors(form.checkIn) }}
	            {{ form_errors(form.checkOut) }}
	            {{ form_errors(form.category) }}
	            {{ form_errors(form.numRooms) }}
	             {{ form_errors(form.priority) }}
	            {{ form_errors(form.propertyType) }}
	            {{ form_errors(form.active) }}
	            {{ form_errors(form.soldOut) }}
	            {{ form_errors(form.price) }}
	            {{ form_errors(form.url) }}
	            {{ form_errors(form.imageList) }}
	            
	          
            </ul>
            </div>
            
           

	<div class="row">
		<div class="col-lg-12">
			 <div class="row form-group">
                            <div class="col-lg-6">
                            	{{ form_label(form.name) }}
                                {{ form_widget(form.name) }}
                            </div> 
                                                    
                   
                            <div class="col-lg-6">
                            	{{ form_label(form.city) }}
                                {{ form_widget(form.city) }}
                            </div> 
                                                    
                    </div>
                     <div class="row form-group">
                             <div class="col-lg-6">
                            	{{ form_label(form.addressLine1) }}
                                {{ form_widget(form.addressLine1) }}
                            </div> 
                                                    
                    
                            <div class="col-lg-6">
                            	{{ form_label(form.addressLine2) }}
                                {{ form_widget(form.addressLine2) }}
                            </div>
                                                    
                    </div>
                     <div class="row form-group">
                            <div class="col-lg-6">
                            	{{ form_label(form.location) }}
                                {{ form_widget(form.location) }}
                            </div>
                                                    
                   
                           <div class="col-lg-6">
                            	{{ form_label(form.pincode) }}
                                {{ form_widget(form.pincode) }}
                            </div> 
                                                    
                    </div>
                      <div class="row form-group">
                             <div class="col-lg-12">
                            	{{ form_label(form.overview) }}
                                {{ form_widget(form.overview) }}
                            </div>  
                                                    
                    </div>
                    <div class="row form-group">
                             <div class="col-lg-12">
                            	{{ form_label(form.metaTitle) }}
                                {{ form_widget(form.metaTitle) }}
                            </div>  
                                                    
                    </div>
                    <div class="row form-group">
                             <div class="col-lg-12">
                            	{{ form_label(form.metaKeywords) }}
                                {{ form_widget(form.metaKeywords) }}
                            </div>  
                                                    
                    </div>
                    <div class="row form-group">
                             <div class="col-lg-12">
                            	{{ form_label(form.metaDescription) }}
                                {{ form_widget(form.metaDescription) }}
                            </div>  
                                                    
                    </div>
                    
                    
                     <div class="row form-group">
                           <div class="col-lg-6">
                            	{{ form_label(form.checkIn) }}
                                {{ form_widget(form.checkIn) }}
                            </div>
                                                    
                  
                            <div class="col-lg-6">
                            	{{ form_label(form.checkOut) }}
                                {{ form_widget(form.checkOut) }}
                            </div> 
                                                    
                    </div>
                     <div class="row form-group">
                             <div class="col-lg-6">
                            	{{ form_label(form.category) }}
                                {{ form_widget(form.category) }}
                            </div>  
                                                    
                   
                             <div class="col-lg-6">
                            	{{ form_label(form.numRooms) }}
                                {{ form_widget(form.numRooms) }}
                            </div> 
                                                    
                    </div>
                    
                     <div class="row form-group">
                            <div class="col-lg-6">
                            	{{ form_label(form.priority) }}
                                {{ form_widget(form.priority) }}
                            </div> 
                                                    
                    
                            <div class="col-lg-6">
                            	{{ form_label(form.propertyType) }}
                                {{ form_widget(form.propertyType) }}
                            </div> 
                                                    
                    </div>
                     <div class="row form-group">
                            <div class="col-lg-6">
                            	{{ form_label(form.active) }}
                                {{ form_widget(form.active) }}
                            </div>
                                                    
                    
                            <div class="col-lg-6">
                            	{{ form_label(form.soldOut) }}
                                {{ form_widget(form.soldOut) }}
                            </div>  
                     </div>       
                     
                     <div class="row form-group">
                            <div class="col-lg-6">
                            	{{ form_label(form.hotelblockStartDate) }}
                                {{ form_widget(form.hotelblockStartDate,{ 'attr': {'class': 'form-control date-pick'}}) }}
                                
                               
                            </div>
                                                    
                    
                            <div class="col-lg-6">
                            	{{ form_label(form.hotelblockEndDate) }}
                                {{ form_widget(form.hotelblockEndDate,{ 'attr': {'class': 'form-control date-pick'}}) }}
                            </div>  
                     </div>        
                                              
                   <div class="row form-group">
                             <div class="col-lg-6 hidden">
                            	{{ form_label(form.price) }}
                                {{ form_widget(form.price) }}
                            </div> 
                             <div class="col-lg-6">
                            	{{ form_label(form.url) }}
                                {{ form_widget(form.url) }}
                            </div> 
                    </div> 
                      
                        <div class="row form-group">
                            <div class="col-lg-6">
                            	
                                {{ form_widget(form.footerDisplay) }}
                                {{ form_label(form.footerDisplay) }}
                            </div>
                             </div>                       
                                  
                   
		
			
		</div>
	</div>
	
	<h4>Images</h4>
                     
                     {% macro image_prototype(i) %}
                     		<div class="row form-group ">
	                            <div class="col-lg-6">
	                                {{ form_label(i.imagePath) }}
	                            </div> 
	                                                    
	                            <div class="col-lg-6">
	                            	
	                                {{ form_widget(i.imagePath) }}
	                            </div> 
                                                    
                        	</div>
                     {% endmacro %}
                     <div id="image-list"
                                                data-prototype="{{ _self.image_prototype(form.imageList.vars.prototype)|e }}">
                            {% for i in form.imageList %}
                            	{{ _self.image_prototype(i) }}
                            {% endfor %}
                        </div>
                        <div>
         <a href="#" id="add-another-image">Add another Image</a><br>
         </div>
            
         <div id="resultimg">

         
{% for image in hotel.images %}
<a href="{{ path('trip_sitemanagementbundle_delete_hotelImage', {'id': image.id})}}" class="delete" value="{{ image.id }}">

<div class="show-image" >
<a href="{{ path('trip_sitemanagementbundle_delete_hotelImage', {'id': image.id})}}" class="close delete " id="guestclose">&times;</a>
<img src="{{ asset('images/Hotels/'~image.imagePath)}}" class="hotel-box-img fa fa-trash-o delete" width="100%"/>
 {#}<input class="delete" type="button" value="delete" />{#}

{#}<a href="{{ path('room_hotel_delete_hotelImage', {'id': image.id})}}" class="close" value="{{ image.id }}"></a>{#}

</div>

</a>
{% endfor %}
</div>
   
  <div>                          
      {% if hotel.hotelRooms|length>0 %}
			<h4 >Hotel Rooms</h4>
		
		
	<div class="row" id="result">
 	 		<div class="col-lg-12">
			<ul>
			<table id="result" class="table table-bordered col-lg-12 col-sm-12">
				
 					<tr class="blue">
                                <th>Sl.No #</th>
                                 <th>Sequence</th>
                                <th>Name</th>
                                <th>RoomType</th>
                                <th>capacity</th>
                                <th>price</th>
                                <th>maxAdult </th>
                                <th>maxChild </th>
                                <th>description</th>
                                <th>Soldout</th>
                                <th>Block start Date</th>
                                <th>Block End Date</th>
                                <th> Image path </th>
                               {#} <th> - </th> {#}
                                <th> - </th>
                                
							</tr>
						{% for hotelRoom in hotel.hotelRooms if hotel.hotelRooms|length>0 %}	
				
		<tr>
                        	<td>{{ loop.index }} </td>
                        	 <td>{{ hotelRoom.sequence }}</td>
                            <td>{{ hotelRoom.name }}</td>
                            <td>{{ hotelRoom.roomType }}</td>
                            <td>{{ hotelRoom.capacity }}</td>
                            <td>{{ hotelRoom.price }}</td>

                            <td>{{ hotelRoom.maxAdult }}</td>
                            <td>{{ hotelRoom.maxChild }}</td>
                            <td>{{ hotelRoom.description }}</td>
                            <td>{{ hotelRoom.soldOut }}</td>
                             <td>{{ hotelRoom.blockStartDate|date("d/m/y") }}</td>
                              <td>{{ hotelRoom.blockEndDate|date("d/m/y") }}</td>
                            {#}<td>{{ hotelRoom.imagePath }}</td>{#}
                           <td class=""><img src="{{ asset('images/Hotels/'~hotelRoom.imagePath) }}" class="hotel-box-img" > </td>
                            
                           
                      {#} <td> <a href="{{ path('room_hotel_edit_hotel',{ 'id': hotelRoom.id }) }}"><i class="fa fa-pencil-square-o"></i></a></td>{#}
                     <td> <a href="{{ path('trip_sitemanagementbundle_delete_hotelRoom', {'id': hotelRoom.id})}}" class="delete" value="{{ hotelRoom.id }}"> <i class="fa fa-trash-o pull-right" aria-hidden="true"></i> </a></td>
                        	
                        </tr>
		
    
 				{% endfor %}
				</table>
			</ul>
	 	</div>
    </div>
        {% endif %}                
   </div>                     
                        
                  
                    
	
	<h4>Room Detail</h4>
                     
                     {% macro room_prototype(i) %}
                    <div class="borderhotelbox" id="result" style="background-color: #f2f2f2;border: 1px solid black;">
                     <div class="row " style="margin-left:0px;">
	                    {#}print{#}
	                    
	                    <div class="col-lg-12 col-sm-12 form-group has-error">
			<ul class="errors">
	            {{ form_errors(i, { 'global_errors': true }) }}
	            
	            {{ form_errors(i.capacity) }}
	            {{ form_errors(i.price) }}
	            {{ form_errors(i.imagePath) }}
	            {{ form_errors(i.maxAdult) }}
	            {{ form_errors(i.maxChild) }}
	            {{ form_errors(i.description) }}
	            {{ form_errors(i.name) }}
	            {{ form_errors(i.sequence) }}
	            
	          
            </ul>
            </div>
	                    
	                    
	                    <div class="col-lg-6">
                         <div class="row form-group">
	                            <div class="col-lg-6">
							{{ form_label(i.name) }}
                               {{ form_widget(i.name) }}
                                {{ form_widget(i.id) }}
                           		 </div> 
                         </div>
                        </div>
                        <div class="col-lg-6">
                         <div class="row form-group">
	                            <div class="col-lg-6">
                            	{{ form_label(i.roomType) }}
                                {{ form_widget(i.roomType) }}
                           		 </div> 
                         </div>
                        </div>
                        <div class="col-lg-6">
                         <div class="row form-group">
	                            <div class="col-lg-6">
								{{ form_label(i.capacity) }}
                                {{ form_widget(i.capacity) }}
                           		 </div> 
                         </div>
                        </div>
                        <div class="col-lg-6">
                         <div class="row form-group">
	                            <div class="col-lg-6">
							{{ form_label(i.price) }}
                               {{ form_widget(i.price) }}
                           		 </div> 
                         </div>
                        </div>
                        <div class="col-lg-6">
                         <div class="row form-group">
	                            <div class="col-lg-6">
							{{ form_label(i.maxAdult) }}
                               {{ form_widget(i.maxAdult) }}
                           		 </div> 
                         </div>
                        </div>
                         <div class="col-lg-6">
                         <div class="row form-group">
	                            <div class="col-lg-6">
							{{ form_label(i.maxChild) }}
                               {{ form_widget(i.maxChild) }}
                           		 </div> 
                         </div>
                        </div>
                        
                        
                        
                        <div class="col-lg-6">
                         <div class="row form-group">
	                            <div class="col-lg-6">
							{{ form_label(i.description) }}
                               {{ form_widget(i.description) }}
                           		 </div> 
                         </div>
                         
                         <div class="col-lg-6">
                         <div class="row form-group">
	                            <div class="col-lg-6">
								{{ form_label(i.soldOut) }}
                                {{ form_widget(i.soldOut) }}
                           		 </div> 
                         </div>
                        
                        </div>
                        <div class="col-lg-6">
                         <div class="row form-group">
	                            <div class="col-lg-6">
								{{ form_label(i.sequence) }}
                                {{ form_widget(i.sequence) }}
                           		 </div> 
                         </div>
                        
                        </div>
                         
                         
                        </div>
                        
                        
                        
                                                
                         <div class="col-lg-6">
                         <div class="col-lg-6">
                         {{ form_label(i.blockStartDate) }}
                         
                        
                         {{ form_widget(i.blockStartDate,{ 'attr': {'class': 'form-control date-pick blockStartDate'}}) }}
                            	
                            </div>
                            <div class="col-lg-6">
                            	{{ form_label(i.blockEndDate) }}
                                {{ form_widget(i.blockEndDate,{ 'attr': {'class': 'form-control date-pick blockEndDate'}}) }}
                            </div>
                            
                          </div>
                          
                          
                          
                       		
                       		<div class="row form-group">
                          
                          
	                            <div class="col-lg-6">
	                                {{ form_label(i.imagePath) }}
	                            </div> 
	                                                    
	                       <div class="col-lg-6"> 
	                            	
	                                {{ form_widget(i.imagePath) }}
	                           </div>
                                                    
                       		</div>
                       		
                       		 <div class="col-lg-6">
                         <div class="row form-group">
	                            <div class="col-lg-6">
							{{ form_label(i.promotionStartDate) }}
							{{ form_widget(i.promotionStartDate,{ 'attr': {'class': 'form-control date-pick'}}) }}
                          </div> 
                         </div>
                        </div>
                         <div class="col-lg-6">
                         <div class="row form-group">
	                            <div class="col-lg-6">
 							{{ form_label(i.promotionEndDate) }}
							{{ form_widget(i.promotionEndDate,{ 'attr': {'class': 'form-control date-pick'}}) }}
                         </div> 
                         </div>
                        </div>
                        <div class="col-lg-6">
                         <div class="row form-group">
	                            <div class="col-lg-6">
  							{{ form_label(i.promotionPrice) }}
                            {{ form_widget(i.promotionPrice) }}
                           		 </div> 
                         </div>
                        </div>
                        <div class="col-lg-6 hidden" >
                            	{{ form_label(i.isDeleted) }}
                            {#}    {{ form_widget(i.isDeleted,{'attr'{data-id:'{i.id}'0}) }} {#}
                                
			{{ form_widget(i.isDeleted,{ 'attr': {'data-id': i.id.vars.value}}) }}
                                
                            </div> 
                       		                       		
                        </div>
                        
                                                
                     </div>
                 	
                                              
                     {% endmacro %}
                     <div id="room-list"
                                                data-prototype1="{{ _self.room_prototype(form.roomList.vars.prototype)|e }}">
                            {% for i in form.roomList %}
                            	{{ _self.room_prototype(i) }}
                            {% endfor %}
                       </div> 
                    <a href="#" id="add-another-room">Add another Room</a><br/><br>
	
	
	
	
{{ form_end(form) }}
</div>
{% endblock %}