<table id="result" class="table table-bordered col-lg-12 col-sm-12" border="1">
	               {% if bookings|length>0 %}	
                          <tr class="blue">
                                <th>Booking Id #</th>
                                <th>Name</th>
                                <th>Mobile</th>
                               <th>Email</th> 
                                {#} <th>Address</th>
                                <th>Prefer Time</th>{#}
                                <th>No of Days</th>
                                <th>Trip Type</th>
                                <th>Booked On </th>
                                <th>Adult </th>
                                <th>Total Price</th>
                                <th>Discount</th>
                                <th>Final Price</th>
                                <th> Amount Paid </th>
                                <th> Payment Id </th>
                                <th> Status </th>
							</tr>	
					{% endif %}			
						
                     {% for booking in bookings if bookings|length>0 %}
                       {% if booking.customerId %}
                      <tr class="wrap-text">
                            <td>{{ booking.bookingId }}</td> 
                           
                           {# <td>{{ customer.Address }}</td> #}
                            
                            <td>{{ booking.numDays }}</td>
                           
                            <td>{{ booking.bookedOn|date('d/m/Y') }}</td>
                            <td>{{ booking.numAdult }}</td>
                            <td>{{ booking.totalPrice }}</td>
                            <td>{{ booking.discount }}</td>
                            <td>{{ booking.finalPrice }}</td>
                            <td>{{ booking.amountPaid }}</td>
                            <td>{{ booking.paymentId }}</td>
                            <td>{{ booking.status }}</td>
                        
                        </tr>
                        <tr class="wrap-text">
                         
                        </tr>
                        {% endif %}
                    {% endfor %}
                        </table>