{% extends 'page.html.twig' %}
{% block javascripts %}
<script>
$("select").change(function() {
			$("#search").submit();						
		});
		 $("input").blur(function() {
			$("#search").submit();						
		});
</script>
{% endblock %}
{% block body %}

    <section class="section clearfix">
        <div class="container">
        <h3>Hotels List</h3>
            <div class="row">
                <div id="fullwidth" class="col-sm-12">
					<table class="table table-bordered col-lg-12 col-sm-12">
					<tr>
						<th>Sl.No</th>
						<th>Hotel Name</th>
						<th>City</th>
						<th>Number Of Rooms Available</th>
						<th>Active Status</th>
						
						<th>/</th>
					</tr>
                     {% for hotel in hotelsList %}
                        <tr>
                        	<td>{{ loop.index }}</td>
                            <td>
                                {{ hotel.name }}
                            </td>
							 <td>
                                {{ hotel.city }}
                            </td>
							<td>
							{{ hotel.numrooms }}
							</td>
							 <td>
                                {{ hotel.active }}
                            </td>
							<td>
								<a href="{{ path('trip_site_management_edit_hotel',{ 'id': hotel.id }) }}"><i class="fa fa-pencil-square-o"></i></a>
							</td>
                        </tr>
                    {% endfor %}
					</table>
                </div>
            </div>
        </div>
</section>
{% endblock %}