{% extends 'TripSiteManagementBundle:Default:index.html.twig' %}

{% block javascripts %}
<script>
var room = $('.guests-room').html();
$("#guests-box").on('click','.add-room',function(e){
	e.preventDefault();    	
    	//alert(room);
    	var roomCount = parseInt($(this).attr('value'));
    	var adultCount = parseInt($('#trip_hotel_search_numAdult').val());
    	if(roomCount==4){
        	alert("You reached maximum rooms allowed per booking");
        	exit();
    	}
    	roomCount+=1;    	
    	$(this).attr('value',roomCount);
    	//$('.guests-room').append("<h5>Room "+roomCount+"</h5>");
    	//$('.guests-room').append(room);
    	$('#trip_hotel_search_numRooms').val(roomCount);
    	$('#trip_hotel_search_numAdult').val(adultCount+1);
    		 $.ajax({
    		      url: "{{ path('trip_booking_engine_add_room') }}",
    		      type: "GET",
    		       data: { "adults" : '1',"child" : '0'},
    		   	       
    		      success: function(data) {	
    			     $('#guests-room').html(data);
    				     
    		      },
    	
    		      error: function(XMLHttpRequest, textStatus, errorThrown)
    		      {
    		        alert('Error: ' +  errorThrown);
    		      }
    		   });	
    	 var totalAdultCount = parseInt($('#trip_hotel_search_numAdult').val());
    	 var totalChildCount = parseInt($('#trip_hotel_search_numChildren').val());
    	var guests = totalAdultCount + totalChildCount;
    	var guestsText = guests+' Guests, '+roomCount+' Rooms';
    	$('#guests').val(guestsText);

    	e.preventDefault();
   	
});
$("#guests-box").on('click','.adults',function(e){	
	e.preventDefault(); //STOP default action 
	 var id = $(this).attr('id');
	 var key = $(this).attr('href');
	 var value = parseInt($(this).attr('value'));
	// var value = 3;
	 var totalAdultCount = parseInt($('#trip_hotel_search_numAdult').val());
	 var totalChildCount = parseInt($('#trip_hotel_search_numChildren').val());
	 var roomCount = parseInt($('#trip_hotel_search_numRooms').val());
	 var adultsCount = $(this).closest('.row').find('.adults-count');
	 var adults =parseInt( $(adultsCount).html());
	 if (isNaN(adults)) { 
		 adults= 0
        } 
	// alert(adults);
	 if(id=='decrement'){
		 adults-=1;
		 totalAdultCount-=1;
		 if(adults>=1) $(adultsCount).html(adults); else exit();
	  }else{
		adults+=1;
		totalAdultCount+=1;
	    if(adults<=2)  $(adultsCount).html(adults); else exit();
		}
	 		$.ajax({
		 	      url: "{{ path('trip_booking_engine_add_adults') }}",
		 	      type: "GET",
		 	       data: { "adults" : adults,"key" : key},
		 	   	       
		 	      success: function(data) {	
		 		    //$('#guests-room').html(data);
					     
		 	      },
		 
		 	      error: function(XMLHttpRequest, textStatus, errorThrown)
		 	      {
			        alert('Error: ' +  errorThrown);
		 	      }
		 	   });	
	 $('#trip_hotel_search_numAdult').val(totalAdultCount);
	 var guests = totalAdultCount + totalChildCount;
 	var guestsText = guests+' Guests, '+roomCount+' Rooms';
 	$('#guests').val(guestsText);	
});
$("#guests-box").on('click','.children',function(e){	
	e.preventDefault(); //STOP default action 
	 var id = $(this).attr('id');
	 var key = $(this).attr('href');
	 var value = parseInt($(this).attr('value'));
	 var totalAdultCount = parseInt($('#trip_hotel_search_numAdult').val());
	 var totalChildCount = parseInt($('#trip_hotel_search_numChildren').val());
	 var childrenCount = $(this).closest('.row').find('.children-count');
	 var roomCount = parseInt($('#trip_hotel_search_numRooms').val());
	 var children =parseInt( $(childrenCount).html());
	 if (isNaN(children)) { 
		 children= 0
        } 
	 if(id=='decrement'){
		 children-=1;
		 totalChildCount-=1;
		 if(children>=0) $(childrenCount).html(children); else exit();
	  }else{
		  children+=1;
		  totalChildCount+=1;
	    if(children<=2)  $(childrenCount).html(children); else exit();
		}
			 $.ajax({
		       url: "{{ path('trip_booking_engine_add_childs') }}",
		 	   type: "GET",
		       data: { "child" : children,"key" : key},
		 	   	       
		      success: function(data) {	
		 		    //$('#guests-room').html(data);
		 		     
		       },
		 
		       error: function(XMLHttpRequest, textStatus, errorThrown)
		      {
		         alert('Error: ' +  errorThrown);
		       }
		 	   });
	 $('#trip_hotel_search_numChildren').val(totalChildCount);
	 var guests = totalAdultCount + totalChildCount;
 	var guestsText = guests+' Guests, '+roomCount+' Rooms';
 	$('#guests').val(guestsText);
});


$('#guests').click(function(e){
	//var room = $('#guests-room').html();
	//$('#guests-room').next(room);
	e.preventDefault();
		$.ajax({
		      url: "{{ path('trip_booking_engine_update_room') }}",
		      type: "GET",
		      data: { "adults" : '1',"child" : '0'},
		   	       
		      success: function(data) {	
			     $('#guests-room').html(data);
					     
			      },
		
			      error: function(XMLHttpRequest, textStatus, errorThrown)
			      {
			        alert('Error: ' +  errorThrown);
			      }
			   });	
    	 $('#guests').popover({
    		    placement: "bottom",
    		    trigger: "manual",
    		    html : true,
    		    content: $("#popover-content").html()
    		}).popover("show");


        
    });

    
$("#guests-box").on('click','.guestclose',function(e){ 
	 e.preventDefault(); //STOP default action 
	 //alert('hi');
	 $('#guests').popover('hide');
	
	/* var x = document.getElementById("guestsclosediv");
	
	 
	   if (x.style.display === "none") {
	         x.style.display = "block";
	     } else {
	         
	    	 x.style.display = "none";
	         
	     } */
	}); 


$(function () {

	// implementation of disabled form fields
	
});
function getcheckin() {
    document.getElementById("hotel_search_checkIn").focus();
}
function getcheckout() {
    document.getElementById("hotel_search_checkOut").focus();
}
	    
    </script>
    <script>

$(document).ready(function() {
    // Configure/customize these variables.
    var showChar = 100;  // How many characters are shown by default
    var ellipsestext = "...";
    var moretext = "Show more >";
    var lesstext = "Show less";
    

    $('.more').each(function() {
        var content = $(this).html();
 
        if(content.length > showChar) {
 
            var c = content.substr(0, showChar);
            var h = content.substr(showChar, content.length - showChar);
 
            var html = c + '<span class="moreellipses">' + ellipsestext+ '&nbsp;</span><span class="morecontent"><span>' + h + '</span>&nbsp;&nbsp;<a href="" class="morelink">' + moretext + '</a></span>';
 
            $(this).html(html);
        }
 
    });
 
    $(".morelink").click(function(){
        if($(this).hasClass("less")) {
            $(this).removeClass("less");
            $(this).html(moretext);
        } else {
            $(this).addClass("less");
            $(this).html(lesstext);
        }
        $(this).parent().prev().toggle();
        $(this).prev().toggle();
        return false;
    });
});

</script>
    {% endblock %}
{% block navTabs %}
 
                        {% endblock %}
                        {% block body %}

<!-- Start Banner -->
  <section id="banner" class="home-page" style="background-image:url({{ asset('images/hotels/Grand-Hills-Broumana-Luxury-Hotel-Lebanon-Premier-Deluxe-Room.jpg') }});height:350px;background-position: 50% -297.702px;" data-img-width="1920" data-img-height="1503" data-diff="100">
  
    
        <div class="css-table">
       
      <div class="css-table-cell">
 
        <!-- Start Banner-Search -->
        <div class="banner-search">
          <div class="container">
              <div id="hero-tabs" class="banner-search-inner">
               
                <ul class="custom-list tab-content-list">

                  <!-- Start Hotel -->
                
                  <div id="search-form" class="row search-form-boxnew" style="margin-top:90px;color:#000;margin-left:90px;">
                  <h1 style="text-transform: uppercase;text-align: center;font-family: calibri;color:#EE2E24;">Book Your Hotel Now</h1>
                    {{ form_start(hotelForm) }}
                    
           <div class="col-lg-12 col-sm-12 form-group has-error">
			<ul class="errors">
	          
            </ul>
			</div>
                    
                    
                     <span class="city select-box" style="">
                        {{ form_widget(hotelForm.goingTo) }}
                      </span>
                      <span class=" " id="checkIn">
                      	
                        {{ form_widget(hotelForm.date) }}
                       
                        <i class="fa fa-calendar" onclick="getcheckin()" style="color:#000;margin-top:-15px;"></i>
                      </span>
                     <span class=" " id="checkIn">
                      	
                        {{ form_widget(hotelForm.returnDate) }}
                       
                        <i class="fa fa-calendar" onclick="getcheckin()" style="color:#000;margin-top:-15px;"></i>
                      </span>
                      <span class="city guests" id="guests-box">
                     <input type="text" id="guests" value="{{ search.numAdult+search.numChildren }} Guests, {{ search.numRooms }} Room" readonly style="height:37px;border-radius:5px;padding-left: 5px;color:#000;background-color:#fff;" />
                      
                      <div id="popover-content" style="display: none">
                      
                     <div id="guestsclosediv" >
                     {#}
                     <h5>Room 1</h5>
                     <div class="row">
                     <div class="col-lg-8">
	
	                      			<i class="adults-count">1</i> Adults <i class="guests-text">Above 12 years</i>
	
	
	                      		</div>
		                      		<div class="col-lg-4">
	                      			<a class="adults input-group-addon" id="decrement" value="1" href="#">-</a>
		                      			<a class="adults input-group-addon" id="increment" href="#">+</a>
	                      		</div>                     	
		                      	</div>
	                      	<hr>
							<div class="row">
									                      		<div class="col-lg-8">
		                      			<i class="children-count">0</i> Children <i class="guests-text">3 to 12 years</i>
		                      		</div>
		                      		<div class="col-lg-4">
		                      			<a class="children input-group-addon" id="decrement" value="0" href="#">-</a>
	                      			<a class="children input-group-addon" id="increment" href="#">+</a>
		                      		</div>                     	
		                      	</div> 
								<hr>
							{#}
                      
                      	
						<a class="close btnguestclosecase guestclose" id="guestclose">&times;</a>
						 
						               	 
                      	<div class="guests-room" id="guests-room">
                      	 {% for key,room in rooms %}
                      	<h5>Room {{ loop.index }}</h5>
	                      	<a class="close btnguestclosecase guestclose" id="guestclose">&times;</a>
                      	<div class="row">
                      		<div class="col-lg-8">

                      			<i class="adults-count">1</i> Adults <i class="guests-text">(0-12) years</i>


                      		</div>
                      		<div class="col-lg-4">
                      			<a class="adults input-group-addon" id="decrement" value="1" href="{{ key }}">-</a>
                      			<a class="adults input-group-addon" id="increment" href="{{ key }}">+</a>
                      		</div>                     	
                      	</div>
                      	<hr>
                      	<div class="row">
                      		<div class="col-lg-8">
                      			<i class="children-count">0</i> Children <i class="guests-text">(3-12) years</i>
                      		</div>
                      		<div class="col-lg-4">
                      			<a class="children input-group-addon" id="decrement" value="{{ key }}" href="#">-</a>
                      			<a class="children input-group-addon" id="increment" href="{{ key }}">+</a>
                      		</div>                     	
                      	</div> 
                      	<hr> 
                      	{% endfor %}
                      	</div>
                      	<a href="#" class="add-room" value="1">Add Room</a>   
                      	</div>                   	                      	
                      </div>
                    
                      
                      {#}
                        <select name="guests"  data-toggle="popover" title="Popover Header" data-content="Some content inside the popover">
                        	<option>2 Guests, 1 Room </option>
                        
                        </select>
                        
                        {#}
                       
                      </span>
                      {#}
                      <span class="adults group-box">
                       	<div class="input-group">
                               <a class="adults input-group-addon" id="decrement" value="1" href="#">-</a> 
                                                    {{ form_widget(form.numAdult) }}
                               <a class="adults input-group-addon" id="increment" href="#">+</a>
                         </div>
                      </span>
                      <span class="children group-box">
                      		<div class="input-group">
                               <a class="children input-group-addon" id="decrement" value="1" href="#">-</a> 
                                                    {{ form_widget(form.numChildren) }}
                               <a class="children input-group-addon" id="increment" href="#">+</a>
                         	</div>
                      </span>
                      {#}
                      <span class="submit-btn">
                      	 {{ form_widget(hotelForm.numAdult) }}
                      	  {{ form_widget(hotelForm.numChildren) }}
                      	   {{ form_widget(hotelForm.numRooms) }}
                        <button class="btn btn-transparent" style="color:#fff;height: 35px;width:100%;background-color:#EE2E24;">Search</button>                      
                      </span>
                     {{ form_end(hotelForm) }}
                     </div>
                  </li>
                  <!-- End Hotel -->
				
                 

                </ul>
            </div>
          </div>
        </div>
        <!-- End Banner-Search -->

      </div>
    </div>
    
  </section>
  {% endblock %}