{% extends 'base.html.twig' %}
{% block stylesheets %}
		<link href="{{ asset('css/jquery.timepicker.css') }}" rel="stylesheet" media="screen">
		
{% endblock %}
{% block javascripts %}
<script src="{{ asset('js/jquery.timepicker.min.js') }}"></script>



<script>
    
    
    $('#trip_search_preferTime').timepicker({ 'scrollDefault': 'now' });
    
     $('.adults').click(function(e){		
			e.preventDefault(); //STOP default action 
			 var id = $(this).attr('id');
			 var value = parseInt($(this).attr('value'));
			 var adults =parseInt( $('#trip_search_numAdult').val());
			 if (isNaN(adults)) { 
				 adults= 0
	            } 
			 if(id=='decrement'){
				 adults-=1;
				 if(adults>=value) $('#trip_search_numAdult').val(adults); else exit();
			  }else{
				adults+=1;
			    if(adults<=20)  $('#trip_search_numAdult').val(adults); else exit();
				}							 		   			   							
	    });
        $('.days').click(function(e){		
			e.preventDefault(); //STOP default action 
			 var id = $(this).attr('id');
			 var value = parseInt($(this).attr('value'));
			 var days =parseInt( $('#trip_search_numDays').val());
			 if (isNaN(days)) { 
				 days= 0
	            } 
			 if(id=='decrement'){
				 days-=1;
				 if(days>=value) $('#trip_search_numDays').val(days); else exit();
			  }else{
				days+=1;
			    if(days<=20)  $('#trip_search_numDays').val(days); else exit();
				}							 		   			   							
	    });
    
$("#trip_search_goingTo").change(function() {
			$('#trip_search_date').focus();				
		});
$("#trip_search_leavingFrom").change(function() {
            var selected = $(this).val();
            $('#trip_search_goingTo option').removeAttr('disabled');
            $('#trip_search_goingTo option[value="'+selected+'"]').attr('disabled',true);
            $("#trip_search_goingTo").trigger("chosen:updated");				
		});
    
$("#trip_search_multiple_0_leavingFrom").change(function() {
            var selected = $(this).val();
            $('#trip_search_multiple_0_goingTo option').removeAttr('disabled');
            $('#trip_search_multiple_0_goingTo option[value="'+selected+'"]').attr('disabled',true);
            $("#trip_search_multiple_0_goingTo").trigger("chosen:updated");				
		});
$("#trip_search_multiple_1_leavingFrom").change(function() {
            var selected = $(this).val();
            $('#trip_search_multiple_1_goingTo option').removeAttr('disabled');
            $('#trip_search_multiple_1_goingTo option[value="'+selected+'"]').attr('disabled',true);
            $("#trip_search_multiple_1_goingTo").trigger("chosen:updated");				
		});
    
   $("#trip_search_multiple_0_goingTo").change(function() {	
        var selected = $(this).val();
       $("#trip_search_multiple_1_leavingFrom").val(selected);
       $("#trip_search_multiple_1_leavingFrom").trigger("chosen:updated");
        $('#trip_search_multiple_1_goingTo option').removeAttr('disabled');
        $('#trip_search_multiple_1_goingTo option[value="'+selected+'"]').attr('disabled',true);
        $("#trip_search_multiple_1_goingTo").trigger("chosen:updated");	
        $("#trip_search_multiple_0_date").focus();
		      });
   $("#trip_search_multiple_1_goingTo").change(function() {	
        var selected = $(this).val();
       $("#trip_search_multiple_2_leavingFrom").val(selected);
       $("#trip_search_multiple_2_leavingFrom").trigger("chosen:updated");
        $('#trip_search_multiple_2_goingTo option').removeAttr('disabled');
        $('#trip_search_multiple_2_goingTo option[value="'+selected+'"]').attr('disabled',true);
        $("#trip_search_multiple_2_goingTo").trigger("chosen:updated");	
        $("#trip_search_multiple_1_date").focus();
		      });
    
    $(".tripNav label").change(function() {					
        $(".tripNav label").removeClass('tripSel');
        $(this).addClass('tripSel');
       var type= $(this).attr('for');
        if(type=='multicity'){
            $('#multipleCity').show();
            $('#genaral').hide();
        }else{
            $('#multipleCity').hide();
            $('#genaral').show();
        }
        if(type=='roundtrip'){
            $("#trip_search_returnDate").removeAttr("readonly");
             $("#trip_search_returnDate").attr("required","true");
        }else{
            if(type!='dailyRent'){
            $("#trip_search_returnDate").attr("readonly","readonly");
            $("#trip_search_returnDate").val('');
            $("#trip_search_returnDate").removeAttr("required");
            }
        }
     });
    
    
    
     // keep track of how many city fields have been rendered
    var cityCount = '{{ form.multiple|length }}';

   // $(document).ready(function() {
        $('#add-another-city').click(function(e) {
            e.preventDefault();
            if(cityCount>4){
                alert('Max 5 only');
                exit();
            }

            var cityList = $('#city-fields-list');

            // grab the prototype template
            var newWidget = cityList.attr('data-prototype');
            // replace the "__name__" used in the id and name of the prototype
            // with a number that's unique to your city
            newWidget = newWidget.replace(/__name__/g, cityCount);
            cityCount++;

            // create a new list element and add it to the list
            var newLi = $('<div></div>').html(newWidget);
            newLi.appendTo(cityList);
            var key = cityCount-1;
            var next = key+1;
             $( "#trip_search_multiple_"+key+"_date" ).datepicker({ dateFormat: 'dd/mm/yy',numberOfMonths:2,minDate: 0, });
            $(".chosen-select").chosen({no_results_text: "Oops, nothing found!"});
               $("#trip_search_multiple_"+key+"_goingTo").change(function() {	
                    var selected = $(this).val();
                   $("#trip_search_multiple_"+next+"_leavingFrom").val(selected);
                   $("#trip_search_multiple_"+next+"_leavingFrom").trigger("chosen:updated");
                    $('#trip_search_multiple_'+next+'_goingTo option').removeAttr('disabled');
                    $('#trip_search_multiple_'+next+'_goingTo option[value="'+selected+'"]').attr('disabled',true);
                    $("#trip_search_multiple_"+next+"_goingTo").trigger("chosen:updated");	
                    $("#trip_search_multiple_"+key+"_date").focus();
		      });
            $("#trip_search_multiple_"+key+"_leavingFrom").change(function() {
                var selected = $(this).val();
                $('#trip_search_multiple_'+key+'_goingTo option').removeAttr('disabled');
                $('#trip_search_multiple_'+key+'_goingTo option[value="'+selected+'"]').attr('disabled',true);
                $("#trip_search_multiple_"+key+"_goingTo").trigger("chosen:updated");				
		      });
            var prev = key-1;
            var selected = $("#trip_search_multiple_"+prev+"_goingTo").val();
            $("#trip_search_multiple_"+key+"_leavingFrom").val(selected);
            $("#trip_search_multiple_"+key+"_leavingFrom").trigger("chosen:updated");
             $('#trip_search_multiple_'+key+'_goingTo option').removeAttr('disabled');
            $('#trip_search_multiple_'+key+'_goingTo option[value="'+selected+'"]').attr('disabled',true);
             $("#trip_search_multiple_"+key+"_goingTo").trigger("chosen:updated");
        });
   // });
    
   
   
</script>
{% endblock %}
 {% block body %}
<style>
    .tripNav label{
        cursor: pointer;
    }
    @media (min-width:992px){
    .remove_left{
        padding-left: 0px;
    }
    .remove_right{
        padding-right: 0px;
    }
    .btn-top{
        margin-top: 25px !important;
    }
    }
</style>
    <section class="section fullscreen background parallax" style="background-image:url({{ asset('images/Just-Trip-banner-6.jpg') }});position: relative;padding: 73px 0;" data-img-width="1920" data-img-height="1003" data-diff="100">
        <div class="container">
            <div class="row homeform">
                {#
                <div class="col-md-12 col-xs-12">
                    <div class="home-message banner-message">
                        <h1> Help Line No :</br>+91-9900585533</h1>
                        <h2> TAXI / HOTEL <br>Service providers in Tirupati </h2> 
                        <h1> "Pay 10% Now And Book Your Ride" </h1>
                       
                    </div><!-- end homemessage -->
                </div><!-- end col -->  #}
                <div class="col-md-12 col-xs-12">
                    <div class="home-form">
                        <h2>Plan Your Trip</h2>
                        
                        <!-- Nav tabs -->
                        {% block navTabs %}
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="active"><a href="#tab_01" aria-controls="tab_01" role="tab" data-toggle="tab"><i class="icon-sedan3"></i>   Cars</a></li>
							<li><a href="{{ path('trip_site_management_bikes_on_rent')}}"><img src="{{ asset('images/bike.png') }}" style="width:27px;height:23px;padding-right: 4px;top: 0px;position: relative;margin-bottom:-5px;" /><span>Bikes</span></a></li>
 							<li><a href="{{ path('trip_site_management_homepage_hotels')}}"> <span><i class="icon-hotel68"></i> Hotels</span></a></li>
                            <!--<li><a href="#tab_02" aria-controls="tab_02" role="tab" data-toggle="tab"><i class="icon-hotel68"></i>  Hotels</a></li>-->
                            <li><a href="{{ path('trip_site_management_homepage_packages')}}"><i class="icon-bag"></i>  Packages</a></li>
                            
                            <li><a href="#tab_04" aria-controls="tab_04" role="tab" data-toggle="tab"><i class="icon-travel25"></i>  Offers</a></li>
                            
                        </ul>
                        
                                     <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="tab_01">
                            {{ form_start(form) }}
				           {{ form_errors(form, { 'global_errors': true }) }}
						   {#}
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                    <h3>  Book Your Cab Now</h3>
                                    </div>
                                </div>
								{#}
                                <div class="row tripNav">
                                    <span>
                                         <label for="oneway" class="tripSel">
                                             <input type="radio" name="tripType" value="oneway" id="oneway" checked> 
                                             One Way
                                         </label>
                                    </span>
                                    <span>
                                        <label for="roundtrip">
                                            <input type="radio" name="tripType" value="roundtrip" id="roundtrip">
                                            Round Trip
                                        </label>
                                    </span>
                                    {#
                                    <span>
                                         <label for="multicity">
                                            <input type="radio" name="tripType" value="multicity" id="multicity">
                                            Multicity
                                        </label>
                                    </span>
                                    #}
                                    <span>
                                         <label for="dailyRent">
                                            <input type="radio" name="tripType" value="dailyRent" id="dailyRent">
                                            Daily Rent
                                        </label>
                                    </span>
                                </div>
                                  
                                <div class="row" id="genaral">
                                    <div class="form-group fil col-md-2 col-sm-2 col-xs-12 remove_right">
                                         {{ form_label(form.leavingFrom) }}
                                         <div class="dropdown">
                                             {{ form_widget(form.leavingFrom) }}
                                        </div>
                                       
                                    </div>
                                    {#
                                    <div class="form-group fil col-md-2 col-sm-2 col-xs-2 remove_right remove_left">
                                         <i class="fa fa-arrow-left"></i><i class="fa fa-arrow-right"></i>
                                    </div>
                                    #}
                                    <div class="form-group fil col-md-2 col-sm-2 col-xs-12 remove_right remove_left">
                                         {{ form_label(form.goingTo) }}
                                         <div class="dropdown">
                                             {{ form_widget(form.goingTo) }}                
                                        </div>
                                    </div>
                                    <div class="form-group fil col-md-2 col-sm-2 col-xs-12 remove_right remove_left">
                                        {{ form_label(form.date) }} 
                                        <div class="input-group">
                                            {{ form_widget(form.date) }} 
                                            <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                                        </div>
                                    </div>
                                    <div class="form-group fil col-md-2 col-sm-2 col-xs-12 remove_right remove_left">
                                         {{ form_label(form.returnDate) }}
                                        <div class="input-group">
                                            {{ form_widget(form.returnDate) }}          
                                            
                                              
                                            <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                                        </div>
                                    </div> 
                                    
                                    <div class="form-group fil col-md-1 col-sm-1 col-xs-12 remove_right remove_left">
                                         {{ form_label(form.numAdult) }}
                                        <div class="input-group">
                                            <a class="adults input-group-addon" id="decrement" value="1" href="#">-</a> 
                                                    {{ form_widget(form.numAdult) }}
                                            <a class="adults input-group-addon" id="increment" href="#">+</a>
                                        </div>
                                    </div>
                                     <div class="form-group fil col-md-1 col-sm-1 col-xs-12 remove_right remove_left">
                                         {{ form_label(form.preferTime) }}
                                        {{ form_widget(form.preferTime) }}
                                    </div>
                                    <div class="form-group fil col-md-2 col-sm-2 col-xs-12">
                                         <button type="submit" class="btn btn-primary btn-block form-group make-margin btn-top"><i class="icon-search"></i> Search </button>
                                    </div>
                                    
                                    
                                </div>
                                    <div style="display:none" class="row" id="multipleCity">
                                    
                                    
                                         {% macro information_prototype(multiCity) %}
                                    
                                    
                                            <div class="form-group make-margin fil col-md-4 col-sm-4 col-xs-12">
                                                 {{ form_label(multiCity.leavingFrom) }}
                                                 <div class="dropdown">
                                                     {{ form_widget(multiCity.leavingFrom) }}
                                                </div>

                                            </div>
                                    
                                            <div class="form-group make-margin fil col-md-4 col-sm-4 col-xs-12">
                                                                                                     
                                                    {{ form_label(multiCity.goingTo) }}
                                                   
                                                    <div class="dropdown">
                                                    {{ form_widget(multiCity.goingTo) }}
                                                   </div>
                                             </div>
                                            <div class="form-group make-margin fil col-md-4 col-sm-4 col-xs-12">
                                                 {{ form_label(multiCity.date) }}
                                                 <div class="input-group">
                                                     {{ form_widget(multiCity.date) }}
                                                </div>

                                            </div>
                                           
                                        {% endmacro %}
                                         <div id="city-fields-list"
                                                data-prototype="{{ _self.information_prototype(form.multiple.vars.prototype)|e }}">
                                            {% for multiCity in form.multiple %}
                                             <div class="form-group make-margin fil col-md-4 col-sm-4 col-xs-12">
                                                 {{ form_label(multiCity.leavingFrom) }}
                                                 <div class="dropdown">
                                                     {{ form_widget(multiCity.leavingFrom) }}
                                                </div>

                                            </div>
                                    
                                            <div class="form-group make-margin fil col-md-4 col-sm-4 col-xs-12">
                                                                                                     
                                                    {{ form_label(multiCity.goingTo) }}
                                                   
                                                    <div class="dropdown">
                                                    {{ form_widget(multiCity.goingTo) }}
                                                   </div>
                                             </div>
                                            <div class="form-group make-margin fil col-md-4 col-sm-4 col-xs-12">
                                                 {{ form_label(multiCity.date) }}
                                                 <div class="input-group">
                                                     {{ form_widget(multiCity.date) }}
                                                </div>

                                            </div>
                                            {% endfor %}
                                    </div>
                                    
                                     <div class="form-group make-margin fil col-md-2 col-sm-2 col-xs-12">
                                      {# <div class="row">
                                          <div class="col-md-6 col-sm-6 col-xs-6">
                                            {{ form_label(form.numDays) }}
                                         </div>
                                         <div class="col-md-6 col-sm-6 col-xs-6">
                                                 <div class="input-group">
                                                     <a class="days input-group-addon" id="decrement" value="1" href="#">-</a> 
                                                        {{ form_widget(form.numDays) }}
                                                      <a class="days input-group-addon" id="increment" href="#">+</a>
                                                </div>
                                         </div>
                                        </div> #}
                                    </div>
                                    <div class="form-group make-margin fil col-md-6 col-sm-6 col-xs-12">
                                     <a href="#" id="add-another-city">Add another city</a>
                                    
                                    </div>
                                </div>
                                <div class="row">
                                     
                                   </div>
                                {#}
                                <div class="row">
                                    <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                        <button type="submit" class="btn btn-primary btn-block"><i class="icon-search"></i> Search </button>
                                    </div>
                                </div>
                                {#}
                                {{ form_end(form) }}
                                
                            </div><!-- end tab-pane -->

                            <div role="tabpanel" class="tab-pane" id="tab_03">
                                <h3>WHEN WOULD YOU LIKE TO GO?</h3>
                                <form class="bookform form-inline row">
                                    <div class="form-group col-md-12 col-sm-6 col-xs-12">
                                        <input type="text" class="form-control" placeholder=" Destination: Country, City,Airport...">
                                    </div>
                                    <div class="form-group col-md-12 col-sm-6 col-xs-12">
                                        <input type="text" class="form-control" placeholder=" Hotel: TUNAI, HAWAI...">
                                    </div>
                                    <div class="form-group col-md-12 col-sm-6 col-xs-12">
                                        <input type="text" class="form-control" placeholder=" Time: May, Jun, Jully...">
                                    </div>

                                    <div class="form-group col-md-12 col-sm-6 col-xs-12">
                                        <button type="submit" class="btn btn-primary btn-block"><i class="icon-search"></i> BOOK NOW</button>
                                    </div>
                                </form>
                            </div><!-- end tab-pane -->

                            <div role="tabpanel" class="tab-pane" id="tab_02">
                                <h3>Where Woulf You Like To Go?</h3>
                                       {{ form_start(hotelForm) }}
                                        {{ form_errors(hotelForm, { 'global_errors': true }) }}
                                
                                
                                <div class="row">                                
                                   
                                    <div class="form-group make-margin fil col-md-12 col-sm-12 col-xs-12">
                                         {{ form_label(hotelForm.goingTo) }}
                                         <div class="dropdown">
                                             {{ form_widget(hotelForm.goingTo) }}                
                                        </div>
                                    </div>
                                    <div class="form-group make-margin fil col-md-6 col-sm-6 col-xs-12">
                                        {{ form_label(hotelForm.date) }} 
                                        <div class="input-group">
                                            {{ form_widget(hotelForm.date) }} 
                                            <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                                        </div>
                                    </div>
                                    <div class="form-group make-margin fil col-md-6 col-sm-6 col-xs-12">
                                         {{ form_label(hotelForm.returnDate) }}
                                        <div class="input-group">
                                            {{ form_widget(hotelForm.returnDate) }}          
                                            
                                              
                                            <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                                        </div>
                                    </div> 
                                    
                                    <div class="form-group col-md-12 col-sm-6 col-xs-12">
                                        <button type="submit" class="btn btn-primary btn-block"><i class="icon-search"></i> Search </button>
                                    </div>
                                </div>
                                   
                               {{ form_end(hotelForm) }}
                            </div><!-- end tab-pane -->

                            <div role="tabpanel" class="tab-pane" id="tab_04">
                                <h3>Get <i class="fa fa-inr"></i> 50 OFF on First Ride</h3>
                                <div class="row">
                                    <div class="col-md-12 col-xs-12 text-center">
                                        <h3>Use This Coupon Code</h3>
                                        <h4><span>FIRSTRIDE</span></h4>
                                            
                                    </div>
                                </div>
                            </div><!-- end tab-pane -->

                            
                        </div><!-- end tab-content -->
                        {% endblock %}

   
                    </div><!-- end homeform -->
                </div><!-- end col -->

                          
            </div><!-- end row -->
        </div><!-- end container -->
    </section><!-- end section -->

   
    <section class="section clearfix">
        <div class="container">
            <div class="hotel-title">
                <h4>TOP POPULAR DESTINATIONS</h4>
            </div><!-- end hotel-title -->

            <div class="row">
                <div class="col-md-6">
                    <div class="mini-desti row">
                        <div class="col-md-4">
                            <img src="{{ asset('images/popular/Just-Trip-Tirumala-Drop.png') }}" alt="" class="img-responsive">
                        </div><!-- end col -->
                        <div class="col-md-8">
                            <div class="mini-desti-title">
                                <div class="pull-left">
                                    <h6>Tirupati To Tirumala </h6>
                                    <b>Indica A/c </b>
                                </div>
                                <div class="pull-right">
                                    <h6><i class="fa fa-inr"></i>700</h6>
                                </div>  
                                <div class="clearfix"></div>   
                                <div class="mini-desti-desc">
                                    <p>Book A Cab From Tirupati to Tirumala Drop</p>
                                </div>
                                <div class="clearfix"></div> 
                                <a href="http://www.justtrip.in/search?tripType=oneway&trip_search%5BleavingFrom%5D=1&trip_search%5BgoingTo%5D=2&trip_search%5BreturnDate%5D=&trip_search%5Bmultiple%5D%5B0%5D%5BleavingFrom%5D=&trip_search%5Bmultiple%5D%5B0%5D%5BgoingTo%5D=&trip_search%5Bmultiple%5D%5B0%5D%5Bdate%5D=&trip_search%5Bmultiple%5D%5B1%5D%5BleavingFrom%5D=&trip_search%5Bmultiple%5D%5B1%5D%5BgoingTo%5D=&trip_search%5Bmultiple%5D%5B1%5D%5Bdate%5D=&trip_search%5BnumAdult%5D=1&trip_search%5BpreferTime%5D=10%3A30+AM" class="awe-btn awe-btn btn btn-book btn-normal btn-md"><i class="fa fa-shopping-cart"></i> Book Now</a>
                            </div><!-- end title -->
                        </div><!-- end col -->
                    </div><!-- end mini-desti -->

                    <div class="mini-desti row">
                        <div class="col-md-4">
                            <img src="{{ asset('images/popular/Tirupati-Airport-Drop-Just-Trip.png') }}" alt="" class="img-responsive">
                        </div><!-- end col -->
                        <div class="col-md-8">
                            <div class="mini-desti-title">
                                <div class="pull-left">
                                    <h6>Tirupati Aiport To Tirumala</h6>
                                    <b>Sedan/Vertio/Etios</b>
                                </div>
                                <div class="pull-right">
                                    <h6><i class="fa fa-inr"></i>1300</h6>
                                </div>  
                                <div class="clearfix"></div>   
                                <div class="mini-desti-desc">
                                    <p>Book a Taxi Tirupati Airport To Tirumala Now.</p>
                                </div>
                                 <div class="clearfix"></div> 
                                <a href="http://www.justtrip.in/search?tripType=oneway&trip_search%5BleavingFrom%5D=3&trip_search%5BgoingTo%5D=2&trip_search%5BreturnDate%5D=&trip_search%5Bmultiple%5D%5B0%5D%5BleavingFrom%5D=&trip_search%5Bmultiple%5D%5B0%5D%5BgoingTo%5D=&trip_search%5Bmultiple%5D%5B0%5D%5Bdate%5D=&trip_search%5Bmultiple%5D%5B1%5D%5BleavingFrom%5D=&trip_search%5Bmultiple%5D%5B1%5D%5BgoingTo%5D=&trip_search%5Bmultiple%5D%5B1%5D%5Bdate%5D=&trip_search%5BnumAdult%5D=1&trip_search%5BpreferTime%5D=10%3A30+AM" class="awe-btn awe-btn btn btn-book btn-normal btn-md"><i class="fa fa-shopping-cart"></i> Book Now</a>
                            </div><!-- end title -->
                        </div><!-- end col -->
                    </div><!-- end mini-desti -->

                    <div class="mini-desti row noborder">
                        <div class="col-md-4">
                            <img src="{{ asset('images/popular/Chennai-International-Airport.jpg') }}" alt="" class="img-responsive">
                        </div><!-- end col -->
                        <div class="col-md-8">
                            <div class="mini-desti-title">
                                <div class="pull-left">
                                    <h6>Tirupati to Chennai Airport</h6>
                                    <b>Indica/Vertio/Etios</b>
                                </div>
                                <div class="pull-right">
                                    <h6><i class="fa fa-inr"></i>3500</h6>
                                </div>  
                                <div class="clearfix"></div>   
                                <div class="mini-desti-desc">
                                    <p>Book A Cab From Tirupati To Chennai Aiport Now</p>
                                </div>
                                 <div class="clearfix"></div> 
                                <a href="http://www.justtrip.in/search?tripType=oneway&trip_search%5BleavingFrom%5D=1&trip_search%5BgoingTo%5D=12&trip_search%5BreturnDate%5D=&trip_search%5Bmultiple%5D%5B0%5D%5BleavingFrom%5D=&trip_search%5Bmultiple%5D%5B0%5D%5BgoingTo%5D=&trip_search%5Bmultiple%5D%5B0%5D%5Bdate%5D=&trip_search%5Bmultiple%5D%5B1%5D%5BleavingFrom%5D=&trip_search%5Bmultiple%5D%5B1%5D%5BgoingTo%5D=&trip_search%5Bmultiple%5D%5B1%5D%5Bdate%5D=&trip_search%5BnumAdult%5D=1&trip_search%5BpreferTime%5D=10%3A30+AM" class="awe-btn awe-btn btn btn-book btn-normal btn-md"><i class="fa fa-shopping-cart"></i> Book Now</a>
                            </div><!-- end title -->
                        </div><!-- end col -->
                    </div><!-- end mini-desti -->
                </div><!-- end col -->

                <div class="col-md-6">
                    <div class="mini-desti row">
                        <div class="col-md-4">
                            <img src="{{ asset('images/popular/Vellore-Golden-Temple-Drop-Just-Trip.png') }}" alt="" class="img-responsive">
                        </div><!-- end col -->
                        <div class="col-md-8">
                            <div class="mini-desti-title">
                                <div class="pull-left">
                                    <h6>Tirupati To Vellore Golden Temple</h6>
                                    <b>Indica/Vertio/Etios</b>
                                </div>
                                <div class="pull-right">
                                    <h6><i class="fa fa-inr"></i>3000</h6>
                                </div>  
                                <div class="clearfix"></div>   
                                <div class="mini-desti-desc">
                                    <p>Book A Taxi From Tirupati To Vellore Golden Temple.</p>
                                </div>
                                 <div class="clearfix"></div> 
                                <a href="http://www.justtrip.in/search?tripType=oneway&trip_search%5BleavingFrom%5D=1&trip_search%5BgoingTo%5D=10&trip_search%5BreturnDate%5D=&trip_search%5Bmultiple%5D%5B0%5D%5BleavingFrom%5D=&trip_search%5Bmultiple%5D%5B0%5D%5BgoingTo%5D=&trip_search%5Bmultiple%5D%5B0%5D%5Bdate%5D=&trip_search%5Bmultiple%5D%5B1%5D%5BleavingFrom%5D=&trip_search%5Bmultiple%5D%5B1%5D%5BgoingTo%5D=&trip_search%5Bmultiple%5D%5B1%5D%5Bdate%5D=&trip_search%5BnumAdult%5D=1&trip_search%5BpreferTime%5D=10%3A30+AM" class="awe-btn awe-btn btn btn-book btn-normal btn-md"><i class="fa fa-shopping-cart"></i> Book Now</a>
                            </div><!-- end title -->
                        </div><!-- end col -->
                    </div><!-- end mini-desti -->

                    <div class="mini-desti row">
                        <div class="col-md-4">
                            <img src="{{ asset('images/popular/Kanipakam-Drop-just-Trip.png') }}" alt="" class="img-responsive">
                        </div><!-- end col -->
                        <div class="col-md-8">
                            <div class="mini-desti-title">
                                <div class="pull-left">
                                    <h6>Tirupati To Kanipakam</h6>
                                    <b>Indica/Vertio/Etios</b>
                                </div>
                                <div class="pull-right">
                                    <h6><i class="fa fa-inr"></i>3000</h6>
                                </div>  
                                <div class="clearfix"></div>   
                                <div class="mini-desti-desc">
                                    <p>Book A Cab From Tirupati To Kanipakam Now.</p>
                                </div>
                                 <div class="clearfix"></div> 
                                <a href="http://www.justtrip.in/search?tripType=oneway&trip_search%5BleavingFrom%5D=1&trip_search%5BgoingTo%5D=9&trip_search%5BreturnDate%5D=&trip_search%5Bmultiple%5D%5B0%5D%5BleavingFrom%5D=&trip_search%5Bmultiple%5D%5B0%5D%5BgoingTo%5D=&trip_search%5Bmultiple%5D%5B0%5D%5Bdate%5D=&trip_search%5Bmultiple%5D%5B1%5D%5BleavingFrom%5D=&trip_search%5Bmultiple%5D%5B1%5D%5BgoingTo%5D=&trip_search%5Bmultiple%5D%5B1%5D%5Bdate%5D=&trip_search%5BnumAdult%5D=1&trip_search%5BpreferTime%5D=10%3A30+AM" class="awe-btn awe-btn btn btn-book btn-normal btn-md"><i class="fa fa-shopping-cart"></i> Book Now</a>
                            </div><!-- end title -->
                        </div><!-- end col -->
                    </div><!-- end mini-desti -->

                    <div class="mini-desti row noborder">
                        <div class="col-md-4">
                            <img src="{{ asset('images/popular/Srikalahasti-Drop-Just-Trip.png') }}" alt="" class="img-responsive">
                        </div><!-- end col -->
                        <div class="col-md-8">
                            <div class="mini-desti-title">
                                <div class="pull-left">
                                    <h6>Tirupati to Srikalahasti</h6>
                                    <b>Indica/Vertio/Etios</b>
                                </div>
                                <div class="pull-right">
                                    <h6><i class="fa fa-inr"></i>1800</h6>
                                </div>  
                                <div class="clearfix"></div>   
                                <div class="mini-desti-desc">
                                    <p>Book A Cab From Tirupati To Srikalahasti Now.</p>
                                </div>
                                 <div class="clearfix"></div> 
                                <a href="http://www.justtrip.in/search?tripType=oneway&trip_search%5BleavingFrom%5D=1&trip_search%5BgoingTo%5D=11&trip_search%5BreturnDate%5D=&trip_search%5Bmultiple%5D%5B0%5D%5BleavingFrom%5D=&trip_search%5Bmultiple%5D%5B0%5D%5BgoingTo%5D=&trip_search%5Bmultiple%5D%5B0%5D%5Bdate%5D=&trip_search%5Bmultiple%5D%5B1%5D%5BleavingFrom%5D=&trip_search%5Bmultiple%5D%5B1%5D%5BgoingTo%5D=&trip_search%5Bmultiple%5D%5B1%5D%5Bdate%5D=&trip_search%5BnumAdult%5D=1&trip_search%5BpreferTime%5D=10%3A30+AM" class="awe-btn awe-btn btn btn-book btn-normal btn-md"><i class="fa fa-shopping-cart"></i> Book Now</a>
                            </div><!-- end title -->
                        </div><!-- end col -->
                    </div><!-- end mini-desti -->
                </div><!-- end col -->
            </div><!-- end row -->
        </div><!-- end container -->
    </section><!-- end section -->  

  

    <section class="section clearfix section-bottom fullscreen background parallax" style="background-image:url({{ asset('images/upload/parallax_03.jpg')}});" data-img-width="1920" data-img-height="586" data-diff="10">
        <div class="container">
            <div class="hotel-title">
                <h3>WHAT WE DO </h3>
                <hr class="left">
            </div><!-- end hotel-title -->
            <div class="row">
                <div class="col-md-12">
                    <div class="service-style row">
                        
                        <div class="col-md-12 col-xs-12 col-sm-12">
                        <div class="txt">
                        <p >We justtrip is one of the leading car rental services company in India. 
                        Having a decade of excellence in serving to the people we are become stronger. 
                        Our commitment towards safety and security of clients enhancing the credibility across the Region. 
                        Our exclusive Cab Service in Tirupati are come up with a flexible package plans which are suitable to everyone.</p>
                       <h5>Justtrip Tirupati Cab Services</h5>
                       <p>Our Taxi service in Tirupati provides complete end-to-end service like, pick-up point to dropping point.
                        We ensure passenger comfort levels throughout the journey and prominent response all the times. 
                        We provide services and assistance at 24 by 7. We are offering the best reasonable tirupati car rental services to the passengers.
                        No hidden charges or extra tariffs applicable.
                        Our luxurious cabs allows passenger to travel more convenient.
                        Cab Services in Tirupati by justtrip provides well experienced cab drivers, who have more than 10 years of experience in the field and have good knowledge about the location. 
                        Pick-up from any location in tirupati and dropping at tirumala is our exclusive package services.</p>
                        <h5>Cab Services to Tirumala</h5> 
                        <p>Justtriptirupati cabs service offers complete Tirupati city visits and tirupati to tirumala visits and also other locations like papavinashanam, kapilateerdham.
                         We are also extending our services for the passenger comforts like, exclusive pick-up and droppings from Chennai Airport, Sri kalahasthi, Golden Temple, Reniguntaairport and any other locations.
                         Taxi in Tirupati services by the justtrip have received number of recognitions and appraisals from the passengers and transport and safety organizations across India as well.
                         </p>
                        <h5>Justtrip Exclusive Cab services in Tirupati / Tirumala</h5>
                        <p>Tirupati Taxi by justtrip is the only online platform where passengers can check everything in detail about the services, packages and enquiry for any clarifications. 
                        Also passengers can select the pick-up and droppings in online and tariffs accordingly.</p>
                         <ul class="list">
                         <li>Hassle free online cab booking services offering by justtrip.</li>
                         <li>Exclusive corporate packages and cab services also available at justtrip.</li>
                         <li>We facilitate customers / passenger by the regional language and other language expertise drivers. Which allows for better communication.</li> 
                         <li>On-road assistance is available only at justtrip. Visit our branched in tirupati or tirumala for live interaction with our guided team for more information.</li> 
                         </ul></br>
                        <p>Customer satisfaction is our motto. We serve better and Flexible.</p>
                        </div>
                        </div>
                    </div><!-- end service -->

                    
                  
                </div><!-- end col -->

                <div class="col-md-3">
                    <!--<img src="images/upload/girl.png" alt="" class="img-responsive">-->
                </div><!-- end col -->
            </div><!-- end row -->
        </div><!-- end container -->
    </section><!-- end section -->  


    <section class="section" data-img-width="1920" data-img-height="586" data-diff="10">
        <div class="container">
            <div id="testimonials">
                 <div class="testi-item">
                    <div class="hotel-title text-center">
                        <h3>THANKS YOU TRIPS! THIS IS AMAZING TRAVEL!</h3>
                        <hr>
                        <p>It was nice service provided by Just Trip, it was my first journey to tirupati.Just Trip people are so helpfull :)</p>
                        <h6>- Ravi / TCS Mumbai</h6>
                    </div>
                </div><!-- end testi-item -->

                <div class="testi-item">
                    <div class="hotel-title text-center">
                        <h3>THANKS YOU TRIPS! THIS IS AMAZING TRAVEL!</h3>
                        <hr>
                        <p>It was nice service provided by Just Trip, it was my first journey to tirupati.Just Trip people are so helpfull :)</p>
                        <h6>- Ravi / TCS Mumbai</h6>
                    </div>
                </div><!-- end testi-item -->
            </div><!-- end testimonials -->
        </div><!-- end container -->
    </section><!-- end section -->

    <section class="section fullscreen background parallax" style="background-image:url({{ asset('images/upload/discover.jpg') }});" data-img-width="1921" data-img-height="665" data-diff="20">
        <div class="container">
            <div class="home-message text-center">
                <h1>LET’S DISCOVER THE JUST TRIP<br>WORLD TOGETHER</h1><h2>Taxi/Hotel Service Providers in Tirupati</h2>
                <!--<p>Template based on deep research on the most popular travel booking websites such as booking.com, tripadvisor, yahoo<br> travel, expedia, priceline, hotels.com, travelocity, kayak, orbitz, etc. This guys can’t be wrong.<br> You should definitely give it a shot :)</p>-->
                <a href="#" class="btn btn-primary btn-lg border-radius">READ MORE</a>
            </div><!-- end homemessage -->
        </div><!-- end container -->
    </section><!-- end section -->

{% endblock %}