{% extends 'page.html.twig' %}
{% block javascripts %}

{% endblock %}
{% block body %}

    <section class="section clearfix">
        <div class="container">
            <div class="row">
                <div id="fullwidth" class="col-sm-12">
                    <div class="col-lg-12">
                    <table id="result" class="table table-bordered col-lg-12 col-sm-12">
	               {% if bookings|length>0 %}	
                          <tr class="blue">
                                <th>Booking Id #</th>
                                <th>Prefer Time</th>
                                <th>No of Days</th>
                                <th>Trip Type</th>
                                <th>Booked On </th>
                                <th>Adult </th>
                                <th>Total Price</th>
                                <th>Discount</th>
                                <th>Final Price</th>
                                <th> Amount Paid </th>
                                <th> Payment Id </th>
                                <th> Status </th>
							</tr>	
					{% endif %}			
						
                     {% for booking in bookings if bookings|length>0 %}
                       {% if booking.customerId %}
                        {% set service = booking.vehicleBooking.first %}
                        <tr>
                            <td>{{ booking.bookingId }}</td> 
                            <td>{{ booking.preferTime }}</td>
                            <td>{{ booking.numDays }}</td>
                            <td>{{ service.tripType }}</td>
                            <td>{{ booking.bookedOn|date('d/m/Y') }}</td>
                            <td>{{ booking.numAdult }}</td>
                            <td>{{ booking.totalPrice }}</td>
                            <td>{{ booking.discount }}</td>
                            <td>{{ booking.finalPrice }}</td>
                            <td>{{ booking.amountPaid }}</td>
                            <td>{{ booking.paymentId }}</td>
                            <td>{{ booking.status }}</td>
                        
                        </tr>
                        <tr>
                            <td colspan="14" class="oddClass">
                            <table class="table table-bordered col-lg-12 col-sm-12 oddClass">
                                 {% for service in booking.vehicleBooking if booking.vehicleBooking|length>0 %}
                                    <tr class="oddClass">
                                        <td>{{ service.model }}</td>
                                        <td>{{ locations[service.leavingFrom].name }}</td>
                                        <td>{{ locations[service.goingTo].name }}</td>
                                        <td> {{ service.date|date('d/m/Y') }} </td>
                                <td>{% if service.tripType=='roundtrip' %} {{ service.returnDate|date('F jS Y') }} {% else %} - {% endif %}</td>
                                    </tr>
                                {% endfor %}
                            </table>
                            </td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
</section>
{% endblock %}