{% extends 'page.html.twig' %}
{% block stylesheets %}

{% endblock %}
{% block javascripts %}
<script type="text/javascript">
$('.preferTime').timepicker({ 'scrollDefault': 'now' });

$('.adults').click(function(e){		
	e.preventDefault(); //STOP default action 
	 var id = $(this).attr('id');
	 var value = parseInt($(this).attr('value'));
    var numAdult = $(this).siblings("input[name=numAdult]");
	 var adults =parseInt(numAdult.val());
	 if (isNaN(adults)) { 
		 adults= 0
       } 
	 if(id=='decrement'){
		 adults-=1;
		 if(adults>=value) numAdult.val(adults); else exit();
	  }else{
		adults+=1;
	    if(adults<=20)  numAdult.val(adults); else exit();
		}	
});

$('.vehicle-icon').click(function(e){		
	e.preventDefault(); //STOP default action 
	 var id = $(this).attr('id');
	 var price = $(this).attr('value');
    var package = parseInt($(this).attr('title'));
    $('.vehicle'+package).removeClass('active');
    $(this).addClass('active');
    $('#vehicleIndex'+package).val(id);
    $('#price'+package).html(price);


  });


</script>
<script type="text/javascript">
		$(function(){
			$('#datetime2').appendDtpicker();
		});
	</script>
	<script type="text/javascript">
		$(function(){
			$('#datetime3').appendDtpicker();
		});
	</script>
{% endblock %}

{% block breadcrumb %}
                    <ul class="c1 breadcrumb text-left">
                        <li><a href="#">Home</a></li>
                        <li>View Bikes</li>
                        <li>Bikes List</li>
                    </ul>
                    <h3></h3>
{% endblock %}

{% block body %}

<section class="section clearfix">
    
    	
        <div class="container">
            <div class="row">
            	<div class="col-md-3">
            		<div class="brand-color">
            			<h3 class="details">Date & Time For Pickup</h3>
            			<hr>
            			<div class="row">
            				{{ form_start(form) }}
                             {{ form_errors(form) }}
                             {{ form_errors(form.date) }}
                             {{ form_errors(form.returndate) }}
                             	<div class="col-md-12 bikes-form-font">
                             	{{ form_label(form.date) }} 
                                {{ form_widget(form.date, {'id': 'datetime2'}) }}
                                </div>
                                <div class="col-md-12 bikes-form-font">
                                {{ form_label(form.returndate) }} 
                                {{ form_widget(form.returndate, {'id': 'datetime3'}) }}
                                </div>
                                
                             {{ form_end(form) }}
            			</div>
            			<p class="brandtype">Duration > <span class="black">{% set difference = (booking.date).diff((booking.returndate)) %}
                        {% set leftDays = difference.days %}
                        {% set hours = difference.h %}
                        {% if leftDays == 1 %}
                          1 day
                        {% else %}
                          {{ leftDays }} days 
                     {% endif %}{{ hours }} Hours</span><br>
                     {#}<div>{% set bike = 15 %}
                        {% set day = 150 %}
                        {% set fivehours = hours %}
                        {% if fivehours <= 5 %}
    						{%  set test1 = bike * fivehours %}
                            {{ test1 }}
                            {% else %}
                            <p>0</p>
                        {% endif %}</div>{#}
                     </p>
            			{#}<div class="row">
            			<div class="col-md-12">
            				<p class="brandtype">Pickup > <span class="black">{{ booking.date|date("d/m/Y h:m") }}</span></p>
            			</div>
            			<div class="col-md-6">
            				<p class="brandtype"></span></p>
            			</div>
            			<div class="col-md-12">
            			<p class="brandtype">Return < <span class="black">{{ booking.returndate|date("d/m/Y h:m") }}</span></p>
            			</div>
            			<div class="col-md-6">
            			<p class="brandtype"></span></p>
            			</div>
            			</div>{#}
            			<hr>
            			
            		</div>
            		
            	</div>
            	<div class="col-md-9">
            		<div class="row">
            		<p>{{ url }}</p>
            		<p>test</p>
                        {#}<div class="col-lg-12 col-sm-12 col-xs-12">
                            {% for bike in bikes %} 
                            <div class="col-md-4" >
                            <div>
                            <img src="{{asset('images/bikes/'~bike.imgPath) }}" style="width: 100%;">
                            </div>
                            <div class="bike-background">                                
                                <h5 class="bike-grid-title"><a style="color: #0694b6;" href="{{ path('trip_site_management_view_bikes',{ 'url':bike.locationUrl }) }}">{{ bike.title }}</a></h5>
                                <div><h6 style="text-align:center;color:#000">Starts @{{ bike.statingPrice }}</h6>
                                		<div class="col-md-5 text-center" >
                                		<span class="black1">{{ booking.date|date("d/m/Y h:i A") }}</span>
                                         </div>
                                         <div class="col-md-2 text-center" >
                                         <p class="icon-font"><i class="fa fa-arrows-h" aria-hidden="true"></i></p>
                                         </div>
                                         <div class="col-md-5 text-center" >
                                         <span class="black1">{{ booking.returndate|date("d/m/Y h:i A") }}</span>
                                         </div>
                                	    <h6><span>{{ bike.dayrent }}</span></h6>
                                	    {% set dayret = bike.dayrent %}
                                        {% set test2 = 150 %}
                                        {% set startprice = bike.statingPrice %}
                                        {%  set test3 = leftDays * test2 %}
                                        {%  set test5 = hours * startprice %}
                                        {% set fivehours = hours %}
                                        {% if fivehours==0 %}
                                        	<h4 style="text-align:center;color:#000"><i class="fa fa-inr" aria-hidden="true"></i> {{ dayret * leftDays }}</h4>
                                        {% else %}
                                            {% if fivehours <= 5  %}
                                            	{% set fixhours=5 %}
                        						{%  set fivehoursbase = startprice * fixhours %}
                                                <h4 style="text-align:center;color:#000"><i class="fa fa-inr" aria-hidden="true"></i> {{ fivehoursbase + dayret * leftDays  }}</h6>
                                                {% else %}
                                                	 {% if fivehours <= 10 %}
                                                        {% set inc= hours * startprice  %}
                                                        {% set dayscal= leftDays * dayret %}
                                     
                                                		<h4 style="text-align:center;color:#000"><i class="fa fa-inr" aria-hidden="true"></i> {{ dayscal + inc }}</h6>
                                             			{% else %}
                                             			{% set totaldays= leftDays + 1 %}
                                             	
                                             			<h4 style="text-align:center;color:#000"><i class="fa fa-inr" aria-hidden="true"></i> {{ totaldays * dayret }}</h6>
                                                        {% endif %}
                                              {% endif %}
                                        {% endif %}
                                        </div>
                                 <div class="row">
                                         <div class="col-md-3" >
                                         </div>
                                         <div class="col-md-6" >
        								<a class="btn aligncenter view-bike"   href="{{ path('trip_booking_engine_confirm',{'url':bike.locationUrl }) }}">Rent Now</a>
                                         </div>
                                         <div class="col-md-3" >
                                         </div>
                                 </div>
                              
                              </div>
                            </div>
                           {% endfor %}
                    </div>{#}
                    {#}
					 <div class="col-lg-2 col-xs-12 text-center">
					<img src="{{ asset('images/Sidebar.png') }}">
	<h1 style="font-size:20px;">+91-9663133008</h1>
       
		</div>
		{#}
					
           
            
        			</div>
            	</div>
            	
            	
            	
            </div>
        </div>
    </section>
{% endblock %}