{% extends 'page.html.twig' %}
{% block stylesheets %}
<link href="{{ asset('css/jquery.timepicker.css') }}" rel="stylesheet" media="screen">
{% endblock %}
{% block javascripts %}
<script src="{{ asset('js/jquery.timepicker.min.js') }}"></script>
<script>
$('.preferTime').timepicker({ 'scrollDefault': 'now' });
    
         $('.adults').click(function(e){		
			e.preventDefault(); //STOP default action 
			 var id = $(this).attr('id');
			 var value = parseInt($(this).attr('value'));
             var numAdult = $(this).siblings("input[name=numAdult]");
			 var adults =parseInt(numAdult.val());
			 if (isNaN(adults)) { 
				 adults= 0
	            } 
			 if(id=='decrement'){
				 adults-=1;
				 if(adults>=value) numAdult.val(adults); else exit();
			  }else{
				adults+=1;
			    if(adults<=20)  numAdult.val(adults); else exit();
				}	
	    });
    
         $('.vehicle-icon').click(function(e){		
			e.preventDefault(); //STOP default action 
			 var id = $(this).attr('id');
			 var price = $(this).attr('value');
             var package = parseInt($(this).attr('title'));
             $('.vehicle'+package).removeClass('active');
             $(this).addClass('active');
             $('#vehicleIndex'+package).val(id);
             $('#price'+package).html(price);


	       });
</script>
{% endblock %}
{% block body %}

<section class="section clearfix">
        
    <div class="container">
        <ul class="nav nav-pills pactabs">
          <li class="active"><a data-toggle="pill" href="#1day">One day Package</a></li>
          <li><a data-toggle="pill" href="#2day">Two day Package</a></li>
       {#}<li><a data-toggle="pill" href="#3day">Three day Package</a></li>
          <li><a data-toggle="pill" href="#4day">Four day Package</a></li> {#}
        </ul>
  
        <div class="tab-content">
            <div id="1day" class="tab-pane fade in active">
                    <div class="container">

                        <div class="row">
                            <div id="fullwidth" class="col-sm-12">
                                <div class="row">
                                 {% for key,package in packages %} 
                                     {% if package.type == 'one' %}
                                         
                                            <div class="col-md-4">
                                <div class="mini-desti package row">

                                    <div class="col-md-12">
                                        <div class="mini-desti-title details package-border">
                                            <div class="pull-left">
                                                <h6>{{ package.name }}</h6>
                                            </div> 
                                            <div class="pull-right">
                                                <h6>{{ package.code }}</h6>
                                            </div> 
                                            <div class="clearfix"></div>   
                                            <div class="mini-desti-desc package-desc {% if loop.index is even %} oddClass {% endif %}">

                                                <div class="col-md-12 package-border"> 
                                                    <div class="col-md-12 container">
                                                         <!--<div class="helper">
                                                           <ul class="list-unstyled">-->
                                                               <span class="package-title"> Pick Up</span>
<!--                                                             </ul>
                                                        </div>-->
                                                     </div>
                                                      <div class="col-md-12 container ">

                                                      <!-- <div class="helper">
                                                           <ul class="list-unstyled">-->
                                                           {% for startPoint in package.startPoint %} 
                                                                {{ locations[startPoint.name].name }} {% if loop.last is same as(false) %} / {% endif %}
                                                           {% endfor %}
                                                          <!-- </ul>
                                                        </div>-->
                                                    </div>
                                                </div>
                                                    
                                                
                                                <div class="col-md-12"> 
  
                                                <div class="col-md-12 container">
                                                         <!--<div class="helper">
                                                           <ul class="list-unstyled">-->
                                                     <span class="package-title"> Places to Visit</span>
                                                            <!-- </ul>
                                                    </div>-->
                                                     </div>
                                                <div class="col-md-12 container">
                                                   <!--<div class="helper">
                                                       <ul class="package-Destination">-->
                                                       {% for endPoint in package.endPoint %} 
                                                            {{ locations[endPoint.name].name }},
                                                       {% endfor %}
                                                       <!--</ul> 
                                                    </div>-->
                                                </div>
                                                </div>
                                            </div>
                                            <div class="clearfix"></div> 


                                                <div class="col-md-12 package-border">
                                                {% for index,price in package.price %} 
                                                    <div class="col-md-2 package-vehicle">
                                                        <span class="text-center">{{ price.name }}</span> 
                                                    <span id="{{ index }}" value="{{ price.price }}" title="{{ package.id }}" class="vehicle{{ package.id }} vehicle-icon text-center {% if loop.index==1 %} active {% endif %}">
                                                            <i class="fa fa-car"></i>
                                                        </span>
                                                        <span class="text-center"><i class="fa fa-inr"></i> {{ price.price }}</span> 
                                                    </div>
                                                {% endfor %}
                                                </div>
                                           <div class="clearfix"></div> 
                                            <form action="{{ path('trip_site_management_homepage_package_submit') }}" action="post">
                                            <div class="col-md-12 text-center package-info">                                   

                                                <div class="row">
                                                    <div class="col-md-6 package-price-label">
                                                        <h6>Starting From:</h6>
                                                    </div>
                                                    <div class="col-md-6 price">
                                                        <i class="fa fa-inr"></i><span id="price{{ package.id }}"> {{ package.price.first.price }} </span>  
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-4">

                                                         <div class="form-group make-margin">
                                                             <label>Date</label>
                                                    <input type="text" name="preferDate" placeholder="Prefer Date" class="form-control preferDate" required>                                          
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">

                                                         <div class="form-group make-margin">
                                                        <label>Time</label>
                                                     <input type="text" name="preferTime" placeholder="Prefer Time" class="form-control preferTime" required>                                            
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">

                                                        <div class="form-group make-margin">
                                                            <label>Adults</label>
                                                         <div class="input-group">
                                                            <a class="adults input-group-addon" id="decrement" value="1" href="#">-</a> 
                                                <input type="text" name="numAdult" placeholder="Adults" class="form-control numAdult" value="1" required> 
                                                            <a class="adults input-group-addon" id="increment" href="#">+</a>
                                                        </div>
                                                        </div>
                                                    </div>
                                                </div>



                                            </div> 
                                            <div class="clearfix"></div> 
                                                <div class="text-center">
                                                 <input type="hidden" name="selected" value="{{ key }}"> 
                                                <input id="vehicleIndex{{ package.id }}" type="hidden" name="vehicleIndex" value="{{ package.price.keys[0] }}">
                                                <button type="submit" class="awe-btn awe-btn btn btn-book btn-block"><i class="fa fa-shopping-cart"></i> BOOK NOW</button>
                                                </div>
                                                </form>
                                            <div class="clearfix"></div> 

                                        </div><!-- end title -->
                                    </div><!-- end col -->
                                </div><!-- end mini-desti -->
                                        </div>
                                        
                                    {%endif%}
                                {% endfor %}
                                 
                               </div>
                            </div>
                        </div>
                    </div>
            </div>
            <div id="2day" class="tab-pane fade">
                 <div class="container">

                        <div class="row">
                            <div id="fullwidth" class="col-sm-12">
                                <div class="row">
                                 {% for key,package in packages %} 
                                     {% if package.type == 'two' %}
                                <div class="col-md-4">
                                <div class="mini-desti package row">

                                    <div class="col-md-12">
                                        <div class="mini-desti-title details package-border">
                                            <div class="pull-left">
                                                <h6>{{ package.name }}</h6>
                                            </div> 
                                            <div class="pull-right">
                                                <h6>{{ package.code }}</h6>
                                            </div> 
                                            <div class="clearfix"></div>   
                                            <div class="mini-desti-desc package-desc {% if loop.index is even %} oddClass {% endif %}">

                                                  <div class="col-md-12 package-border ">                                                      
                                                    <div class="col-md-12 container">
                                                        <span class="package-title"> Pick Up</span>
                                                     </div>
                                                      <div class="col-md-12 container">

                                                   
                                                    {% for startPoint in package.startPoint %} 
                                                        {{ locations[startPoint.name].name }} {% if loop.last is same as(false) %} / {% endif %}
                                                    {% endfor %}
                                                      
                                                    </div>
                                                     
                                                    </div>                                              

                                               <div class="col-md-12 package-border ">
                                                <div class="col-md-12 container">
                                                          <span class="package-title"> Places to Visit FirstDay</span>
                                                </div>
                                                <div class="col-md-12 container">
                                                {% for endPoint in package.endPoint %} 
                                                    {{ locations[endPoint.name].name }} {% if loop.last is same as(false) %} / {% endif %}
                                                {% endfor %}
                                                </div>
                                                </div>
                                                <div class="col-md-12 container">
                                                          <span class="package-title"> Places to Visit SecondDay</span>
                                                 </div>
                                               <div class="col-md-12 container">
                                                       {% for endPoint2 in package.endPoint2 %} 
                                                            {{ locations[endPoint2.name].name }} {% if loop.last is same as(false) %},{% endif %}
                                                       {% endfor %}
                                                      
                                                </div>
                                            </div>
                                            <div class="clearfix"></div> 


                                                <div class="col-md-12 package-border">
                                                {% for index,price in package.price %} 
                                                    <div class="col-md-2 package-vehicle">
                                                        <span class="text-center">{{ price.name }}</span> 
                                                    <span id="{{ index }}" value="{{ price.price }}" title="{{ package.id }}" class="vehicle{{ package.id }} vehicle-icon text-center {% if loop.index==1 %} active {% endif %}">
                                                            <i class="fa fa-car"></i>
                                                        </span>
                                                        <span class="text-center"><i class="fa fa-inr"></i> {{ price.price }}</span> 
                                                    </div>
                                                {% endfor %}
                                                </div>
                                           <div class="clearfix"></div> 
                                            <form action="{{ path('trip_site_management_homepage_package_submit') }}" action="post">
                                            <div class="col-md-12 text-center package-info">                                   

                                                <div class="row">
                                                    <div class="col-md-6 package-price-label">
                                                        <h6>Starting From:</h6>
                                                    </div>
                                                    <div class="col-md-6 price">
                                                        <i class="fa fa-inr"></i><span id="price{{ package.id }}"> {{ package.price.first.price }} </span>  
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-4">

                                                         <div class="form-group make-margin">
                                                             <label>Date</label>
                                                    <input type="text" name="preferDate" placeholder="Prefer Date" class="form-control preferDate" required>                                          
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">

                                                         <div class="form-group make-margin">
                                                        <label>Time</label>
                                                     <input type="text" name="preferTime" placeholder="Prefer Time" class="form-control preferTime" required>                                            
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">

                                                        <div class="form-group make-margin">
                                                            <label>Adults</label>
                                                         <div class="input-group">
                                                            <a class="adults input-group-addon" id="decrement" value="1" href="#">-</a> 
                                                <input type="text" name="numAdult" placeholder="Adults" class="form-control numAdult" value="1" required> 
                                                            <a class="adults input-group-addon" id="increment" href="#">+</a>
                                                        </div>
                                                        </div>
                                                    </div>
                                                </div>



                                            </div> 
                                            <div class="clearfix"></div> 
                                                <div class="text-center">
                                                 <input type="hidden" name="selected" value="{{ key }}"> 
                                                <input id="vehicleIndex{{ package.id }}" type="hidden" name="vehicleIndex" value="{{ package.price.keys[0] }}">
                                                <button type="submit" class="awe-btn awe-btn btn btn-book btn-block"><i class="fa fa-shopping-cart"></i> BOOK NOW</button>
                                                </div>
                                                </form>
                                            <div class="clearfix"></div> 

                                        </div><!-- end title -->
                                    </div><!-- end col -->
                                </div><!-- end mini-desti -->
                                        </div>

                                    {%endif%}
                                {% endfor %}
                                 
                               </div>
                            </div>
                        </div>
                    </div>
            </div>
            
        </div>
    </div>
        
        
</section>
{% endblock %}