{% extends 'page.html.twig' %}
{% block stylesheets %}
<link href="{{ asset('css/jquery.timepicker.css') }}" rel="stylesheet" media="screen">
{% endblock %}

{% block meta %}
    <meta name="keywords" content="{{ packagetitle.metaKeywords }}">
    <meta name="description" content="{{ packagetitle.metaDescription }}">  
{% endblock %}
{% block title %} {{ packagetitle.metaTitle }} {% endblock %}
{% block javascripts %}
<script src="{{ asset('js/jquery.timepicker.min.js') }}"></script>
<script>
    

$('.preferTime').timepicker({ 'scrollDefault': 'now' });
    
         $('.adults').click(function(e){		
			e.preventDefault(); //STOP default action 
			 var id = $(this).attr('id');
			 var value = parseInt($(this).attr('value'));
             var numAdult = $(this).siblings("input[name=numAdult]");
			 var adults =parseInt(numAdult.val());
			 if (isNaN(adults)) { 
				 adults= 0
	            } 
			 if(id=='decrement'){
				 adults-=1;
				 if(adults>=value) numAdult.val(adults); else exit();
			  }else{
				adults+=1;
			    if(adults<=12)  numAdult.val(adults); else exit();
				}	
	    });
    
         $('.vehicle-icon').click(function(e){		
			e.preventDefault(); //STOP default action 
			 var id = $(this).attr('id');
			 var price = $(this).attr('value');
             var package = parseInt($(this).attr('title'));
             $('.vehicle'+package).removeClass('active');
             $(this).addClass('active');
             $('#vehicleIndex'+package).val(id);
             $('#price'+package).html(price);


	       });
</script>
{% endblock %}

{% block breadcrumb %}
					<div class="c1 breadcrumb text-left">
                        <div><span class="glyphicon glyphicon-home" style="padding:5px;"></span><a href="#">Home</a><span><span class="glyphicon glyphicon-chevron-right" style="padding:5px;"></span>{{ packagetitle.title }}</span></div>
                    </div>
                    
{% endblock %}

{% block body %}

<section class="section clearfix">
    <div class="container">
		<h3>{{ packagetitle.title }}</h3>
        	<div class="row">
    		<div class="col-md-9">
    			{% for key,package in packages %}
    				<div class="col-md-6 package-title-two">
    					<div class="package-box-twoday">
                       <div class="pull-left">
                       	<h6 style="color:#adadad">{{ package.name }} - <span class='two-daypackage-title'>{{ package.code }}</span></h6>
                       </div> 
                       <table class="table">
                       		<tbody>
                       			<tr>
                       				<th class="package-title text-center"> Pick Up</th>
                       				<th class="package-title text-center"> Places to Visit</th>
                       				<th class="package-title text-center"> Drop</th>
                       			</tr>
                       			<tr style="height: 100px;">
                       				<td class="text-center">
                       					<p class="locations-desc">
                       					{% for startPoint in package.startPoint %} 
                                        {{ locations[startPoint.name].name }} {% if loop.last is same as(false) %} / {% endif %}
                                        {% endfor %}</p>
                       				</td>
                       				<td class="text-center">
                       					<span class="locations-desc">
                                    				{% if package.endPoint|length>0 %}
                                                               {% for endPoint in package.endPoint %} 
                                                                    {{ locations[endPoint.name].name }}{% if loop.last is same as(false) %},{% endif %}
                                                            
                                                               {% endfor %}
                                                             {% else %}
                                                                    N/A
                                                           
                                                             {% endif %}
                                    			</span>
                       				</td>
                       				<td class="text-center">
                       					<p class="locations-desc">{% if package.endPoint2|length>0 %}
                                                            {% for endPoint2 in package.endPoint2  %} 
                                                            {{ locations[endPoint2.name].name }} {% if loop.last is same as(false) %},{% endif %}
                                                           
                                                            {% endfor %}
                                                           {% else %}
                                                                    N/A
                                                           
                                                           {% endif %}</p>
                       				
                       				</td>
                       			</tr>
                       			
                       		</tbody>
                       </table>
                       <form action="{{ path('trip_site_management_homepage_package_submit') }}" action="post">
                       <div class="row text-center">
                       		<div class="col-md-12">
                       								<table class="table">
                       									<tbody>
                       										<tr>
                       										{% for index,price in package.price %}
                       											<td class="package-vehicle">
                       												<span id="{{ index }}" value="{{ price.price }}" title="{{ package.id }}" class="vehicle{{ package.id }} vehicle-icon text-center {% if loop.index==1 %} active {% endif %}">
                                                        <span class="text-center">{{ price.name }}</span> 
                                                        
                                                            {% if index==0 %}
                                                            	<img src="{{ asset('images/justtrip-hasback-icon.png') }}" alt="" class="img-responsive package-img-degin">
                                                            {% elseif index==1 %}
                                                            	<img src="{{ asset('images/justtrip-sedan-icon.png') }}" alt="" class="img-responsive package-img-degin">
                                                            {% elseif index==2 %}
                                                            	<img src="{{ asset('images/justtrip-suv-icon.png') }}" alt="" class="img-responsive package-img-degin">
                                                            {% elseif index==3 %}
                                                            	<img src="{{ asset('images/justtrip-tempo-icon.png') }}" alt="" class="img-responsive package-img-degin">
                                                            {% endif %}
                                                       
                                                        <span class="text-center"><i class="fa fa-inr"></i> {{ price.price }}</span>
                                                         </span>
                       											</td>
                       											 {% endfor %}
                       										</tr>
                       									</tbody>
                       								</table>
                                                    
                                               
                       		</div>
                       		<div class="col-md-12">
                       		<hr class="hr-nomargin">
                       		<h6 class="package-display-price">Starting From: <span id="price{{ package.id }}" class="price-package-color"><i class="fa fa-inr"></i> {{ package.price.first.price }} </span></h6>
                       		</div>
                       		<div class="col-md-12">
                       			<div class="row">
                                                    <div class="col-md-4 package-info-widget">

                                                         <div class="form-group make-margin">
                                                    <input type="text" name="preferDate" placeholder="Prefer Date" class="form-control preferDate input-package" required>                                          
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4 package-info-widget">

                                                         <div class="form-group make-margin">
                                                     <input type="text" name="preferTime" placeholder="Prefer Time" class="form-control preferTime input-package" required>                                            
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4 package-info-widget">

                                                        <div class="form-group make-margin">
                                                         <div class="input-group">
                                                            <a class="adults input-group-addon" id="decrement" value="1" href="#">-</a> 
                                                <input type="text" name="numAdult" placeholder="Adults" class="form-control numAdult input-package" value="" required> 
                                                            <a class="adults input-group-addon" id="increment" href="#">+</a>
                                                        </div>
                                                        </div>
                                                    </div>
                                                </div>
                       		</div>
                       </div>
                       <div class="row">
                       		<div class="col-md-6">
                       			<input type="hidden" name="selected" value="{{ key }}"> 
                                                <input id="vehicleIndex{{ package.id }}" type="hidden" name="vehicleIndex" value="{{ package.price.keys[0] }}">
                                                <button type="submit" class="awe-btn awe-btn btn btn-book btn-block"><i class="fa fa-shopping-cart"></i> BOOK NOW</button>
                       		</div>
                       		<div class="col-md-6">
                                                {% if package.packageUrl %}
                                                 <a style="background-color: #f26722;margin-top: 7px;"  class="awe-btn awe-btn btn btn-primary btn-block" href="{{ path('trip_site_management_view_package',{'url':package.packageUrl}) }}"><i class="fa fa-eye"></i> MORE Details</a>
                                                 {% endif %}
                       		</div>
                       </div>
                       </form>
                       </div>
                    </div>
    		    {% endfor %}
    		</div>
    		<div class="col-md-3 bike-background">
    			<h3>All Packages</h3>
                {% for packagetitle in packagetitles %} 
                	<a class="package-links" href="{{ path('trip_site_management_homepage_special_packages',{ 'url':packagetitle.locationUrl }) }}">{{ packagetitle.title }}</a> <br>
                	<hr style="margin-top:-3px;">
                {% endfor %}
    		</div>
    	</div>
    </div> 
</section>
{% endblock %}