{% extends 'page.html.twig' %}
{% block javascripts %}
<script>
$(".update").click(function(e) {
			e.preventDefault();
			var tr = $(this).parent().parent();
			var id = $(tr).find('td:eq(0)').attr("id");
			var price = $(tr).find('td:eq(2)').text().trim();
			var returnPrice = $(tr).find('td:eq(3)').text().trim();	

			$.ajax({
					url: "{{ path('trip_site_management_booking_update_service_price') }}",
					type: "POST",
					data: { "id" : id,"price" : price,"returnPrice" : returnPrice },
							success: function(data) {
									alert(data);														
						},
					error: function(XMLHttpRequest, textStatus, errorThrown)
						{
							 alert('Error: ' +  errorThrown);
							}
				});	
	});
</script>
{% endblock %}
{% block body %}

    <section class="section clearfix">
        <div class="container">
            <div class="row">
                <div id="fullwidth" class="col-sm-12">
                    <div class="col-lg-5">
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    {{ form_end(form) }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div id="fullwidth" class="col-sm-12">
					<table class="table table-bordered col-lg-12 col-sm-12">
					<tr>
						<th>From</th>
						<th>To</th>
						<th>Price</th>
						<th>Return Price</th>
						<th>/</th>
					</tr>
                     {% for service in services %}
                        <tr>
                            <td id="{{ service.id }}">
                                {{ service.lFrom }}
                            </td>
							 <td>
                                {{ service.to }}
                            </td>
							<td contenteditable="true">
                                {{ service.price }}
                            </td>
							 <td contenteditable="true">
                                 {{ service.returnPrice }}
                            </td>
							<td>
								<a href="#" class="update">Update</a>
							</td>
							
                        </tr>
                    {% endfor %}
					</table>
                </div>
            </div>
        </div>
</section>
{% endblock %}