{% extends 'page.html.twig' %}
{% block javascripts %}
<script>
$("select").change(function() {
			$("#search").submit();						
		});
		 $("input").blur(function() {
			$("#search").submit();						
		});
</script>
{% endblock %}
{% block body %}

    <section class="section clearfix">
        <div class="container">
            <div class="row">
                <div id="fullwidth" class="col-sm-12">
                    <div class="col-lg-5">
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    {{ form_end(form) }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div id="fullwidth" class="col-sm-12">
					<table class="table table-bordered col-lg-12 col-sm-12">
					<tr>
						<th>Model</th>
						<th>Capcity</th>
						<th>Mileage</th>
						<th>Multi City Price</th>
						<th>Daily Rent</th>
						<th>Extra Day Price</th>
						<th>/</th>
					</tr>
                     {% for vehicle in vehicles %}
                        <tr>
                            <td>
                                {{ vehicle.model }}
                            </td>
							 <td>
                                {{ vehicle.capcity }}
                            </td>
							 <td>
                                {{ vehicle.mileage }}
                            </td>
							 <td>
                                {{ vehicle.price }}
                            </td>
							 <td>
                                {{ vehicle.dailyRent }}
                            </td>
							 <td>
                                {{ vehicle.extraPrice }}
                            </td>
							<td>
								<a href="{{ path('trip_site_management_edit_vehicle',{ 'id': vehicle.id }) }}"><i class="fa fa-pencil-square-o"></i></a>
							</td>
                        </tr>
                    {% endfor %}
					</table>
                </div>
            </div>
        </div>
</section>
{% endblock %}