	{% extends 'page.html.twig' %}
{% block stylesheets %}
<link href="{{ asset('css/jquery.timepicker.css') }}" rel="stylesheet" media="screen">
<link type="text/css" rel="stylesheet" href="{{ asset('css/lightGallery.min.css') }}" /> 
<link type="text/css" rel="stylesheet" href="{{ asset('css/lightslider.css') }}" /> 

{% endblock %}
{% block javascripts %} 
 <script src="{{ asset('js/lightgallery-all.min.js') }}"></script>
 <script src="{{ asset('js/lightslider.js') }}"></script> 
<script src="{{ asset('js/jquery.timepicker.min.js') }}"></script>

<script>
$(document).ready(function() {
   // $("#view-package-slider").lightSlider(); 

    $('#view-package-slider').lightSlider({
        gallery:true,
        item:1,
        loop:true,
        slideMargin:0,
        enableDrag: false,
        currentPagerPosition:'left',
        onSliderLoad: function(el) {
            el.lightGallery({
                selector: '#view-package-slider .lslide'
            });
        }   
    });  
  });
$('.preferTime').timepicker({ 'scrollDefault': 'now' });
    
         $('.adults').click(function(e){		
			e.preventDefault(); //STOP default action 
			 var id = $(this).attr('id');
			 var value = parseInt($(this).attr('value'));
             var numAdult = $(this).siblings("input[name=numAdult]");
			 var adults =parseInt(numAdult.val());
			 if (isNaN(adults)) { 
				 adults= 0
	            } 
			 if(id=='decrement'){
				 adults-=1;
				 if(adults>=value) numAdult.val(adults); else exit();
			  }else{
				adults+=1;
			    if(adults<=20)  numAdult.val(adults); else exit();
				}	
	    });
    
         $('.vehicle-icon').click(function(e){		
			e.preventDefault(); //STOP default action 
			 var id = $(this).attr('id');
			 var price = $(this).attr('value');
             var package = parseInt($(this).attr('title'));
             $('.vehicle'+package).removeClass('active');
             $(this).addClass('active');
             $('#vehicleIndex'+package).val(id);
             $('#price'+package).html(price);


	       });
</script>
{% endblock %}


 {% block meta %}
 {% if package %}
    <meta name="keywords" content="{{ package.metaKeywords }}">
    <meta name="description" content="{{ package.metaDescription }}">  
{% endif%}
{% endblock %}
    {% block title %} {% if package %} {{ package.metaTitle }} {% endif%}{% endblock %}
    
   {% block breadcrumb %}
   {% if package %}
                    <div class="c1 breadcrumb text-left">
                        <div><span class="glyphicon glyphicon-home" style="padding:5px;"></span><a href="#">Home</a><span><span class="glyphicon glyphicon-chevron-right" style="padding:5px;"></span>{{ package.title }}</span></div>
                    </div>
                    <h3></h3>
	{% endif%}
{% endblock %}

{% block body %}

<section class="section clearfix">

	
	<div class="container package-view">
        <div class="row">
			 <div id="fareRules">
                <div class="row">
                    <div class="col-lg-12">
                        <h4 class="package-custome-title">Fare Rules</h4>
                        	<ul class="list-view">
                        		<li> Toll , Parking, Food allowances and  State Permit extra</li>
		                        <li>In ghat road A/C will not function.</li>
		                         <li>Once the Journey is started, Tickets are not refundable and unchangeable.</li>
								 <li> Price mentioned is applicable for drop/return on the same day.</li>
		                         <li>  For Tirumala drop cab will wait 30 Minutes at CRO Office after that
		Extra hour will be charged Rs:100/- for all 4 seater  cars , Rs:150/-for
		all 7 seater cars , Rs:-200/-for all 12 seater.</li>
		                         <li>Cancellation charges of Rs.100 applicable if canceled within 24 Hours of pickup time.</li>
                        	</ul>
                        
                    </div>
                </div>
            </div>
			
			
          </div>
            
    </div>
       
        
</section>
{% endblock %}