{% extends 'page.html.twig' %}
{% block stylesheets %}
<link href="{{ asset('css/jquery.timepicker.css') }}" rel="stylesheet" media="screen">
{% endblock %}

{% block meta %}
    <meta name="keywords" content="{{ bikecity.metaKeywords }}">
    <meta name="description" content="{{ bikecity.metaDescription }}">  
{% endblock %}
{% block title %} {{ bike.metaTitle }} {% endblock %}
{% block javascripts %}
<script src="{{ asset('js/jquery.timepicker.min.js') }}"></script>
<script>
    

$('.preferTime').timepicker({ 'scrollDefault': 'now' });
    
         $('.adults').click(function(e){		
			e.preventDefault(); //STOP default action 
			 var id = $(this).attr('id');
			 var value = parseInt($(this).attr('value'));
             var numAdult = $(this).siblings("input[name=numAdult]");
			 var adults =parseInt(numAdult.val());
			 if (isNaN(adults)) { 
				 adults= 0
	            } 
			 if(id=='decrement'){
				 adults-=1;
				 if(adults>=value) numAdult.val(adults); else exit();
			  }else{
				adults+=1;
			    if(adults<=20)  numAdult.val(adults); else exit();
				}	
	    });
    
         $('.vehicle-icon').click(function(e){		
			e.preventDefault(); //STOP default action 
			 var id = $(this).attr('id');
			 var price = $(this).attr('value');
             var package = parseInt($(this).attr('title'));
             $('.vehicle'+package).removeClass('active');
             $(this).addClass('active');
             $('#vehicleIndex'+package).val(id);
             $('#price'+package).html(price);


	       });
        
</script>
<script type="text/javascript">
		$(function(){
			$('#datetime2').appendDtpicker();
		});
		
	</script>
	<script type="text/javascript">
		$(function(){
			$('#datetime3').appendDtpicker();
		});
		
	</script>
	<script>
			$(document).ready(function(){
				$("#datetime3").change(function(){
					var first=$("#datetime2").val();
					var second=$("#datetime3").val();
					if(first===second)
					{
						alert("Reture date is inavlid please select returndate greaterthan pickupdate");
					}
					else{
						//alert("this is different string");
						//return;
					}
				});
			});
		</script>
		<script>
	$( window ).load(function(){
		var locv=$('#txt_name1').val();
		$('#trip_sitemanagementbundle_price_viewbikes_location').val(locv);

	});	
	</script>
	<script>
	
	jQuery(document).ready(function($){
	    //open popup
	    $('.pop-up-button').on('click', function(event){
	        event.preventDefault();
	        $('.bikepreferDate').addClass('is-visible');
	    });
	</script>
{% endblock %}

{% block breadcrumb %}
					<div class="c1 breadcrumb text-left">
                        <div>
                        	<span class="glyphicon glyphicon-home" style="padding:5px;"></span><a href="{{ path('trip_site_management_homepage')}}">Home</a>
                        	<span><span class="glyphicon glyphicon-chevron-right" style="padding:5px;"></span><a href="{{ path('trip_site_management_bikes_on_rent')}}">Bikes</a></span>
                        	<span><span class="glyphicon glyphicon-chevron-right" style="padding:5px;"></span>{{ bikecity.title }}</span>
                        
                        	
                        </div>
                    </div>
                    
{% endblock %}

{% block body %}
<section class="section clearfix filter-box" style="background-color:#fff;">
	 	<div class="container">
            			<div class="row">
                   				<div class="col-md-12">
                   					<div class="row" style="margin-top: 11px;">
                   						<div class="col-md-1">
                   						</div>
                   						<div class="col-md-10">
                   						{#}<h3 class="review-modifiy">Modify Search</h3>{#}
                   						<div class="row">
                                        	  {{ form_start(form) }}
                                             {{ form_errors(form) }}
                                             {{ form_errors(form.date) }}
                                             {{ form_errors(form.returndate) }}
                								<div class="col-md-3">
                								<div class="bikes-form-font"> 
                								<p class="bikes-search-result-p-form"><span class="glyphicon glyphicon-map-marker"></span>  Selected City</p>
                                             	<a type="button" class="btn btn-info btn-lg location-click-popup" data-toggle="modal" data-target="#myModal">{{ locations[bikecity.cityid].name }}</a>
                                                <input type="hidden" name="bikemainloc" value="{{ bikemainloc }}" >
                                                </div>
                                                </div>
                                             	<div class="col-md-3">
                                             	<div class="bikes-form-font"> 
                                             	<p class="bikes-search-result-p-form"><span class="bikes-searchresults-icons"><i class="fa fa-calendar"></i></span>  Start date and time</p>
                                                {{ form_widget(form.date, {'id': 'datetime2'}) }}
                                                </div>
                                                </div>
                                                <div class="col-md-3">
                                                <div class="bikes-form-font"> 
                                                <p class="bikes-search-result-p-form"><span class="bikes-searchresults-icons"><i class="fa fa-calendar"></i></span> End date and time</p>
                                                	{{ form_widget(form.returndate, {'id': 'datetime3'}) }}
                                                </div>
                                                </div>
                                                <div class="col-md-3">
                                                {{ form_label(form.submit) }} 
                                                {{ form_widget(form.submit,{'id':'reviewsubmit'}) }}
                                                </div>
                                             
                                            </div>
                                         </div>
                                         <div class="col-md-1">
                   						</div>
                                     </div>
                   				</div> 
                   			</div>
                   <div style="padding-bottom: 10px;"></div>
	 		</div>
	 </section>
<section class="section clearfix" style="padding: 39px 0;">
	<div class="container bike-book">
		{#}<h2 class="h2-view-bikes"> {{ bikecity.title }}</h2>{#}
		<div class="row">
			<div class="col-md-4">
				{% if bikecity.cityid==48 %}
				<a href="{{ path('trip_site_management_bikes_on_rent_blr')}}" class="backsearch-results-view-bikes"><i class="fa fa-angle-left backsearch-results-view-bikes-icon" aria-hidden="true"></i> Back to Search Results</a>
				{% else %}
				<a href="{{ path('trip_site_management_bikes_on_rent_tpt')}}" class="backsearch-results-view-bikes"><i class="fa fa-angle-left backsearch-results-view-bikes-icon" aria-hidden="true"></i> Back to Search Results</a>
				{% endif %}
				<img src="{{asset('images/bikes/'~bike.imgPath) }}" style="width: 100%;">
			</div>
			<div class="col-md-8">
				<h1 class="h3-view-bikes">{{ bike.title }}</h1>
				<h2 class="bike-desc"> {{ bikecity.title }}</h2>
				<div class="row">
					<div class="col-md-6">
					<hr>
						{% for key,area in bike.bikescityarea %}
        					{% if area.cityid==bikecity.cityid %}
            					{% if area.area=='Near APSRTC Busstand' %}
            					<p>{{ area.area }} <span class="count-bikes text-center">{{ area.count }} Bikes Avilable</span></p>
            					{% elseif area.area=='BTM 1st stage' %}
            					<p>{{ area.area }} <span class="count-bikes text-center">{{ area.count }} Bikes Avilable</span></p>
            					{% endif %}
        					{% endif %}
        				{% endfor %}
        				
						<div class="row">
							<div class="col-md-6">
								<span class="viewbikes-price-loc-span"><strong class="viewbikes-price-loc"><i class="fa fa-inr" aria-hidden="true"></i> {{ bike.statingPrice }}</strong> / Hour</span>
								<div><hr></div>
								<ul>
									<li class="li-aminites">Speed Limit  <span class="span-bike-amities">{{ bike.speedlimit }}</span> km/hr</li>
									<li class="li-aminites">Km Limit  <span class="span-bike-amities">{{ bike.kmlimit }}</span> km/day</li>
									<li class="li-aminites">Excess   <span class="span-bike-amities"><i class="fa fa-inr" aria-hidden="true"></i> {{ bike.excess }}</span> /km</li>
								</ul>
								<button class="btn btn-book-now view-bike pop-up-button">Book Now</button>
								{{ form_end(form) }}
							</div>
							<div class="col-md-6 text-center">
								<span class="viewbikes-price-loc-span"><strong class="viewbikes-price-loc"><i class="fa fa-inr" aria-hidden="true"></i> {{ bike.dayrent }}</strong> / Day</span>
								<div><hr></div>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="terms-conditi">
							<strong class="terms-conditi-strong">Terms & Conditions</strong>
							<p class="terms-conditi-p">- Rider needs to present a valid Driving License at the time of picking up the vehicle.</p>
							<p class="terms-conditi-p">- Original ID proof (Voter ID, Aadhaar Card, Pan Card or Passport) needs to be submitted at the time of pick up.</p>
							<p class="terms-conditi-p">- If customer drives the bike above 150 km/day then Rs.3 excess Fee will be levied per Kilometer.</p>
							<p class="terms-conditi-p">- Late Return fee would be 1hour rent charges (if informed), 1hour rent charges X 2 (without informing).</p>
							<p class="terms-conditi-p">- 1 Complimentary helmets will be provided.</p>
							<p class="terms-conditi-p">- Over speeding charges are 200rs per alert and fuel charges are not included.</p>
						</div>
					</div>
				</div>
				
			</div>
		</div>
        {#}<img src="{{asset('images/bikes/s2.jpg') }}" style="width: 100%;">{#}
       {#} <div class="container bike-price-book1">
        	<div class="row">
       			<div class="col-md-2"></div>
       				<div class="col-md-8 sub-book1">
       					<div class="row">
       					<div class="col-md-6">
       						<table class="table" style="display:none">
                   					<tbody>
                   						<tr>
                   							<td class="text-center" style="background: transparent;border:none"><a href="{{ path('trip_site_management_homepage')}}"  class="homebanner-color"> Cabs</a></td>
                   							<td class="bikes-search-tabs" style="background: #F34F4F;border: none;">Bikes</td>
                   							<td class="text-center" style="background: transparent;border:none"><a href="{{ path('trip_site_management_homepage_packages')}}"> Packages</a></td>
                   							<td class="text-center" style="background: transparent;border:none"><a href="#tab_04" aria-controls="tab_04" role="tab" data-toggle="tab">Offers</a></td>
                   							
                   						</tr>
                   					</tbody>
                   				</table>
       					</div>
       					<div class="col-md-6">
       					
       					</div>
                           	
                         </div>
       				</div>
       				<div class="col-md-2"></div>   
       			</div>
       		<div class="row">
       			<div class="col-md-2"></div>
       				<div class="col-md-8">
       					<div class="row">
                             {{ form_start(form) }}
                             {{ form_errors(form) }}
                             {{ form_errors(form.date) }}
                             {{ form_errors(form.returndate) }}
								<div class="col-md-3 bikes-form-font sub-book3">
                             	<a type="button" class="btn btn-info btn-lg location-click-popup" data-toggle="modal" data-target="#myModal">{{ locations[bikecity.cityid].name }}</a>
                                <input type="hidden" name="bikemainloc" value="{{ locations[bikecity.cityid].name }}" >
                                </div>
                             	<div class="col-md-3 bikes-form-font sub-book3">
                                {{ form_widget(form.date, {'id': 'datetime2'}) }}
                                </div>
                                <div class="col-md-3 bikes-form-font sub-book3">
                                	{{ form_widget(form.returndate, {'id': 'datetime3'}) }}
                                	
                                </div>
                                <div class="col-md-3 sub-book4">
                                {{ form_label(form.submit) }} 
                                {{ form_widget(form.submit) }}
                                </div>
                              {{ form_end(form) }}
                         </div>
       				</div>
       				<div class="col-md-2">
                       
       				</div>   
       				
       			</div>
        </div>  {#}
    
    
    
    
    </div>
</section>
{#}<section class="section clearfix" style="padding:30px 0px 40px 0px;">
	<div class="container">
		<div class="row">
			<div class="col-md-4 brand-color"> 
			{% set url= bike.locationurl %}
				<div class="col-md-12">
                             <h2 class="sub-title1">Pick a preferred Hours</h2>
                             {{ form_start(form) }}
                             {{ form_errors(form) }}
                             {{ form_errors(form.date) }}
                             {{ form_errors(form.returndate) }}
								
                             	{{ form_label(form.location) }} 
                                {{ form_widget(form.location) }}
                               
                             	{{ form_label(form.date) }} 
                                {{ form_widget(form.date, {'id': 'datetime2'}) }}
                               
                                {{ form_label(form.returndate) }} 
                                {{ form_widget(form.returndate, {'id': 'datetime3'}) }}
                                <input id="vehicleIndex{{ bike.locationurl }}" type="hidden" name="url" value="{{ url }}">
                                {{ form_label(form.submit) }} 
                                {{ form_widget(form.submit, { 'type': 'submit' }) }}
                                
                             {{ form_end(form) }}
                  </div>    
                  
                  <div class="col-md-6">  
                  <hr>
                  <h4 class="viewbike_h4"><i class="fa fa-inr" aria-hidden="true"></i> {{ bike.statingPrice }} / Hour</h4>
                  </div>
                  <div class="col-md-6"> 
                  <hr> 
                  <h4 class="viewbike_h4"><i class="fa fa-inr" aria-hidden="true"></i> {{ bike.dayrent }} / Day</h4>
                  </div>       
                         
			</div>
			<div class="col-md-7">
				<div class="bike-book">
					<div class="hotel-title">
					<h3>{{ bikecity.title }}</h3>
					 <hr class="left">
					 </div>
                    <img src="{{asset('images/bikes/'~bike.imgPath) }}" style="width: 100%;">
                </div>
			</div>
		</div>
		<hr>
	</div>
</section>{#}
<section class="space"></section>
<section class="section clearfix">
        <div class="container">
        <div class="hotel-title">
               {#} <h3>{{ bikecity.title }}</h3>{#}
            </div>
        	<div class="row">
        		<div class="col-md-3">
        			<div class="dec">
        			<h3 class="details">Description</h3>
        			<hr>
        			<p>Justtrip.in is an aggregator of taxis and hotel accommodation service provider across pilgrim 
        			centers over India. We work with various taxi operators and hotels/guest houses and enable them 
        			with technology to ensure customers get an easily accessible.</p>
        			</div>
        			
        		</div>
        		<div class="col-md-3">
        			<div class="brand-color">
        			<h3 class="details">Brand & Color</h3>
        			<hr>
        			<p class="brandtype">Brand : </p>
        			<p class="brandtype">Color : </p>
        			</div>
        			
        		</div>
        		<div class="col-md-3">
        				<div class="dec">
        			<h3 class="details">Bike Metrics</h3>
        			<hr>
        			<p class="brandtype">Displacement : </p>
        			<p class="brandtype">Max Torque : </p>
        			<p class="brandtype">Max Power : </p>
        			</div>
        		</div>
        		<div class="col-md-3">
        		<div class="brand-color">
        			<h3 class="details">Features & Specs</h3>
        			<hr>
        			<p class="brandtype">Fuel Type : </p>
        			<p class="brandtype">No. of Gears : </p>
        			<p class="brandtype">Cooling System : </p>
        			</div>
        		</div>
        	</div>
        	<hr>
        </div>
</section>
<section class="section clearfix">
	<div class="container">
		<div class="row">
			<div class="hotel-title">
                <h3>What we Do</h3>
                <hr class="left">
            </div>
			<div class="col-md-3">
				<div class="dec-icons-list">
					<i class="fa fa-cogs dec-icons" aria-hidden="true"></i>
					<h3 class="details-tilte">Free maintenance</h3>
					<p class="details-p">Justtrip.in is an aggregator of taxis and hotel accommodation service provider across pilgrim centers over India.</p>
				</div>
        	</div>
        	<div class="col-md-3">
        		<div class="dec-icons-list">
					<i class="glyphicon glyphicon-trash dec-icons"></i>
					<h3 class="details-tilte">Cancel anytime</h3>
					<p class="details-p">Justtrip.in is an aggregator of taxis and hotel accommodation service provider across pilgrim centers over India.</p>
				</div>
        	</div>
        	<div class="col-md-3">
        			<div class="dec-icons-list">
					<i class="fa fa-recycle dec-icons" aria-hidden="true"></i>
					<h3 class="details-tilte">Free relocation</h3>
					<p class="details-p">Justtrip.in is an aggregator of taxis and hotel accommodation service provider across pilgrim centers over India.</p>
				</div>
        	</div>
        	<div class="col-md-3">
        		<div class="dec-icons-list">
					<i class="glyphicon glyphicon-time dec-icons"></i>
					<h3 class="details-tilte">As good as new</h3>
					<p class="details-p">Justtrip.in is an aggregator of taxis and hotel accommodation service provider across pilgrim centers over India.</p>
				</div>
        	</div>
		</div>
		<hr>
	</div>
	<div class="container">
		<div class="row">
			<div class="hotel-title">
                <h3>What we don't have to Promise</h3>
                <hr class="left">
            </div>
			<div class="col-md-3">
				<div class="dec-icons-list">
					<i class="glyphicon glyphicon-comment dec-icons"></i>
					<h3 class="details-tilte">Quick responses</h3>
					<p class="details-p">Justtrip.in is an aggregator of taxis and hotel accommodation service provider across pilgrim centers over India.</p>
				</div>
        	</div>
        	<div class="col-md-3">
        		<div class="dec-icons-list">
					<i class="fa fa-inr dec-icons" aria-hidden="true"></i>
					<h3 class="details-tilte">100% refund</h3>
					<p class="details-p">Justtrip.in is an aggregator of taxis and hotel accommodation service provider across pilgrim centers over India.</p>
				</div>
        	</div>
        	<div class="col-md-3">
        			<div class="dec-icons-list">
					<i class="glyphicon glyphicon-credit-card dec-icons"></i>
					<h3 class="details-tilte">Use first, Pay after</h3>
					<p class="details-p">Justtrip.in is an aggregator of taxis and hotel accommodation service provider across pilgrim centers over India.</p>
				</div>
        	</div>
        	<div class="col-md-3">
        		<div class="dec-icons-list">
					<i class="fa fa-truck dec-icons" aria-hidden="true"></i>
					<h3 class="details-tilte">Free delivery</h3>
					<p class="details-p">Justtrip.in is an aggregator of taxis and hotel accommodation service provider across pilgrim centers over India.</p>
				</div>
        	</div>
		</div>
		<hr>
	</div>
</section>
<section>
<div id="myModal" class="modal fade" role="dialog" data-keyboard="false" data-backdrop="static">
              <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                  <div class="bike-search-modal-header">
                  	<div class="row">
                  		<div class="col-md-3">
                  			<h4 class="bikes-search-locationspop">I want to rent a</h4>
                    	</div>
                    	<div class="col-md-2">
                    		<h4 class="bikes-search-locationspop2">Bike</h4>
                    	</div>
                    	<div class="col-md-7">
                    		<button type="button" class="close" data-dismiss="modal">&times;</button>
                    	</div>
                  	</div>
                  </div>
                  <div class="modal-body">
                    <div class="row">
                    	<div class="col-md-1">
                    	</div>
                    	<div class="col-md-11">
                    		<h4 class="bikes-search-popup-heading1">Popular Cities</h4>
                    		<strong class="strong-city-popup">India</strong>
                    		<div class="row">
                    			<div class="col-md-1">
                    			</div>
                    			<div class="col-md-5">
                    			{% for url in bikeurl %}
                    			{% if url.cityid==48 %}
                    				<a href="{{ path('trip_site_management_view_bikesblr',{ 'url':url.url }) }}">
                    				<img src="{{asset('images/justtrip-blr-bikes.png') }}" class="img-center">
                    				<h4 class="bikes-search-popup-heading2">Bangalore</h4>
                    				</a>
                    				{% endif %}
                    			{% endfor %}
                    			</div>
                    			<div class="col-md-5">
                    				{% for url in bikeurl %}
                    			    {% if url.cityid==1 %}
                    				<a href="{{ path('trip_site_management_view_bikestpt',{ 'url':url.url }) }}">
                    				<img src="{{asset('images/justtrip-tpt-bike.png') }}" class="img-center">
                    				<h4 class="bikes-search-popup-heading2">Tirupati</h4>
                    				</a>
                    				{% endif %}
                    			{% endfor %}
                    			</div>
                    			<div class="col-md-1">
                    			</div>
                    		</div>
                    	</div>
                    </div>
                  </div>
                  <div class="bike-search-modal-header text-center">
                    <strong class="footer-cont">Select city to continue</strong>
                  </div>
                </div>
            
              </div>
            </div>
</section>
{% endblock %}