{% extends 'base.html.twig' %}
{% block header %}

{% endblock %}
 
 {% block banner %}
 <header class="header header-shawod">
        <div class="menu-container">
            <div class="container" style="padding-right: 0px;padding-left: 0px;">
                <div class="menu-wrapper">
                    <nav id="navigation" class="navbar" role="navigation">
                        <div class="navbar-inner">
                        	<div class="row">
                        		<div class="col-md-4">
                        			<div class="navbar-header">
                                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                            <span class="sr-only">Toggle navigation</span>
                                            <i class="icon-menu27"></i>
                                        </button>
                                        <div calss="row">
                                        	<div class="col-sm-7">
                                        		{% if is_granted('ROLE_ADMIN') %}
                									<a id="brand" class="clearfix navbar-brand" href="{{ path('trip_site_management_billing_list')}}">
                                                    <img src="{{ asset('images/Justtrip-web-white-bg.png') }}" alt="Trips" style="width:155px;height:63px;"></a>
                								{% else %}
                                                <a id="brand" class="clearfix navbar-brand" href="{{ path('trip_site_management_homepage')}}">
                                                    <img src="{{ asset('images/Justtrip-web-white-bg.png') }}" alt="Trips" style="width:155px;height:63px;"></a>
                								{% endif %}
                                        	</div>
                                        	<div class="col-sm-5">
                                        		<div class="select-city">
                                        			<li class="dropdown selectcity-dropdown-white">
                                        			{{ render(controller('TripSiteManagementBundle:SiteManagement:bikeslocpackagemenu')) }}
                                        			</li>
                                        		</div>
                                        	</div>
                                        </div>
        								
                                    </div><!-- end navbar-header -->
                                    
                        		</div>
                        		<div class="col-md-8">
                        				<div id="navbar-collapse" class="navbar-right navbar-collapse collapse clearfix">
                                            <ul class="nav navbar-nav yamm">
            									 {% if is_granted('ROLE_ADMIN') is same as(false) %}
                                                
                                               
                                                	<li class="dropdown"><a href="{{ path('trip_site_management_bikes_on_rent') }}">Bikes</a>
                                                    	
            											{% if is_granted('ROLE_SUPER_ADMIN') %}
            											<ul class="dropdown-menu" role="menu">
            											  <li><a href="{{ path('trip_site_management_bikes_list') }}">Bikes List</a></li>
            											  <li><a href="{{ path('trip_site_management_add_bike') }}">Add bike</a></li>
                                                        </ul>
                                                         {% endif %}  
            					                   	
                                               		 </li>  
                                                	          
            									 
                                               
            								    {% endif %}
            								    {% if is_granted('ROLE_ADMIN') %}
            									
            									 <li><a href="{{ path ('trip_booking_engine_testcustomPackage') }}">Add  Accounts</a></li>
                                                 <li><a href="{{ path ('trip_site_management_billing_list') }}">Accounts List</a></li>
            									 {% if is_granted('IS_AUTHENTICATED_FULLY') %}  
                                                            <li><a href="{{ path('fos_user_security_logout') }}"><b>{% trans%}Logout{% endtrans %}</b></a> </li>
            										{% endif %}
            									
            									 {% endif %}
                                               
                                                {% if is_granted('ROLE_SUPER_ADMIN') %}
                                                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin</a>
                                                    <ul class="dropdown-menu" role="menu">
                                                        <li><a href="{{ path('trip_site_management_add_locations') }}">Add Locations</a></li>
            											
                                                        
                                                    </ul>
                                                </li>
                                                 <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Dashbord</a>
                                                    <ul class="dropdown-menu" role="menu">
                                                        <li><a href="{{ path('trip_site_management_booking_search') }}">Bookings</a></li>
                                                        <li><a href="{{ path('trip_site_management_users') }}">Users</a></li>
                                                        <li><a href="{{ path('trip_site_management_contactList') }}">Contact List</a></li>
                                                        
                                                    </ul>
                                                </li>
                                                {% endif %}
                                                {% set url="bengaluru" %}
                                                {% set packageurl="bike-packages-in-bangalore" %}
                                                <li><a href="{{ path('trip_site_management_bikes_packageurl',{ 'cityid':url,'packageurl':packageurl }) }}">Bike Packages</a></li>
                                                <li><a href="{{ path('trip_site_management_about') }}">Why justtrip</a></li>
                                                 <li><a href="{{ path('trip_site_management_faq') }}">FAQS</a></li>
                                                 
            									 {% if is_granted('ROLE_ADMIN') is same as(false) %}
                                                 <li  class="dropdown"><a href="{{ path('trip_security_sign_up')}}">My Account</a>
                                                    <ul class="dropdown-menu" role="menu">
                                                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}  
                                                            <li><a href="{{ path('fos_user_security_logout') }}"><b>{% trans%}Logout{% endtrans %}</b></a> </li>
            										    {% else %}
                                                            <li><a href="{{ path('trip_security_sign_up')}}">Login</a></li>
                                                            
                                                         <li><a href="{{ path('trip_site_management_homepage_deals')}}">Hot Deals</a></li>
                                                         <li><a href="{{ path('trip_site_management_my_bookings')}}">My Bookings</a></li>
                                                         <li><a href="{{ path('trip_site_management_cancel')}}">Cancel Booking</a></li>
                                                        
                                                        
                                                    </ul>   
                                                    <li><a href="{{ path('trip_security_sign_up')}}">Signup</a></li>
                                                        {% endif%}                                 
                                                </li>
                                                <li><a href="{{ path('trip_site_management_contact') }}">Contact</a></li>
                                               {# <li class="sidebar-dropper"><a data-toggle="sidebar" data-target=".sidebar-right" class="noborder" href="#"><i class="icon-menu27"></i></a></li>#}
            									 {% endif %}
                                            </ul><!-- end navbar-right -->
                                            <div class="pull-right">
                        			<p class="new-header-mobile-reachus"><i class="icon-telephone5"></i> Reach Us</p>
                        			<p class="new-header-mobile"> +91-9663133008</p>
                        			
                                    
                                </div><!-- end left -->
                                        </div><!-- end navbar-callopse -->
                        		</div>
                        	</div>
                            
                            
                        </div><!-- end navbar-inner -->
                    </nav><!-- end navigation -->
                </div><!-- menu wrapper -->
            </div><!-- end container -->
        </div><!-- end menu-container -->
        <div class="sidebar-menu-container">
            <div class="col-sm-2 col-md-2 sidebar sidebar-right sidebar-animate">
                <a data-toggle="sidebar" data-target=".sidebar-right" class="text-right" href="#"><i class="icon-wrong6-1"></i></a>
                <img src="{{ asset('images/justtrip-logo.png') }}" alt="Trips">
                <ul class="nav navbar-stacked">
                    <li><a href="{{ path('trip_site_management_homepage') }}">Home</a></li>
                    <li><a href="{{ path('trip_site_management_about') }}">About</a></li>
                    <li><a href="{{ path('trip_site_management_contact') }}">Contact</a></li>
                    <li><a href="{{ path('trip_site_management_faq') }}">FAQ</a></li>
                    <li><a href="{{ path('trip_site_management_terms') }}">Privacy policy</a></li>
                    <li><a href="http://blog.justtrip.in">Blog</a></li>
                </ul>
            </div>
        </div><!-- end sidebar menu -->
    </header><!-- end header --> 
    {#}<section id="page-header" class="section background">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                	{% block breadcrumb %}
                    <div class="c1 breadcrumb text-left">
                        <div><span class="glyphicon glyphicon-home" style=""></span><a href="{{ path('trip_site_management_homepage')}}">Home</a><span><span class="glyphicon glyphicon-chevron-right" style="padding:5px;"></span></span></div>
                    </div>
                    <h3> </h3>
                    {% endblock %}
                </div>
            </div><!-- end row -->
        </div><!-- end container -->
    </section><!-- end section -->{#}
   
{% endblock %}