	{% for key,room in rooms %}
	
                      	<h5>Room {{ loop.index }}</h5>
                      	
                      	<div class="row">
                      	
                      		<div class="col-lg-8">
                      			<i class="adults-count">{{ room.numAdult }}</i> Adults <i class="guests-text">(0-12 years)</i>
                      		</div>
                      		<div class="col-lg-4">
                      			<a class="adults input-group-addon" id="decrement" value="1" href="{{ key }}">-</a>
                      			<a class="adults input-group-addon" id="increment"  href="{{ key }}">+</a>
                      		</div>                     	
                      	</div>
                      	<hr>
                      	<div class="row">
                      		<div class="col-lg-8">
                      			<i class="children-count">{{ room.numChildren }}</i> Children <i class="guests-text">(3-12 years)</i>
                      		</div>
                      		<div class="col-lg-4">
                      			<a class="children input-group-addon" id="decrement" value="0" href="{{ key }}">-</a>
                      			<a class="children input-group-addon" id="increment" href="{{ key }}">+</a>
                      		</div>                     	
                      	</div> 
                      	<hr> 
                      	
                      	{% endfor %}