{% extends 'page.html.twig' %}

{% block breadcrumbsTitle %}Add Coupons{% endblock %}

{% block breadcrumbsLinks %}
            <li><a href="{{ path('trip_site_management_homepage') }}">Home</a></li>
            <li><a href="{{ path('trip_site_management_homepage') }}">Add Hotel</a></li>
{% endblock %}

{% block javascripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.18/jquery.datetimepicker.css"></script>

<script type="text/javascript">
$('#trip_hotelbundle_couponcode_expireDate').appendDtpicker({
	"autodateOnStart": false,
	"dateFormat": 'MM/DD/YY h:m'
});
   
</script>

<script type="text/javascript">
$('#trip_hotelbundle_couponcode_startDate').appendDtpicker({
	"autodateOnStart": false,
	"dateFormat": 'MM/DD/YY h:m'
});
</script>

{% endblock %}

{% block body %}

<div class="container">
<h1 class="page-header">Add Coupon Details</h1>
{{ form_start(form) }}

<div class="col-lg-12 col-sm-12 form-group has-error">
			<ul class="errors">
	            {{ form_errors(form, { 'global_errors': true }) }}
	            {{ form_errors(form.couponName) }}
	            {{ form_errors(form.couponCode) }}
	            {{ form_errors(form.expireDate) }}
	            {{ form_errors(form.amount) }}
	                     
	          
            </ul>
            </div>

	<div class="row">
		<div class="col-lg-6">
			 <div class="row form-group">
                            <div class="col-lg-12">
                            	{{ form_label(form.couponName) }}
                                {{ form_widget(form.couponName) }}
                            </div> 
                                                    
                    </div>
              <div class="row form-group">
                            <div class="col-lg-12">
                            	{{ form_label(form.couponCode) }}
                                {{ form_widget(form.couponCode) }}
                            </div> 
                                                    
                    </div>
                    
              <div class="row form-group">
                            <div class="col-lg-12">
								{{ form_label(form.startDate) }}
								<span class="" id="selector">
				{{ form_widget(form.startDate,{ 'attr': {'class': 'form-control'}} ) }}
								</span>
                            </div> 
                                                    
                    </div> 
                    
               <div class="row form-group">
                            <div class="col-lg-12">
								{{ form_label(form.expireDate) }}
								<span class="" id="selector">
				{{ form_widget(form.expireDate,{ 'attr': {'class': 'form-control'}} ) }}
								</span>
                            </div> 
                                                    
                    </div>  	
                    

                     <div class="row form-group">
                            <div class="col-lg-12">
                            	{{ form_label(form.amount) }}
                                {{ form_widget(form.amount) }}
                            </div> 
                                                    
                    </div>
                    
                    
                   
                    
                 
                    
                
               
			
		</div>
	</div>

	
{{ form_end(form) }}
</div>

{% endblock %}
