{% extends 'page.html.twig' %}
{% block stylesheets %}
<link href="{{ asset('css/jquery.timepicker.css') }}" rel="stylesheet" media="screen">
<link type="text/css" rel="stylesheet" href="{{ asset('css/lightGallery.min.css') }}" /> 
<link type="text/css" rel="stylesheet" href="{{ asset('css/lightslider.css') }}" /> 

{% endblock %}
{% block javascripts %} 
 <script src="{{ asset('js/lightgallery-all.min.js') }}"></script>
 <script src="{{ asset('js/lightslider.js') }}"></script> 
<script src="{{ asset('js/jquery.timepicker.min.js') }}"></script>
<script>
$('#apply').click(function(e){		
	e.preventDefault(); //STOP default action 		 
			 	
	 var optionSelected = $("#trip_booking_engine_hotel_book_room_couponCode").val();	
	//alert(optionSelected);
	 $.ajax({
	      url: "{{ path('trip_booking_engine_apply_coupon') }}",
	      type: "GET",
	       data: { "coupon" : optionSelected },
	   	       
	      success: function(data) {	
	    	  
		      var response = JSON.parse(data);	
		      //alert(data);
		     // alert(response.success);		     			        	  		        	
			     if(response.success=='false')
			     {
				    
			    	 $('#coupon-error').html(response.message);
			    	 $('#coupon-error').show();
				  }
			     else
			     {
			    	 $('#coupon-error').html('');
			    	 $('#coupon-error').hide();
					 var price = response.bookingDetails.totalPrice;
					 var finalPrice = response.bookingDetails.finalPrice;
					 var discount = response.bookingDetails.discount;
					 var serviceTax = response.bookingDetails.serviceTax;
					 
					   //  alert(discount);
				     $('#price').html(price);
				 //    $('#fee').show();
				     $('#discount').html(discount);
				     $('#tacprice').html(serviceTax/2);
				     $('#tacprice1').html(serviceTax/2);
				     $('#youpay').html(finalPrice);
				     $('#tprice').html(finalPrice);
				    // $('#discount').show();
				     //$('#equals').show();	
			     }			     
			     
	      },

	      error: function(XMLHttpRequest, textStatus, errorThrown)
	      {
	        alert('Error: ' +  errorThrown);
	      }
	   });						 		   			   							
});
</script>

<script>
$('#adminapply').click(function(e){		
	e.preventDefault(); //STOP default action 		 
			 	
	 var optionSelected = $("#trip_booking_engine_hotel_book_room_adminCoupon").val();	
	//alert(optionSelected);
	 $.ajax({
	      url: "{{ path('trip_booking_engine_admin_apply_coupon') }}",
	      type: "GET",
	       data: { "admincoupon" : optionSelected },
	   	       
	      success: function(data) {	

		      var response = JSON.parse(data);	
		     // alert(data);
		    //  alert(response);		     			        	  		        	
			     if(response.success=='false')
			     {
			    	 $('#coupon-error').html(response.message);
			    	 $('#coupon-error').show();
				  }
			     else
			     {
			    	 $('#coupon-error').html('');
			    	 $('#coupon-error').hide();
					 var price = response.bookingDetails.finalPrice;
					 var discount = response.bookingDetails.discount;
					 //alert(price);
					   //  alert(discount);
				     $('#price').html(price);
				 //    $('#fee').show();
				     $('#discount').html(discount);
				    // $('#discount').show();
				     //$('#equals').show();	
			     }			     
			     
	      },

	      error: function(XMLHttpRequest, textStatus, errorThrown)
	      {
	        alert('Error: ' +  errorThrown);
	      }
	   });						 		   			   							
});
</script>

<script>
$(document).ready(function() {
   // $("#view-room-slider").lightSlider(); 

    $('#view-room-slider').lightSlider({
        gallery:true,
        item:1,
        loop:true,
        slideMargin:0,
        enableDrag: false,
        currentPagerPosition:'left',
        onSliderLoad: function(el) {
            el.lightGallery({
                selector: '#view-room-slider .lslide'
            });
        }   
    });  
  });
</script>
{% endblock %}


{% block meta %}
    <meta name="keywords" content="">
    <meta name="description" content="">  
{% endblock %}
    {% block title %} {% endblock %}
    
   {% block breadcrumb %}
                    <div class="c1 breadcrumb text-left">
                        <div><span class="glyphicon glyphicon-home" style="padding:5px;"></span><a href="#">Home</a><span><span class="glyphicon glyphicon-chevron-right" style="padding:5px;"></span>{{ hotel.name }}</span></div>
                    </div>
                    <h3></h3>
{% endblock %}

{% block body %}
 
  <section id="room" style="font-family:calibri;">
    <div class="container">
    
  <span class="price">
                       {% set guests=searchHotel.numAdult+searchHotel.numchildren %}
                    {% set price=searchHotel.numRooms * roomprice * numDay %}
      {% set numRooms=searchHotel.numRooms  %}
                      {% if guests==searchHotel.numRooms %}
    {#}<p><span style="font-size:24px;"><i class="fa fa-inr"></i>&nbsp;{{price}}</span></br> &nbsp;&nbsp;TOTAL</p>{#}
{% elseif guests>1 and searchHotel.numRooms==1 %}
	{% if searchHotel.numAdult==2 and searchHotel.numchildren==2 %}
	{% set numRooms=searchHotel.numRooms+1 %}
		{% set price=roomprice*numRooms %}
		{#}<p><span style="font-size:24px;"><i class="fa fa-inr"></i>&nbsp;{{price}}</span> &nbsp;&nbsp;TOTAL</p>{#}
	{% else %}
{% set xprice=guests-1 %}
{% set xprice=xprice*500 %}
{% set price=price+xprice %}
    {#}<p><span style="font-size:24px;"><i class="fa fa-inr"></i>&nbsp;{{price}}</span> &nbsp;&nbsp;TOTAL</p>{#}
    {% endif %}

{% elseif guests>2 and searchHotel.numRooms==2 %}
{% if searchHotel.numAdult==4 and searchHotel.numchildren==4 %}
	{% set numRooms=searchHotel.numRooms+1 %}
		{% set price=roomprice*numRooms %}
		{#}<p><span style="font-size:24px;"><i class="fa fa-inr"></i>&nbsp;{{price}}</span> &nbsp;&nbsp;TOTAL</p>{#}
	{% else %}
{% set xprice=guests-2 %}
{% set xprice=xprice*500 %}
{% set price=price+xprice %}
   {#} <p><span style="font-size:24px;"><i class="fa fa-inr"></i>&nbsp;{{price}}</span> &nbsp;&nbsp;TOTAL</p>{#}
    {% endif %}
{% elseif guests>3 and searchHotel.numRooms==3 %}
{% if searchHotel.numAdult==6 and searchHotel.numchildren==6 %}
	{% set numRooms=searchHotel.numRooms+1 %}
		{% set price=roomprice*numRooms %}
		{#}<p><span style="font-size:24px;"><i class="fa fa-inr"></i>&nbsp;{{price}}</span> &nbsp;&nbsp;TOTAL</p>{#}
	{% else %}
{% set xprice=guests-3 %}
{% set xprice=xprice*500 %}
{% set price=price+xprice %}
    {#}<p><span style="font-size:24px;"><i class="fa fa-inr"></i>&nbsp;{{price}}</span> &nbsp;&nbsp;TOTAL</p>{#}
    {% endif %}
{% elseif guests>4 and searchHotel.numRooms==4 %}
{% if searchHotel.numAdult==8 and searchHotel.numchildren==8 %}
	{% set numRooms=searchHotel.numRooms+1 %}
		{% set price=roomprice*numRooms %}
		{#}<p><span style="font-size:24px;"><i class="fa fa-inr"></i>&nbsp;{{price}}</span> &nbsp;&nbsp;TOTAL</p>{#}
	{% else %}
{% set xprice=guests-4 %}
{% set xprice=xprice*500 %}
{% set price=price+xprice %}
    {#}<p><span style="font-size:24px;"><i class="fa fa-inr"></i>&nbsp;{{price}} &nbsp;&nbsp;TOTAL</span></p>{#}
    {% endif %}
  {% else %}  
{% endif %}
   
                      </span>
    
     <!-- START CONTENT -->
                    <div class="row">
                    </br>
                        <div id="content" class="col-md-12 col-sm-12 col-xs-12">
                       {#} <h6><span>{{ hotel.name }}</span> {{ searchHotel.date }} - {{ searchHotel.returnDate }}</h6>{#}
 {#}<h6><span>{{ hotel.name }}</span> {{ search.checkIn|date('D jS M') }} - {{ search.checkOut|date('D jS M') }}</h6>{#}
                         {#}   <div class="price-range text-center clearfix row">
                                <div class="col-md-12">
									<ul class="nav nav-pills nav-justified setup-panel">
									<li class="disabled {% if step=='review' %}active{% endif %}"><a href="#review">
										<span class="badge">1</span>
										<h4 class="list-group-item-heading">Review</h4>
									   
									</a></li>
									<li class="disabled {% if step=='personal' %}active{% endif %}"><a href="#personal">
										<span class="badge">2</span>
										 <h4 class="list-group-item-heading">Personal</h4>
									</a></li>
                                       
									<li class="disabled {% if step=='payment' %}active{% endif %}"><a href="#payment">
										<span class="badge">3</span>
										 <h4 class="list-group-item-heading">Payment</h4>
									</a></li>
									</ul>
                                  {#}  {#}<img src="{{ asset('images/progress.png') }}" class="img-responsive" alt=""> {#}
                                {#}</div><!-- end price-range -->
                            </div><!-- end price-range -->{#}

                            <div class="clearfix"></div>
								<div class="row">
                                    <div class="col-sm-9">
                                    <div class="col-sm-12 booking-price-details-border booking-details box clearfix">
									<h5 class="box-title" style="background-color: #e1e1e1;padding:5px 0px 5px 10px;margin:0px -15px 0px -15px;">Review Your Booking</h5>
                                       
                                        <div class="box-content row">
                                         
											<div class="col-sm-12 text-center">
											 <div class="col-md-4 col-sm-12">
											 </br>
           			 <img src="{{ asset('images/Hotels/'~hotelRoom.imagePath) }}" alt="" class="img-responsive hotelroom" height="30%">
             	</div>
											<div class="col-sm-8 text-center">
											</br>
											<h5 class="hotel-title" style="text-align:left;font-weight:600;">{{ hotel.name }}</h5>
											{% set address = hotel.address %}
												{{ app.session.set('address', hotel.address) }}
													
													<p style="text-align:left;"> {{ address.addressLine1 }}, {{ address.addressLine2 }},{{ address.location }}, {{ address.city }}</p>
													
											<div class="col-sm-4 text-center">
											<h6 class="check">Check-In</h6>
											<div class="date-box">
											<h5>{{ searchHotel.date }}</h5>
												{#}<p class="date-day">{{ search.checkIn|date('D') }}</p>
												<p class="date-no"><span class="ng-binding">{{ search.checkIn|date('j') }}</span> {{ search.checkIn|date('M') }}</p>{#}
												<p class="date-time">{{ hotel.checkIn }}</p>
											</div>
												{#}	{{ search.checkIn|date('F jS Y') }} {#}
											</div>
											<div class="col-sm-4 text-center">
											<h6  class="check">Check-Out</h6>
											<div class="date-box">
											<h5>{{ searchHotel.returnDate }}</h5>
												{#}<p class="date-day">{{ search.checkOut|date('D') }}</p>
												<p class="date-no"><span class="ng-binding">{{ search.checkOut|date('j') }}</span> {{ search.checkOut|date('M') }}</p>{#}
												<p class="date-time">{{ hotel.checkOut }}</p>
											</div>
											{#}	{{ search.checkOut|date('F jS Y') }} {#}
											</div>
											<div class="col-sm-4 text-center">
													<h6  class="check">Guests</h6>	
													<p>{{ searchHotel.numAdult }}&nbsp;Adults&nbsp;
													{{ searchHotel.numChildren }}&nbsp;Childs</br>
													{{ numRooms }}&nbsp;Rooms</p>
											</div>
											
											
											</div>
											<div class="col-sm-4">
											</div>
											<div class="col-sm-8">
											<p class="room-type" style="text-align:left;"> <strong >Room Type:</strong>&nbsp;{{ roomType }}</br>
											<span class="room-type"> <strong>Inclusions:&nbsp;</strong> 
											<span>-Hot Breakfast</span>
											<span>-Wi-Fi Internet</span>
											</span></p>
											
											</div>
											
											</div>
											<div class="col-sm-12 padding-top">
											{#}<p class="room-type"> <strong>Room Type:</strong>&nbsp;{{ roomType }}</br>
											<span class="room-type"> <strong>Inclusions:&nbsp;</strong> 
											<span>-Hot Breakfast</span>
											<span>-Wi-Fi Internet</span>
											</span></p>{#}
											{#}
											<div class="cancellation-policy">
											  <a href="#">Booking & Cancellation Policy</a>
											</div>
											{#}
											</div>
											
										    
										</div>
									</div>
                                    
                            
                                  </div>  
                                    
                                <div class="col-sm-3">
                                <div class="booking-price-details-border price-details box clearfix">
                                 <h5 class="box-title" style="background-color: #e1e1e1;">Fare Details</h5>
                                <div class="box-content row">
                                 
                                                                              
                                                <ul class="price-list list-border" style="margin-left: 33px;
    margin-right: 33px;">                                                 
                                                    <li style="">
                                                        <span class="pull-left">Room price </span>
                                                         <span  class="pull-left">     </span>
                                                         {% if (promotionStartDate<=today) and (today<=promotionEndDate) %}
                                                         <span class="pull-right"> {{ numRooms }} X   <i class="fa fa-inr"></i> <em > {{ rooomPromoprice }}</em></span>
                                                        {% else %} 
                                                        <span class="pull-right"> {{ numRooms }} X   <i class="fa fa-inr"></i> <em > {{ roomprice }}</em></span>
                                                       
                                                        {% endif %}
                                                    </li></br>
                                                    <li style="border-bottom: 1px solid #eee;">
                                                    <span class="pull-left">Day Price </span>
                                                     {% if (promotionStartDate<=today) and (today<=promotionEndDate) %}
                                                   {#}  {% set promotionprice = rooomPromoprice * numRoom %}{#}
                                                   {{ numDay }}
                                                    <span class="pull-right"> {{ numDay }} X   <i class="fa fa-inr"></i> <em > {{ rooomPromoprice * numRoom }}</em></span>
                                                    {% else %} 
                                                    <span class="pull-right"> {{ numDay }} X   <i class="fa fa-inr"></i> <em > {{ roomprice * numRoom}}</em></span>
                                                    {% endif %}
                                                    </li></br>
                                                    <li style="border-bottom: 1px solid #eee;">
                                                    {% set price=price-booking.discount %}
                                                        <span class="pull-left"> Hotel price</span>
                                                        <span class="pull-right"> <i class="fa fa-inr"></i> <em id="price"> {{ price-booking.discount }}</em></span>
                                                        
                                                    </li></br>
                                                     <li style="border-bottom: 1px solid #eee;">
                                                        <span class="pull-left">SGST {#}({{ taxPercentage/2 }} %){#}</span>
                                                         {#} <span class="pull-left">GST</span>{#}
                                                         {% set taxprice = price*taxPercentage/100  %}
                                                        <span  class="pull-right"> <i class="fa fa-inr"></i> <em id="tacprice"> {{taxprice/2 }} </em></span>
                                                        
                                                    </li>  </br>
                                                    <li style="border-bottom: 1px solid #eee;">
                                                        <span class="pull-left">CGST {#}({{ taxPercentage/2 }} %){#}</span>
                                                         {#} <span class="pull-left">GST</span>{#}
                                                         
                                                        <span  class="pull-right"> <i class="fa fa-inr"></i> <em id="tacprice1"> {{taxprice/2 }} </em></span>
                                                        
                                                    </li>  </br>
                                                     <li style="border-bottom: 1px solid #eee;">
                                                        <span class="pull-left">Total Price</span>
                                                        {#}<span  class="pull-right"> <i class="fa fa-inr"></i> <em > {{ booking.finalPrice-booking.discount }} </em></span>{#}
                                                        <span  class="pull-right"> <i class="fa fa-inr"></i> <em id="tprice"> {{taxprice+price }} </em></span>
                                                        
                                                    </li> </br>                           
                                                   
                                                    <li style="border-bottom: 1px solid #eee;"><span  class="pull-left">Discount price (-)</span>
                                                        <span  class="pull-right"><i class="fa fa-inr"></i> <em id="discount"> {{ booking.discount }} </em></span>
                                                    </li></br>
                                                   
                                                    {% block details %}
                                                    <li class="text-right"><span class="you-pay" style="font-size:20px;">You Pay</span>
                                                    {% set finalprice = taxprice+price  %}

                                                        <span style="font-size:28px;font-weight:600;" class="final-price"><i class="fa fa-inr"></i><em  id="youpay" style="font-size:28px;font-weight:600;"> {{taxprice+price }} </em></span> 
                                                    </li>
                                                    {{ app.session.set('finalprice', finalprice) }}
{{ app.session.set('totalprice', price) }}
{{ app.session.set('taxprice', taxprice) }}
{{ app.session.set('numDay', numDay) }}
{{ app.session.set('numRooms', numRooms) }}
                                                    {% endblock %}
                                                    
                                                </ul>                                          
                             


                                </div><!-- end box-content -->
                            </div><!-- end pricing-details -->
                                    </div>
                                    
                                    
								


                                    
                                </div><!-- end row -->
                           
                        </div><!-- end col -->
                    </div><!-- end row -->
                    <!-- END CONTENT --> 
    
    
    
                                         <div class="col-sm-9 box make-margin"    style=" border: 1px solid #eee;margin-top:-10px;">
                                        	<h5 class="box-title" style="background-color: #e1e1e1;padding:5px 0px 5px 10px;margin:0px -15px 0px -15px;">Your Information</h5>
                                        	 <div class="box-content row">
                                        	 	{{ form_start(form) }}
                                        	
                                                 
         
         	            <div class="row booking-price-details">
                                            <div class="col-md-12 col-sm-12 col-xs-12" style="margin-top:0px;margin-bottom:-10px;">
                                                {{ form_widget(form.name,{'attr':{'class':'make-margin','placeholder':'Name'}}) }}
                                            </div>
                                            <div class="col-md-12 col-sm-12 col-xs-12" style="margin-top:0px;margin-bottom:-10px;">
                                               {{ form_widget(form.email,{'attr':{'class':'make-margin','placeholder':'Email'}}) }}
                                            </div>
                                            <div class="col-md-12 col-sm-12 col-xs-12" style="margin-top:0px;">
                                            {{ form_widget(form.mobile,{'attr':{'class':'make-margin','placeholder':'10 Digit Mobile No'}}) }} 
                                            </div>
                                             <div class="row">
                                           {% if is_granted('ROLE_SUPER_ADMIN') %}
                                            
                                             <div class="col-md-12 col-sm-12 col-xs-12 ">
                                                
 {#}{{ form_widget(form.adminCoupon,{'attr':{'placeholder':'Enter Discount Amount'}}) }}
                                                    <a class="input-group-addon" id="adminapply" href="#">Give Discount</a> {#}
                                                   {#} <button type="submit" class="btn btn-primary " id="apply"> Apply</button>{#}
                                             
                                                
                                            	</div>
                                               
                                               {% else %} 
                                               {#}{{ form_widget(form.adminCoupon,{ 'attr': {'class': 'hidden'} }) }}{#}
                                            {% endif %}
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                            
                                             <div class="col-md-12 col-sm-12 col-xs-12 ">
                                                <div class="input-group" id="couponCode">
                                                {{ form_widget(form.couponCode,{'attr':{'placeholder':'Enter a Coupon code'}}) }}
                                                    <a class="input-group-addon" id="apply" href="#">Apply</a>
                                                   {#} <button type="submit" class="btn btn-primary " id="apply"> Apply</button>{#}
                                                </div>
                                                <div class="row form-group has-error" style="margin-left:20px;">
                                                    <ul class="errors help-block">
                                                        <li id="coupon-error" style="display:none">Invalid Coupon</li>
                                                    </ul>
                                                </div>
                                            	</div>
                                               </div>
                                        
                                             
                                            
                                                
                                            </div>
                                             {#}<div class="make-margin"></div> {#}
                                             
                                             <div class="col-md-8 col-sm-8 col-xs-12">
                                                <input type="checkbox" required="required" name="cb" class="remove_margin">  {% trans %} I agree to  {% endtrans%} <a target="_blank" href="#">{% trans %} Terms of Service{% endtrans%}</a>
                                            </div>
                                             <div class="col-md-4 col-sm-4 col-xs-12">
                                                <button type="submit" class="btn btn-primary btn-block btn-lg"> Continue</button>
                                            </div>
                                            
                                            {# <input type="text" class="form-control make-margin" placeholder="Country of Passport">  #}
                                           
                                        </div>
         
          						{{ form_end(form) }}
 </div>
                                        </div>
    
    
    
    </div>
    
  </section>
  <!-- End Room -->
 
 
                                    
       
{% endblock %}