{% extends 'page.html.twig' %}
{% block stylesheets %}
		<link href="{{ asset('css/jquery.timepicker.css') }}" rel="stylesheet" media="screen">
	<style>
	.chosen-container {
    margin: 15px 0 15px !important;
	}
	.preferDate {
    margin: 15px 0 15px !important;
	}
	</style>
{% endblock %}
{% block javascripts %}
<script src="{{ asset('js/jquery.timepicker.min.js') }}"></script>
<script>
$(document).ready(function() {
$(".chosen-select").chosen({
    no_results_text: "Oops, nothing found!"
});

$('.preferTime').timepicker({ 'scrollDefault': 'now' });

$(".preferDate").datepicker({
    dateFormat: "dd/mm/yy",
    numberOfMonths: 2,
    minDate: 0
});



});
	$("#package-list").on('click', ".adults", function (e) {
	e.preventDefault(); //STOP default action 
	 var id = $(this).attr('id');
	 var value = parseInt($(this).attr('value'));
	 //var adults =parseInt( $('#trip_custom_package_numAdult').val());
	 var numAdult = $(this).siblings(".numAdult");
	 var adults =parseInt(numAdult.val());
	 if (isNaN(adults)) { 
		 adults= 0
        } 
	 if(id=='decrement'){
		 adults-=1;
		 if(adults>=value) numAdult.val(adults); else exit();
	  }else{
		adults+=1;
	    if(adults<=20)  numAdult.val(adults); else exit();
		}							 		   			   							
});
    
 // keep track of how many city fields have been rendered
  var packageCount = '{{ form.multiple|length }}'; 

    $('#add-another-package').click(function(e) {
            e.preventDefault();
            /*if(itemCount>4){
                alert('Max 5 only');
                exit();
            }*/

            var itineraryList = $('#package-list');

            // grab the prototype template
            var newWidget = itineraryList.attr('data-prototype');
            // replace the "__name__" used in the id and name of the prototype
            // with a number that's unique to your city
            newWidget = newWidget.replace(/__name__/g, packageCount);           
            packageCount++;
            newWidget = newWidget.replace(/Day/, 'Day '+packageCount);
        
            
            // create a new list element and add it to the list
            var newLi = $('<div></div>').html(newWidget);
            newLi.appendTo(itineraryList);
        
            var key = packageCount-1;
            var next = key+1;
            $(".chosen-select").chosen({
                no_results_text: "Oops, nothing found!"
            });
            $(".preferDate").datepicker({
                dateFormat: "dd/mm/yy",
                numberOfMonths: 2,
                minDate: 0
            });
            $('.preferTime').timepicker({ 'scrollDefault': 'now' });


     
            
        });
</script>
{% endblock %}


{% block breadcrumb %}
                    <ul class="c1 breadcrumb text-left">
                        <li><a href="#">Home</a></li>
                        <li>Custom Package</li>
                    </ul>
                    <h3></h3>
{% endblock %}

{% block body %}

    <section class="section clearfix">
    
    	
        <div class="container">
         <div class="row">
         	<h1 class="custom-package-title">Custom Package</h1>
    		<h3 class="custom-quote"><i class="fa fa-quote-left" aria-hidden="true"></i> Design your own itinerary below and send it to us. We will revert<br> back to
you with the best price<i class="fa fa-quote-right" aria-hidden="true"></i></h3>
		</div>
            <div class="row">
                <div id="fullwidth" class="col-sm-12">
                {{ form_start(form) }}
                <div class="row">
                 <div class="col-lg-12 custom-package-personal-info">
                    <div class="col-lg-4">
                                                                                     
                    <div class="row">
                        <div class="col-md-4 col-sm-4 col-xs-4 make-margin">
                             {{ form_label(form.name) }} 
                        </div>
                        <div class="col-md-8 col-sm-8 col-xs-8">
                             {{ form_widget(form.name,{'attr':{'class':'make-margin'}}) }} 
                         </div>
                    </div>
                    </div>
                    <div class="col-lg-4">
                    <div class="row">
                        <div class="col-md-4 col-sm-4 col-xs-4 make-margin">
                             {{ form_label(form.email) }} 
                        </div>
                        <div class="col-md-8 col-sm-8 col-xs-8">
                             {{ form_widget(form.email,{'attr':{'class':'make-margin'}}) }} 
                         </div>
                    </div>
                    </div>
                    <div class="col-lg-4">
                     <div class="row">
                        <div class="col-md-4 col-sm-4 col-xs-4 make-margin">
                             {{ form_label(form.mobile) }} 
                        </div>
                        <div class="col-md-8 col-sm-8 col-xs-8">
                             {{ form_widget(form.mobile,{'attr':{'class':'make-margin'}}) }} 
                         </div>
                    </div>
                    </div>
               </div>
               </div>
               {#}
                 <div class="row">
                    <div class="col-lg-4">   
                    <div class="row">
                        <div class="col-md-4 col-sm-4 col-xs-4 make-margin">
                             {{ form_label(form.pickUp) }} 
                        </div>
                        <div class="col-md-8 col-sm-8 col-xs-8">
                             {{ form_widget(form.pickUp) }} 
                         </div>
                    </div>
                    </div>
                     <div class="col-lg-4">  
                    <div class="row">
                        <div class="col-md-4 col-sm-4 col-xs-4 make-margin">
                             {{ form_label(form.drop) }} 
                        </div>
                        <div class="col-md-8 col-sm-8 col-xs-8">
                             {{ form_widget(form.drop) }} 
                         </div>
                    </div>
                    </div>
                     <div class="col-lg-4">  
                    <div class="row">
                        <div class="col-md-4 col-sm-4 col-xs-4 make-margin">
                             {{ form_label(form.placesToVisit) }} 
                        </div>
                        <div class="col-md-8 col-sm-8 col-xs-8">
                             {{ form_widget(form.placesToVisit) }} 
                         </div>
                    </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4"> 
                    <div class="row">
                        <div class="col-md-4 col-sm-4 col-xs-4 make-margin">
                             {{ form_label(form.date) }} 
                        </div>
                        <div class="col-md-8 col-sm-8 col-xs-8">
                             {{ form_widget(form.date,{'attr':{'class':'make-margin'}}) }} 
                         </div>
                    </div>
                    </div>
                     <div class="col-lg-4"> 
                    <div class="row">
                        <div class="col-md-4 col-sm-4 col-xs-4 make-margin">
                             {{ form_label(form.preferTime) }} 
                        </div>
                        <div class="col-md-8 col-sm-8 col-xs-8">
                             {{ form_widget(form.preferTime,{'attr':{'class':'make-margin'}}) }} 
                         </div>
                    </div>
                    </div>
                    <div class="col-lg-4">
                    <div class="row">
                        <div class="col-md-4 col-sm-4 col-xs-4 make-margin">
                             {{ form_label(form.numAdult) }} 
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-4">
                             <div class="input-group make-margin">
                                    <a class="adults input-group-addon" id="decrement" value="1" href="#">-</a> 
                                                    {{ form_widget(form.numAdult) }}
                                    <a class="adults input-group-addon" id="increment" href="#">+</a>
                            </div>
                         </div>
                    </div>
                    </div>
                     
                    
                  </div>
                  
                   <div class="row">
                   
                   <div class="col-lg-4"> 
                    <div class="row">
                        <div class="col-md-4 col-sm-4 col-xs-4 make-margin">
                             {{ form_label(form.vehicleId) }} 
                        </div>
                        <div class="col-md-8 col-sm-8 col-xs-8">
                             {{ form_widget(form.vehicleId,{'attr':{'class':'make-margin'}}) }} 
                         </div>
                    </div>
                    </div>
                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <div class="col-lg-4"> 
                    <div class="row">
                        <div class="col-md-4 col-sm-4 col-xs-4 make-margin">
                             {{ form_label(form.price) }} 
                        </div>
                        <div class="col-md-8 col-sm-8 col-xs-8">
                             {{ form_widget(form.price,{'attr':{'class':'make-margin'}}) }} 
                         </div>
                    </div>
                    </div>
                     <div class="col-lg-4">
                    <div class="row form-inline">
                        <div class="col-md-4 col-sm-4 col-xs-4 make-margin">
                             {{ form_label(form.paymentMode) }} 
                        </div>
                        <div class="col-md-8 col-sm-8 col-xs-8">
                             {{ form_widget(form.paymentMode,{'attr':{'class':'make-margin'}}) }} 
                         </div>
                    </div>
                        </div>
                        {% endif %}
                 </div>
                        
                       {#}
                
                <div class="col-lg-12">
                {#}
                        <div class="row form-group">
                            <div class="col-lg-2">
                               <label>Date</label>
                            </div>
                             <div class="col-lg-2">
                                <label>Prefer Time</label>
                            </div>
                             <div class="col-lg-2">
                                <label>Vehicle</label>
                            </div>
                            <div class="col-lg-2">
                                <label>Leaving From</label>
                            </div> 
                           <div class="col-lg-2">
                               <label>goingTo</label>
                            </div>
                            <div class="col-lg-2">
                                <label>price</label>                              
                            </div>
                        </div>
                        {#}
                     {% macro information_prototype(j,day_count) %}
                     <div class="new-day" style="border:1px solid #000; padding: 10px; margin: 5px">
                     	<h4 style="text-transform: capitalize;color: #ef4639;">Day {{ day_count }}</h4>
                        <div class="row form-group">
                            <div class="col-lg-3">
                            	{{ form_label(j.date) }} 
                                {{ form_widget(j.date) }}
                            </div>
                                                      
                           <div class="col-lg-3">
                           {{ form_label(j.leavingFrom) }} 
                                {{ form_widget(j.leavingFrom) }}
                            </div>
                            <div class="col-lg-3">
                            {{ form_label(j.goingTo) }} 
                                {{ form_widget(j.goingTo) }}
                            </div>
                            <div class="col-lg-3">
                            {{ form_label(j.placesToVisit) }} 
                                {{ form_widget(j.placesToVisit) }}
                            </div>
                         </div>
                          <div class="row form-group">
                             <div class="col-lg-12">
                             {{ form_label(j.description) }} 
                                {{ form_widget(j.description) }}
                            </div>
                          </div>
                         <div class="row form-group">
                             <div class="col-lg-3">
                             {{ form_label(j.preferTime) }} 
                                {{ form_widget(j.preferTime) }}
                            </div>
                            
                             <div class="col-lg-3">
                             {{ form_label(j.vehicleId) }} 
                                {{ form_widget(j.vehicleId) }}
                            </div> 
                            {% if is_granted('ROLE_SUPER_ADMIN') %} 
                            <div class="col-lg-3">
                            {{ form_label(j.price) }} 
                                {{ form_widget(j.price) }}
                            </div>
                            {% endif %}
                            <div class="col-lg-3">
	                            <div class="row">
		                             <div class="col-lg-6">
		                             {{ form_label(j.numAdult) }} 
			                             <div class="input-group">
			                                    <a class="adults input-group-addon" id="decrement" value="1" href="#">-</a> 
			                                                    {{ form_widget(j.numAdult) }}
			                                    <a class="adults input-group-addon" id="increment" href="#">+</a>
			                             </div>
		                            </div>
	                            </div>
                         	</div>
                        </div>
                   </div>
                            
                        {% endmacro %}
							<div id="package-list"
                                                data-prototype="{{ _self.information_prototype(form.multiple.vars.prototype)|e }}">
                            {% for j in form.multiple %}
                             {{ _self.information_prototype(j,loop.index) }}
                            {% endfor %}
							</div>
                    <a href="#" id="add-another-package">+ Add another Day</a>
                        
                    
                    
                    </div>
                  
                    <div class="row">
                   <div class="col-lg-12">
                    
                   
                                                 
                    <div class="row">
                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                    
                     <div class="col-md-12 col-sm-12 col-xs-12 text-center">
	                    <div class="row form-inline">
	                        <div class="col-md-6 col-sm-6 col-xs-6 make-margin text-right" style="color: #f26722;font-weight: bold;">
	                             {{ form_label(form.paymentMode) }}
	                        </div>
	                        <div class="col-md-6 col-sm-6 col-xs-6 text-left">
	                             {{ form_widget(form.paymentMode,{'attr':{'class':'make-margin'}}) }} 
	                         </div>
	                    </div>
                       </div>
                        {% endif %}
                        </div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                             {{ form_widget(form.submit) }} 
                         </div>
                    </div>
                    </div>
                    </div>
                    {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}