
         
            <div class="row">
                <div id="fullwidth" class="col-sm-12">
                {{ form_start(form) }}
                <div class="row">
                 <div class="col-lg-12">
                  
                  	 <div class="row form-group">
                            <div class="col-lg-3">
                            	{{ form_label(form.date) }} 
                                {{ form_widget(form.date) }}
                            </div>
                                                      
                           <div class="col-lg-3">
                           {{ form_label(form.leavingFrom) }} 
                                {{ form_widget(form.leavingFrom) }}
                            </div>
                            <div class="col-lg-3">
                            {{ form_label(form.goingTo) }} 
                                {{ form_widget(form.goingTo) }}
                            </div>
                            <div class="col-lg-3">
                            {{ form_label(form.placesToVisit) }} 
                                {{ form_widget(form.placesToVisit) }}
                            </div>
                         </div>
                          <div class="row form-group">
                             <div class="col-lg-12">
                             {{ form_label(form.description) }} 
                                {{ form_widget(form.description) }}
                            </div>
                          </div>
                         <div class="row form-group">
                             <div class="col-lg-3">
                             {{ form_label(form.preferTime) }} 
                                {{ form_widget(form.preferTime) }}
                            </div>
                            
                             <div class="col-lg-3">
                             {{ form_label(form.vehicleId) }} 
                                {{ form_widget(form.vehicleId) }}
                            </div> 
                            {% if is_granted('ROLE_SUPER_ADMIN') %} 
                            <div class="col-lg-3">
                            {{ form_label(form.price) }} 
                                {{ form_widget(form.price) }}
                            </div>
                            {% endif %}
                            <div class="col-lg-3">
	                            <div class="row">
		                             <div class="col-lg-6">
		                             {{ form_label(form.numAdult) }} 
			                             <div class="input-group">
			                                    <a class="adults input-group-addon" id="decrement" value="1" href="#">-</a> 
			                                                    {{ form_widget(form.numAdult) }}
			                                    <a class="adults input-group-addon" id="increment" href="#">+</a>
			                             </div>
		                            </div>
	                            </div>
                         	</div>
                        </div>
                  	
                     <div class="col-lg-3">
                     	{{ form_widget(form.submit,{'attr':{'class':'make-margin'}}) }}
                     </div>
               </div>
               </div>
              
                    {{ form_end(form) }}
                    </div>
                </div>
            </div>
       