{% extends 'page.html.twig' %}
{% block javascripts %}
<script>
$( window ).load(function(){
	var locv=$('#txt_name1').val();;
	$('#trip_booking_engine_edit_searchpagesloc_picklocation').val(locv);

});
$( window ).load(function(){
	var locv=$('#txt_name2').val();;
	$('#trip_booking_engine_edit_searchpagesloc_droplocation').val(locv);

});
</script>
<script>

$('#add-another-content').click(function(e) {
        e.preventDefault();
        /*if(itemCount>4){
            alert('Max 5 only');
            exit();
        }*/

        var contentList = $('#content-list');

        // grab the prototype template
        var newWidget = contentList.attr('data-prototype');
        // replace the "__name__" used in the id and name of the prototype
        // with a number that's unique to your city
        newWidget = newWidget.replace(/__name__/g, contentCount);
        contentCount++;

        // create a new list element and add it to the list
        var newLi = $('<div></div>').html(newWidget);
        newLi.appendTo(contentList);
    });
</script>
{% endblock %}
{% block body %}

    <section class="section clearfix">
        <div class="container">
            <div class="row">
       		<h3>Edit Page</h3>
            <input type="hidden" value="{{ destlocation.picklocation }}" id="txt_name1">
            <input type="hidden" value="{{ destlocation.droplocation }}" id="txt_name2">
                <div id="fullwidth" class="col-sm-12">
               <div class="col-lg-7">
                   {{ form_start(form) }} 
                    {{ form_end(form) }}
                    </div>
                </div>
            </div>
            
               <div class="row">
               <hr>
                <div id="fullwidth" class="col-sm-6">
					<table class="table table-bordered col-lg-12 col-sm-12">
					<tr>
						<th>Sl.No</th>
						<th>Title</th>
						<th>Content</th>
						
						<th>/</th>
					</tr>
                    {% for destcont in destlocationcontent %}
                        <tr>
                        	<td>{{ loop.index }}</td>
							 <td>
                                {{ destcont.title }}
                            </td>
							 <td>
                                {{ destcont.description }}
                            </td>
							
							<td>
								<a href="{{ path('trip_booking_engine_edit_searchpagescont',{ 'id': destcont.id }) }}"><i class="fa fa-pencil-square-o"></i></a>
							</td>
                        </tr>
                    {% endfor %}
					</table>
                </div>
                <div id="fullwidth" class="col-sm-6">
                	<h3>Add Content</h3>
                	{{ render(controller('TripBookingEngineBundle:Booking:addSearchpagescont')) }}
            	</div>
            </div>
            <div class="row">
            <hr>
            	<div id="fullwidth" class="col-sm-6">
					<table class="table table-bordered col-lg-12 col-sm-12">
					<tr>
						<th>Sl.No</th>
						<th>Title</th>
						<th>Content</th>
						
						<th>/</th>
					</tr>
                    {% for taxitype in destlocationtaxitype %}
                        <tr>
                        	<td>{{ loop.index }}</td>
							 <td>
                                {{ taxitype.taxitype }}
                            </td>
							 <td>
                                {{ taxitype.priceperday }}
                            </td>
							
							<td>
								<a href="{{ path('trip_booking_engine_edit_searchpagestaxitype',{ 'id': taxitype.id }) }}"><i class="fa fa-pencil-square-o"></i></a>
							</td>
                        </tr>
                    {% endfor %}
					</table>
                </div>
                <div id="fullwidth" class="col-sm-6">
                	<h3>Add New Taxi Type</h3>
                	{{ render(controller('TripBookingEngineBundle:Booking:addSearchpagestaxitype')) }}
                </div>
            </div>
          </div> 
    </section>
{% endblock %}