{% extends 'page.html.twig' %}
{% block javascripts %}
<script>
$( window ).load(function(){
	var locv=$('#txt_name1').val();;
	$('#trip_booking_engine_edit_searchpages_name').val(locv);

});
</script>
{% endblock %}
{% block body %}

    <section class="section clearfix">
        <div class="container">
            <div class="row">
       
            <input type="hidden" value="{{ dest.name }}" id="txt_name1">
            
                <div id="fullwidth" class="col-sm-12">
               <div class="col-lg-7">
                   {{ form_start(form) }} 
                    {{ form_end(form) }}
                    </div>
                </div>
            </div>
            <div class="row">
            <hr>
                <div id="fullwidth" class="col-sm-6">
					<table class="table table-bordered col-lg-12 col-sm-12">
					<tr>
						<th>Sl.No</th>
						<th>Title</th>
						<th>Url</th>
						
						<th>/</th>
					</tr>
                    {% for destpages in destlocation %}
                        <tr>
                        	<td>{{ loop.index }}</td>
							 <td>
                                {{ destpages.title }}
                            </td>
							 <td>
                                {{ destpages.url }}
                            </td>
							
							<td>
								<a href="{{ path('trip_booking_engine_edit_searchpagesloc',{ 'id': destpages.id }) }}"><i class="fa fa-pencil-square-o"></i></a>
							</td>
                        </tr>
                    {% endfor %}
					</table>
                </div>
                <div id="fullwidth" class="col-sm-6">
                	<h3>Add New Page</h3>
                	{{ render(controller('TripBookingEngineBundle:Booking:addSearchpagesloc')) }}
                </div>
               
            </div>
          </div> 
    </section>
{% endblock %}