 {% extends 'TripBookingEngineBundle:Default:booking.html.twig' %}
{% block breadcrumb %}
<div class="c1 breadcrumb text-left">
                        <div><span class="glyphicon glyphicon-home" style="padding:5px;"></span><a href="{{ path('trip_site_management_homepage')}}">Home</a>
                        <span><span class="glyphicon glyphicon-chevron-right" style="padding:5px;"></span>Booking</span>
                        <span><span class="glyphicon glyphicon-chevron-right" style="padding:5px;"></span>Payment</span></div>
                    </div>
                    
                    <h3></h3>
{% endblock %}
{% block form %}

      {#}<iframe width="100%" height="600" scrolling="no" src="{{ paymentLink }}"></iframe>{#}
      
      
      <form action="{{ paymentLink['action'] }}"  method="post">

                    {% for key,option in paymentLink  %}
                    
                    <input type="hidden" name="{{ key }}" value="{{ option }}">
                    {% endfor %}
                    <input type="submit" class="btn btn-primary pull-right" style="margin-top: 40px; margin-left: 80px;margin-bottom: 10px;margin-right: 60px;background-color: #209838;border-color: #21bb29;" value="Pay Now" >
     		   </form> 
     		   
     		   
     		   
{% endblock %}
 {% block details %}



<li class="booking-price clearfix">
       <span>CGST (2.5%)</span>
       <span> <i class="fa fa-inr"></i> <em > {{ booking.swachBharthCess }} </em></span>
                                                        
</li>  

<hr>
<li class="booking-price clearfix">
       <span>SGST (2.5%)</span>
       <span> <i class="fa fa-inr"></i> <em > {{ booking.krishiKalyanCess }} </em></span>
                                                        
</li> 
<hr>

<li class="text-right">
<span>You Have Been Selected </span>
       <span>  <em > {{ paymentMode }} % Payment Mode </em></span>

</li>
<li  class="booking-price clearfix">
	<span>You Pay</span></em>
    <span><b><i class="fa fa-inr"></i><em id="price"> {{ amountToPay }} </em></b></span> 
</li>
                                       
{% endblock %}