{% extends 'TripBookingEngineBundle:Default:booking.html.twig' %}
{% block breadcrumb %}
                    <ul class="c1 breadcrumb text-left">
                        <li><a href="#">Home</a></li>
                        <li>Booking</li>
                        <li>Payment</li>
                    </ul>
                    <h3></h3>
{% endblock %}
{% block form %}

      <iframe width="100%" height="600" scrolling="no" src="{{ paymentLink }}"></iframe>
{% endblock %}
 {% block details %}

<li class="booking-price clearfix">
       <span>Service Tax (5.6%)</span>
       <span> <i class="fa fa-inr"></i> <em > {{ booking.serviceTax }} </em></span>
                                                        
</li> 
<hr>

<li class="booking-price clearfix">
       <span>Swach Bharth Cess (0.2%)</span>
       <span> <i class="fa fa-inr"></i> <em > {{ booking.swachBharthCess }} </em></span>
                                                        
</li>  

<hr>
<li class="booking-price clearfix">
       <span>Krishi Kalyan Cess (0.2%)</span>
       <span> <i class="fa fa-inr"></i> <em > {{ booking.krishiKalyanCess }} </em></span>
                                                        
</li> 
<hr>

<li class="text-right"><em>You Pay</em>
    <p><b><i class="fa fa-inr"></i><em id="price"> {{ booking.finalPrice }} </em></b></p> 
</li>

                                       
{% endblock %}