{% extends 'page.html.twig' %}
{% block javascripts %}
<script type="text/javascript">

//keep track of how many city fields have been rendered
var imageCount = '{{ form.imgfront|length }}';

$('#add-another-image').click(function(e) {
        e.preventDefault();
        /*if(itemCount>4){
            alert('Max 5 only');
            exit();
        }*/

        var imageList = $('#image-list');

        // grab the prototype template
        var newWidget = imageList.attr('data-prototype');
        // replace the "__name__" used in the id and name of the prototype
        // with a number that's unique to your city
        newWidget = newWidget.replace(/__name__/g, imageCount);
        imageCount++;

        // create a new list element and add it to the list
        var newLi = $('<div></div>').html(newWidget);
        newLi.appendTo(imageList);
    });

</script>
<script>
    
</script>

{% endblock %}
{% block body %}
<section class="section clearfix">
        <div class="container">
            <div class="row">
                <div id="fullwidth" class="col-sm-12">
                 	<div class="row">
   						<div class="col-sm-1">
   						
   						</div>
   						<div class="col-sm-10">
   							<div class="bike-background-new-profile">
   								<div class="row">
   									<div class="col-sm-4" style="border-right: 1px solid #e0e0e0;">
   										<div class="post-title clearfix text-center">
                                                <h5>Profile</h5>
                                        </div><!-- end ost-title -->
                                        <img src="{{asset('images/user-icon.png') }}" style="width: 50%;display: block;margin: 0 auto;">
   										<p class="profile-name text-center bold600">{{ username }} </p>
   										<p class="profile-name text-center">{{ usermobile }}</p>
   										<p class="profile-name text-center">{{ useremail }} </p>
   									</div>
   									<div class="col-sm-8">
   										<div class="post-title clearfix text-center">
                                                <h5>Upload Documents</h5>
                                        </div><!-- end ost-title -->
                                         {{ form_start(form) }}
                                           <div class="row form-group">
                                                    <div class="col-lg-12">
                                                      
                                             {% macro image_prototype(i) %}
                                             		<div class="row form-group ">
                                             		{{ form_widget(i.imgfront,{'attr':{'class':'uploaddocdesign','placeholder':'+'}}) }}
                        	                                        
                                                	</div>
                                             {% endmacro %}
                                             
                                             </div> 
                                                                   
                                            </div>                      
                                            {{ form_end(form) }}
                                           <div class="row">
                                           	{% for userdocs in userdoc %}
                                           		<div class="col-md-6">
                                           			
                                           			<a href="{{ path('trip_booking_engine_deletedocupload',{ 'id':userdocs.id }) }}" class="closeicon">
                                           			<div class="closebotton-div"><span>X</span></div></a>
                                           			<img src="{{asset('images/userdoc/'~userdocs.imgfront) }}" style="width: 70%;display: block;margin: 0 auto;">
                                           			
                                           		</div>
                                           	{% endfor %}
                                           </div>
   									</div>
   								</div>
   							</div>
   						</div>
   						<div class="col-sm-1">
   						
   						</div>
                	</div>
           	 	</div>
        	</div>
        </div>
</section>
{% endblock %}