{% extends 'page.html.twig' %}

{% block stylesheets %}
    <!-- Default Styles -->
    <link href="{{ asset('css/search-style.css?version=1.06') }}" rel="stylesheet">
 <link href="{{ asset('css/awe-booking-font.css') }}" rel="stylesheet">
<style>
input[type="radio"] {
    display: none;
}
.tripSelMod label{
    cursor: pointer;
}
.tripSelMod.legSelected label{
    cursor: default;
}
</style>

		<link href="{{ asset('css/jquery.timepicker.css') }}" rel="stylesheet" media="screen">
{% endblock %}
{% block javascripts %}
<script src="{{ asset('js/jquery.timepicker.min.js') }}"></script>
<script>
    $(document).ready(function() {
     // var $a = new Date();
     var $a = $("#trip_search_date").datepicker("getDate");
    $a.setDate($a.getDate() + 1);//
    $('#trip_search_returnDate').datepicker("option", "minDate", $a);
    //$("#trip_search_returnDate").datepicker("option", "minDate", a);
    });
     $('#trip_search_preferTime').timepicker({ 'scrollDefault': 'now' });
     $('.adults').click(function(e){		
			e.preventDefault(); //STOP default action 
			 var id = $(this).attr('id');
			 var value = parseInt($(this).attr('value'));
			 var adults =parseInt( $('#trip_search_numAdult').val());
			 if (isNaN(adults)) { 
				 adults= 0
	            } 
			 if(id=='decrement'){
				 adults-=1;
				 if(adults>=value) $('#trip_search_numAdult').val(adults); else exit();
			  }else{
				adults+=1;
			    if(adults<=20)  $('#trip_search_numAdult').val(adults); else exit();
				}
          //$("#search").submit();	
	    });
        $('.days').click(function(e){		
			e.preventDefault(); //STOP default action 
			 var id = $(this).attr('id');
			 var value = parseInt($(this).attr('value'));
			 var days =parseInt( $('#trip_search_numDays').val());
			 if (isNaN(days)) { 
				 days= 0
	            } 
			 if(id=='decrement'){
				 days-=1;
				 if(days>=value) $('#trip_search_numDays').val(days); else exit();
			  }else{
				days+=1;
			    if(days<=20)  $('#trip_search_numDays').val(days); else exit();
				}
            // $("#search").submit();	
	    });
$("select").change(function() {
			//$("#search").submit();						
		});
    $("input").change(function() {
			//$("#search").submit();						
		});
		 $("input").blur(function() {
		//	$("#search").submit();						
		});
     $(".tripSelMod").click(function(e) {					
        $(".tripSelMod").removeClass('legSelected');
        $(this).addClass('legSelected'); 
         var id = $(this).attr('href');
          $("#"+id).attr('checked', 'checked');
                 if(id=='roundtrip'){
            $("#trip_search_returnDate").removeAttr("readonly");$("#trip_search_multiple_1_date").focus();
                 $("#trip_search_returnDate").attr("required","true");$("#trip_search_returnDate").focus();
                 }else if(id!='dailyRent'){
                     $("#trip_search_returnDate").attr("readonly","readonly");
                     $("#trip_search_returnDate").removeAttr("required");
                      $("#trip_search_returnDate").val('');
                 }
         e.preventDefault();
     });
</script>

{{ facebook_initialize({'xfbml': true, 'fbAsyncInit': 'onFbInit();'}) }}
{% endblock %}


{% block breadcrumb %}
                    <div class="c1 breadcrumb text-left">
                        <div><span class="glyphicon glyphicon-home" style="padding:5px;"></span><a href="#">Home</a><span><span class="glyphicon glyphicon-chevron-right" style="padding:5px;"></span>Search</span></div>
                    </div>
                    <h3></h3>
{% endblock %}

{% block body %}

    <section class="section clearfix" style="padding-top:0px">
        
                                  <div class="col-md-12 border-box sidebar-filter">
    <div class="page-sidebar">
        {{ form_start(form) }}
        {{ form_errors(form, { 'global_errors': true }) }}
         <div class="col-md-1 search-widget">
            </div>
        <div {% if tripType=='multicity' %} style="display:none;" {% endif %}>
           
            <div class="col-md-1 search-widget">
              <div class="widget widget_has_radio_checkbox_text">
                <h3>Trip Type</h3>
                             <div class="tripSwitch"> 
                <div id="" class="flightLegNav clearfix"> 
                <span inittooltip="" data-tooltip="One-way" class="lftRounded">
                <a data-triptype="O" href="oneway" class="tripSelMod {% if tripType=='oneway' %} legSelected {% endif %} "><label for="oneway">
                    <input type="radio"  name="tripType" id="oneway" value="oneway" {% if tripType=='oneway' %} checked {% endif %}> 
                    <i class="icons tripSwitchOW"></i> 
                </label></a>
                </span>
                 <span inittooltip="" data-tooltip="Roundtrip" class="">
                 <a data-triptype="R" href="roundtrip" class="tripSelMod {% if tripType=='roundtrip' %} legSelected {% endif %}"><label for="roundtrip">
                     <input type="radio"  name="tripType" id="roundtrip" value="roundtrip" {% if tripType=='roundtrip' %} checked {% endif %}>
                         <i class="icons tripSwitchRT"></i></label>
                     </a>
                 </span> 
                    <span inittooltip="" data-tooltip="dailyRent" class="">
                 <a data-triptype="D" href="dailyRent" class="tripSelMod {% if tripType=='dailyRent' %} legSelected {% endif %}"><label for="dailyRent">
                     <input type="radio"  name="tripType" id="dailyRent" value="dailyRent" {% if tripType=='dailyRent' %} checked {% endif %}>
                         <i class="icons tripSwitchDR"></i></label>
                     </a>
                 </span> 
                 </div> 
                 </div>

              </div> 
            </div>
            
            <div class="col-md-2 search-widget">
                <div class="widget">
                          <div class="clearfix"></div>

                    <h3>Leaving From</h3>
                                         <div class="form-group make-margin">
                                                 <div class="dropdown">
                                                      {{ form_widget(form.leavingFrom) }}                                            
                                                </div>
                                            </div>
                </div>
            </div>
            <div class="col-md-2 search-widget">
                <div class="widget">
                <h3>Going To</h3>
                                            <div class="form-group make-margin">
                                                 <div class="dropdown">
                                                     {{ form_widget(form.goingTo) }}                                            
                                                </div>
                                            </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="col-md-1 search-widget">
         <div class="widget">
                  <div class="clearfix"></div>
                
<h3>{{ form_label(form.date) }}</h3>
                                 <div class="form-group make-margin">
                                         <div class="dropdown">
                                              {{ form_widget(form.date) }}                                            
                                        </div>
                                    </div>
                </div>
            </div>
            <div class="col-md-1 search-widget">
         <div class="widget">
        <h3>{{ form_label(form.returnDate) }} </h3>
                                    <div class="form-group make-margin">
                                         <div class="dropdown">
                                             {{ form_widget(form.returnDate) }}                                            
                                        </div>
                                    </div>
            <div class="clearfix"></div>
        </div>
        </div>
        </div>

         <div class="col-md-1 search-widget">
         <div class="widget">
                  <div class="clearfix"></div>
             <h3>{{ form_label(form.preferTime) }} </h3>
                                       <div class="form-group make-margin">
                                         {{ form_widget(form.preferTime) }}
                                    </div> 
             </div>
            </div>
         <div class="col-md-1 search-widget">
         <div class="widget">
             <h3>{{ form_label(form.numAdult) }}</h3>
                                 <div class="form-group make-margin">
                                         <div class="input-group">
                                            <a class="adults input-group-addon" id="decrement" value="1" href="#">-</a> 
                                                            {{ form_widget(form.numAdult) }}
                                            <a class="adults input-group-addon" id="increment" href="#">+</a>
                                        </div>
                                    </div>
        </div>
            </div>

         <div class="col-md-1" style="padding:0;padding-top:42px">
           
        <button type="submit" class="btn btn-primary btn-block btn-sm" > Search</button>
        
        
          <div class="clearfix"></div>
      
        <div style="display:none">
            
            
            
                   
               <div class="widget_content">
      {#  <label class="from">From <span class="form-item db"><i class="awe-icon awe-icon-marker-1"></i> <input type="text"></span></label>               <label class="to">To <span class="form-item db"><i class="awe-icon awe-icon-marker-1"></i> <input type="text"></span></label> #}
          </div> 
             {% for multiCity in form.multiple %}
            {{ form_widget(multiCity) }} 
            {% endfor %}
        </div>
        
       
      <div class="clearfix"></div>
             </div>
        {{ form_end(form) }}
        
        
        </div>
        
        
    </div>
        <div class="container">
            <div class="row">
                <div id="fullwidth" class="col-sm-12">

                    
                    
                    <div class="row">

  <div class="col-md-12">
    <div class="filter-page__content">
      <div class="filter-item-wrapper">
          
          {% for key,vehicle in result %}
		<div class="col-md-6">
        <div class="flight-item border-box {% if loop.index is even %} oddClass {% endif %}">
          <div class="item-media">
		     <div class="col-md-6">
            <div class="image-cover"><img src="{{ asset('images/cars/'~vehicle.imgPath) }}" alt="" style="height: 100%; width: auto;"></div>
			</div>
			<div class="col-md-6">
			<div class="item-price-more text-center">
            <div class="price"><span class="amount"> <i class="fa fa-inr"></i> {% if tripType=='roundtrip' %} {{ vehicle.returnPrice }} {% else %} {{ vehicle.price }}{% endif %}</span></div>
               {% if tripType=='multicity' %}
              <span> <i class="fa fa-inr"></i> {{ vehicle.vPrice }} / KM  </span>
              {% endif %}
          </div>
			</div>
		  </div>
		  <div class="col-md-6">
          <div class="item-body">
            <div class="item-title">
                <div class="">
					<p class="cab_type">CAB TYPE</p>
                    <h2>{{ vehicle.model }}<span class="cab_dec">{{ vehicle.capcity }}</span></h2>
                </div>
                <div class="">
				<ul class="list-inline" style="color:#747474">
                        {% if tripType=='multicity' %}
                            <li>
                            {% for from in vehicle.lFrom %}
                                {{ from }} {% if loop.last is same as(false) %} <i class="fa fa-long-arrow-right"></i> {% endif %}
                            {% endfor %} 
                            {% if vehicle.lFrom.first!= vehicle.to %}
                                <i class="fa fa-long-arrow-right"></i> {{ vehicle.to }} 
                                {% endif %}
                            </li>
                        {% else %}
                            
                        <li> {#}{% if noData==0 %} {{ vehicle.lFrom }} {% else %} {{ vehicle.to }} {% endif %} {#} {{ vehicle.lFrom }}
						{% if tripType=='roundtrip' %} <i class="fa fa-long-arrow-left"></i>{% endif %}<i class="fa fa-long-arrow-right"></i></li>
                          <li>  {#} {% if noData==0 %} {{ vehicle.to }}  {% else %} {{ vehicle.lFrom }} {% endif %} {#} {{ vehicle.to }} </li>
                        {% endif %}
                      
                    </ul>
				</div>
            </div>       
          </div>
          </div>
		  <div class="col-md-6">
            <div class="item-price-more-book">
            <a href="{{ path('trip_booking_engine_confirm') }}?selected={{ key }}" class="awe-btn awe-btn btn btn-book btn-normal btn-md"><i class="fa fa-shopping-cart"></i> Book now</a>
          </div>
		  </div>
        </div>
		</div>
          {% else %}
          <div class="col-md-12 free-kms">
              <h2>Sorry, we didn't find any services matching for this, please call us For More Assistance .<br>Help
line No:+91-966313308</h2>
          </div>
          
          {% endfor %}
      </div>
        
    </div>
  </div>
   <div class="col-md-6">
        {% if result|length>0 %}
            {% if tripType=='multicity' %}
           <div class="row free-kms">
                <div class="col-md-12">
                    <h2>Free kilometers</h2>
                    <h1>{{ result[1].kms }}</h1>

               </div>
               <div class="col-md-12">
                   <ul>
                       <li>On exceeding the free km limit, user will be charged as follows </li>
                           {% for key,vehicle in result %}
                       <li>  Rs.{{ vehicle.vPrice }}/km for {{ vehicle.model }} </li>
                           {% endfor %}



                   </ul>
               </div>
           </div>
           {% endif %}
       {% if tripType=='dailyRent' %}
           <div class="row free-kms">
                <div class="col-md-12">
                    <h2>Free Hours</h2>
                    <h1>12</h1>
                    <b>For 24 Hours Rs:300 Extra</b>
                    <b>plus</b>

               </div>
               <div class="col-md-12">
                   <ul>
                       <li>4 Seater (Indica AC/ Vertio / Swift Dzire / Etios/Renault Duster)</li>
                       <li>  For Every 10Kms/1 Liter Diesel </li>
                       <li>  6+1 Seater (Innova / Xuv400 ) </li>
                       <li>  For Every 9 Kms/ 1 Liter Diesel </li>
                       <li>  12+1 Seater (Tempo Traveller)</li>
                       <li>  For Every 7Kms/1 Liter Diesel</li>



                   </ul>
               </div>
           </div>
           {% endif %}
       {% endif %}
    
	<img src="{{ asset('images/Sidebar.png') }}" style="margin-left: 33px;">
	<h1 style="font-size:20px;">+91-9663133008</h1>
        <a data-toggle="modal" data-target="#request" href="#request" class="btn btn-primary btn-block btn-sm">Enquiry</a>
           <div class="fb-like" data-href="https://www.facebook.com/JustTripIndia" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
        <h1 style="font-size:20px;"> "Pay 10% Now And Book Your Ride" </h1>
   </div>
  
  </div>
</div>
                    
                    
                    
                </div>
            </div>
        </div>
    </section>



							 <div class="modal fade" id="request" role="dialog">
								    <div class="modal-dialog">
								    
								      <!-- Modal content-->
								      <div class="modal-content">
								        <div class="modal-header">
								          <button type="button" class="close" data-dismiss="modal">&times;</button>
								          <h4 class="modal-title">Get the Best Holiday Planned by Experts!</h4>
								        </div>
								        <div class="modal-body">
                                            <div class="row">
                                            <div class="col-md-12 col-sm-12 col-xs-12">
                            <div id="contact_form" class="contact_form">
                                <div id="message">
                                    <div class="col-lg-12 col-sm-12 form-group has-error">
                                      <ul class="errors">
                                            <div class="row top-buffer">
                                                {{ form_errors(contactForm.firstName) }}
                                            </div>
                                            <div class="row top-buffer">
                                                {{ form_errors(contactForm.lastName) }}
                                            </div>
                                            <div class="row top-buffer">
                                                {{ form_errors(contactForm.email) }}
                                            </div>
                                            <div class="row top-buffer">
                                                {{ form_errors(contactForm.phoneNumber) }}
                                            </div>
                                            <div class="row top-buffer">
                                                {{ form_errors(contactForm.message) }}
                                            </div>
                                        </ul>
								    </div>
                                </div>
                                {{ form_start(contactForm) }}
				                {{ form_errors(contactForm, { 'global_errors': true }) }}
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                         {{ form_widget(contactForm.firstName, { 'attr': {'class':'make-margin','placeholder': 'Enter Your  First Name','title':'Please enter a valid Name', 'maxlength':'100'}}) }}
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                     {{ form_widget(contactForm.lastName, { 'attr': {'class':'make-margin','placeholder': 'Enter Your Last Name','title':'Please enter a valid Last Name', 'maxlength':'100'}}) }}
                                    </div>
                                 <div class="col-md-6 col-sm-6 col-xs-12">
                                         {{ form_widget(contactForm.email, { 'attr': {'class':'make-margin','placeholder': 'Enter Your Email','title':'Please enter a valid Email', 'maxlength':'100'}}) }}
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                    {{ form_widget(contactForm.phoneNumber, { 'attr': {'class':'make-margin','placeholder': 'Enter Your Number','title':'Please enter a valid number', 'maxlength':'15'}}) }}
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                    {{ form_widget(contactForm.subject, { 'attr': {'class':'make-margin','placeholder': 'Enter Your Subject','title':'Please enter a valid subject', 'maxlength':'100'}}) }}
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                    {{ form_widget(contactForm.message, { 'attr': {'class':'make-margin','placeholder': 'Enter Your message','title':'Please enter a valid message', 'maxlength':'5000'}}) }}
                                        
                                        
                                        
                                        
                                         {{ form_widget(contactForm.submit,{ 'attr': {'class': 'pull-right btn btn-primary btn-lg border-radius'}}) }}
							              
                                    
                                    </div>
                                {{ form_end(contactForm) }}   
                            </div><!-- end contact-form -->
                        </div><!-- end col -->
                                                </div>
                                    

								        </div>
								        
								      </div>
								      
								    </div>
								  </div>

{% endblock %}