{% extends 'TripSiteManagementBundle:Default:index.html.twig' %}
{% block javascripts %}
<script src="{{ asset('js/ionrangeslider.min.js') }}"></script>
<script type="text/javascript">
$("#filter-search").on('change', ':checkbox', function (e) {
	   $("form[name='hotel_filter']").submit();
	});
	
$("#hotel_search_filter_price").ionRangeSlider({
    type: 'double',
    prefix: "<i class='fa fa-inr'></i> ",
    onChange: function (data) {
    	$("form[name='hotel_search_filter']").submit();
    },
    prettify: false,
    hasGrid: true
});
</script>
<script>

var room = $('.guests-room').html();
$("#guests-box").on('click','.add-room',function(e){
	e.preventDefault();    	
    	//alert(room);
    	var roomCount = parseInt($(this).attr('value'));
    	var adultCount = {{searchHotel.numAdult}};
    	//document.write(adultCount);
    	if(roomCount==4){
        	alert("You reached maximum rooms allowed per booking");
        	exit();
    	}
    	roomCount+=1;    	
    	$(this).attr('value',roomCount);
    	$('.guests-room').append("<h5>Room "+roomCount+"</h5>");
    	$('.guests-room').append(room);
    	$('#trip_hotel_search_numRooms').val(roomCount);
    	$('#trip_hotel_search_numAdult').val(adultCount+2);
    	 var totalAdultCount = parseInt($('#trip_hotel_search_numAdult').val());
    	 var totalChildCount = parseInt($('#trip_hotel_search_numChildren').val());
    	var guests = totalAdultCount + totalChildCount;
    	var guestsText = guests+' Guests, '+roomCount+' Rooms';
    	$('#guests').val(guestsText);

    	e.preventDefault();
   	
});
$("#guests-box").on('click','.adults',function(e){	
	e.preventDefault(); //STOP default action 
	 var id = $(this).attr('id');
	 var value = parseInt($(this).attr('value'));
	// var value = 3;
	 var totalAdultCount = parseInt($('#trip_hotel_search_numAdult').val());
	 var totalChildCount = parseInt($('#trip_hotel_search_numChildren').val());
	 var roomCount = parseInt($('#trip_hotel_search_numRooms').val());
	 var adultsCount = $(this).closest('.row').find('.adults-count');
	 var adults =parseInt( $(adultsCount).html());
	 if (isNaN(adults)) { 
		 adults= 0
        } 
	// alert(adults);
	 if(id=='decrement'){
		 adults-=1;
		 totalAdultCount-=1;
		 if(adults>=1) $(adultsCount).html(adults); else exit();
	  }else{
		adults+=1;
		totalAdultCount+=1;
	    if(adults<=2)  $(adultsCount).html(adults); else exit();
		}
	 $('#trip_hotel_search_numAdult').val(totalAdultCount);
	 var guests = totalAdultCount + totalChildCount;
 	var guestsText = guests+' Guests, '+roomCount+' Rooms';
 	$('#guests').val(guestsText);	
});
$("#guests-box").on('click','.children',function(e){	
	e.preventDefault(); //STOP default action 
	 var id = $(this).attr('id');
	 var value = parseInt($(this).attr('value'));
	 var totalAdultCount = parseInt($('#trip_hotel_search_numAdult').val());
	 var totalChildCount = parseInt($('#trip_hotel_search_numChildren').val());
	 var childrenCount = $(this).closest('.row').find('.children-count');
	 var roomCount = parseInt($('#trip_hotel_search_numRooms').val());
	 var children =parseInt( $(childrenCount).html());
	 if (isNaN(children)) { 
		 children= 0
        } 
	 if(id=='decrement'){
		 children-=1;
		 totalChildCount-=1;
		 if(children>=0) $(childrenCount).html(children); else exit();
	  }else{
		  children+=1;
		  totalChildCount+=1;
	    if(children<=2)  $(childrenCount).html(children); else exit();
		}
	 $('#trip_hotel_search_numChildren').val(totalChildCount);
	 var guests = totalAdultCount + totalChildCount;
 	var guestsText = guests+' Guests, '+roomCount+' Rooms';
 	$('#guests').val(guestsText);
});


$('#guests').click(function(e){
	//var room = $('#guests-room').html();
	//$('#guests-room').next(room);
	e.preventDefault();
    	 $('#guests').popover({
    		    placement: "bottom",
    		    trigger: "manual",
    		    html : true,
    		    content: $("#popover-content").html()
    		}).popover("show");


        
    });

    
$("#guests-box").on('click','.guestclose',function(e){ 
	 e.preventDefault(); //STOP default action 
	 //alert('hi');
	 $('#guests').popover('hide');
	
	/* var x = document.getElementById("guestsclosediv");
	
	 
	   if (x.style.display === "none") {
	         x.style.display = "block";
	     } else {
	         
	    	 x.style.display = "none";
	         
	     } */
	}); 


$(function () {

	// implementation of disabled form fields
	
});

	    
    </script>
    <script>

$(document).ready(function() {
    // Configure/customize these variables.
    var showChar = 100;  // How many characters are shown by default
    var ellipsestext = "...";
    var moretext = "Show more >";
    var lesstext = "Show less";
    

    $('.more').each(function() {
        var content = $(this).html();
 
        if(content.length > showChar) {
 
            var c = content.substr(0, showChar);
            var h = content.substr(showChar, content.length - showChar);
 
            var html = c + '<span class="moreellipses">' + ellipsestext+ '&nbsp;</span><span class="morecontent"><span>' + h + '</span>&nbsp;&nbsp;<a href="" class="morelink">' + moretext + '</a></span>';
 
            $(this).html(html);
        }
 
    });
 
    $(".morelink").click(function(){
        if($(this).hasClass("less")) {
            $(this).removeClass("less");
            $(this).html(moretext);
        } else {
            $(this).addClass("less");
            $(this).html(lesstext);
        }
        $(this).parent().prev().toggle();
        $(this).prev().toggle();
        return false;
    });
});

</script>
{% endblock %}
{% block stylesheets %}
    <!-- Default Styles -->
    <link href="{{ asset('css/search-style.css') }}" rel="stylesheet">
 <link href="{{ asset('css/awe-booking-font.css') }}" rel="stylesheet">
{% endblock %}
{% block body %}

    <section class="section clearfix">
        <div class="container">
            <div class="row">
                <div id="fullwidth" class="col-sm-12" style="background-color:black;margin-bottom: 20px;">

                  <div role="tabpanel" class="tab-pane active" id="tab_02">
                                <h3 style="color:#fff;">Hotels</h3>
                                test
                                       {{ form_start(form) }}
                                        {{ form_errors(form, { 'global_errors': true }) }}
                                
                                
                                <div class="row">                                
                                   
                                   <div class="form-group fil col-md-3 col-sm-2 col-xs-12 remove_right remove_left" >
                                         
                                         <div class="dropdown" style="border:none;">
                                         <a class="chosen-single" tabindex="-1" style="border:none;'">
                                             {{ form_widget(form.goingTo) }}  </a>              
                                        </div>
                                    </div>
                                     <div class="form-group fil col-md-2 col-sm-2 col-xs-12 remove_right remove_left">
                                         
                                        <div class="input-group">
                                            {{ form_widget(form.date) }} 
                                            <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                                        </div>
                                    </div>
                                    <div class="form-group fil col-md-2 col-sm-2 col-xs-12 remove_right remove_left">
                                        
                                        <div class="input-group">
                                            {{ form_widget(form.returnDate) }}          
                                            
                                              
                                            <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                                        </div>
                                       
                                    </div> 
                                     <div class="form-group fil col-md-2 col-sm-2 col-xs-12 remove_right remove_left">
                                      
                                      
                                         <span class="city guests" id="guests-box">
                      <input type="text" id="guests" value="{{ searchHotel.numAdult }} Guests, {{ searchHotel.numRooms }} Room" readonly/>
                     
                      <div id="popover-content" style="display: none;width:262px;">
                      
                     <div id="guestsclosediv" >
                      	<h5>Room 1</h5>
                      	  <!--  <button type="button" id="guestclose" class="guestclose" aria-label="Close" >
  								 	<span aria-hidden="true">&times;</span>
						</button> -->
						<a class="close btnguestclosecase guestclose" id="guestclose">&times;</a>
						 
						               	 
                      	<div class="guests-room" id="guests-room">
                      	 
                      	<div class="row">
                      		<div class="col-lg-8">

                      			<i class="adults-count">1</i> Adults <i class="guests-text" style="font-size:11px;color: #8a8a8a;">Above 18 years</i>


                      		</div>
                      		<div class="col-lg-4">
                      			<a class="adults input-group-addon" id="decrement" value="2" href="#">-</a>
                      			<a class="adults input-group-addon" id="increment" href="#">+</a>
                      		</div>                     	
                      	</div>
                      	<hr>
                      	<div class="row">
                      		<div class="col-lg-8">
                      			<i class="children-count">0</i> Children <i class="guests-text" style="font-size:11px;color: #8a8a8a;">Below 12 years</i>
                      		</div>
                      		<div class="col-lg-4">
                      			<a class="children input-group-addon" id="decrement" value="0" href="#">-</a>
                      			<a class="children input-group-addon" id="increment" href="#">+</a>
                      		</div>                     	
                      	</div> 
                      	<hr> 
                      	</div>
                      	<a href="#" class="add-room" value="1">Add Room</a>   
                      	</div>                   	                      	
                      </div>
                    
                      
                      
                       
                      </span>{{ form_widget(form.numChildren) }}
                      	   {{ form_widget(form.numRooms) }}
                                        </div>
                                       <div class="form-group fil col-md-2 col-sm-2 col-xs-12 remove_right remove_left">
                                        <button type="submit" class="btn btn-primary btn-block" ><i class="icon-search"></i> Serach</button>
                                    </div>
                                    </div> 
                                                        {{ form_end(form) }}
                                    
                                    
                                </div>
                                   
                               
                            </div><!-- end tab-pane -->

    </div></div></section>
                    
  <section id="listing">

 
    <div class="container">
      <div class="row">
        <div class="col-md-3  border-box sidebar-filter">
          <div class="fleets-filters toggle-container">
            <h5 class="toggle-title" style="color:#fff;">Filters</h5>
            <aside class="toggle-content" id="filter-search">
             {{ form_start(filterForm) }}
             
              <div class="general" style="color:#fff;">
                <h5 class="title" style="color:#fff;">Location</h5>
                <ul class="custom-list additional-filter-list clearfix">
                {% for key, item in filterForm.location.children %}			
                  <li style="list-style-type: none;">
                    <span class="checkbox-input">
                     
                      {{ form_widget(item) }}
                      {{ form_label(item) }}
                    </span>
                  </li>
                  {% endfor %}                  
                </ul>
                
                {#}<hr class="filter-divider">
                <h5 class="title">Price</h5>
                
                {{ form_widget(filterForm.price,{
							'attr':{'data-min':''~searchHotel.min,'data-max':''~searchHotel.max,'data-from':''~searchHotel.minPrice,'data-to':''~searchHotel.maxPrice
							}}) }}
               
                 <hr class="filter-divider">
                <h5 class="title">Category</h5>
                <ul class="custom-list additional-filter-list clearfix">
                
                 {% for key, item in filterForm.categories.children %}			
                  <li>
                    <span class="checkbox-input">
                     
                      {{ form_widget(item) }}
                      {{ form_label(item) }}
                    </span>
                  </li>
                  {% endfor %} 
                 
                </ul>
                
                
             
                <hr class="filter-divider">
                <h5 class="title">Property Type</h5>
                <ul class="custom-list additional-filter-list clearfix">
                
                 {% for key, item in filterForm.properties.children %}			
                  <li>
                    <span class="checkbox-input">
                     
                      {{ form_widget(item) }}
                      {{ form_label(item) }}
                    </span>
                  </li>
                  {% endfor %} 
                 
                </ul>
                {#}
                
                
              </div>

            </aside>
          </div>

        </div>
        <h5 class="title pull-left" style="background-color: #00566d;width:72%;margin-left:15px;color:#fff;padding: 7px;">Available Rooms</h5>
        <div class="listing-content col-md-9 ">
         
          <div class="listing-pagination">
           

          </div>
          {% set i=0 %}
          {% for hotel in result %}
          <div class="listing-room-list" style="border: 1px solid #e1e1e1;">
          <div class="row" >
           <div class="col-md-3">
            <div class="thumbnail">
                {% if hotel.images.first %}
                <img src="{{ asset('images/Hotels/'~hotel.images.first.imagePath) }}" alt="" class="img-responsive" height="100%">
                              {% else %}
               <img src="/hotel/web/img/Hotels/shirdib3.jpg" alt="" class="img-responsive" height="100%">
               {% endif %}
            </div>
          </div>
         
            <div class="listing-room-content">
              
                <div class="col-md-9">
                  <header>
                    <div class="pull-left">
                    
                    {% set room=1 %}
                  
            		 
            		  {% if roomCountByHotel[hotel.id] is defined %}
	            		  {% if roomCountByHotel[hotel.id] >= hotel.numRooms %}
				                   {% set room=0 %}
				          {% endif %}
			          {% endif %}
                   
                     {% if (numRoom>hotel.availableRooms) or (hotel.numRooms<numRoom) or (hotel.soldOut or hotel.numRooms<1or room==0) or (searchHotel.date>=hotel.hotelblockStartDate and  searchHotel.date<=hotel.hotelblockEndDate) or ( searchHotel.returnDate>=hotel.hotelblockStartDate and searchHotel.returnDate<=hotel.hotelblockEndDate) or ( searchHotel.date<=hotel.hotelblockStartDate and searchHotel.returnDate>=hotel.hotelblockEndDate) %}
                      <h5 class="title">
                        {{ hotel.name }}
                      </h5>
                      {% else %}
                      <h5 class="title">
                        <a href="">{{ hotel.name }}</a>
                      </h5>
                      {% endif %}
                      <ul class="tags custom-list list-inline pull-left" style="border:none;padding:0 0 20px;">
                      
                 
                        <li class="location"><i class="fa fa-map-marker"></i> {{ hotel.location }}, {{ hotel.city }}</li>
                       
                      </ul>
                    </div>
                    <div class="pull-right">
                   
                   {% if (numRoom>hotel.availableRooms) or (hotel.numRooms<numRoom) or (hotel.soldOut or hotel.numRooms<1 or room==0) or (searchHotel.date>=hotel.hotelblockStartDate and  searchHotel.date<=hotel.hotelblockEndDate) or ( searchHotel.returnDate>=hotel.hotelblockStartDate and searchHotel.returnDate<=hotel.hotelblockEndDate) or ( searchHotel.date<=hotel.hotelblockStartDate and searchHotel.returnDate>=hotel.hotelblockEndDate) %} 
                             <a class="awe-btn awe-btn btn btn-primary btn-normal btn-sm" disabled>
                          Sold Out
                        </a>                   
                        	
                        {% else %}
                        <a href="{{ path('trip_site_management_view_hotel',{ 'id' : hotel.id }) }}" class="awe-btn awe-btn btn btn-primary btn-normal btn-sm" href="">
                          Select Room
                        </a>
                        {% endif %}
                        
                    {% set price=searchHotel.numRooms * hotel.price * numDay %}
                    
            
            
                      
                    </div>
                    
                    <div class="listing-facitilities">
                    <div class="row">
                      <div class="col-md-6 col-sm-6" style="text-align: center;font-size: 20px;font-weight: 600;color: red;">
                        {% set promotion = false %}
              {% if hotel.promotionStartDate %}
                {% if (hotel.promotionStartDate<=today) and (today<=hotel.promotionEndDate) %}  
                 {% set promotion = true %}
                 <div class="tipsy from-right-top active txt-ac uprcse price-tipsy">
                 <div class="arrow_box info theme-blue  savedprice">You Save <i class="fa fa-inr"> {{ price - hotel.promotionPrice }}</i>
          			</div>
          			</div>
                 
                    <span class="price">
                        <i class="fa fa-inr"></i> {{ hotel.promotionPrice }} <strike> <i class="fa fa-inr"></i> {{ price }} </strike>
                      </span>
                    {% endif %}
                {% endif %}
                   
                   {% if  promotion == false  %} 
                      <span class="price">
                      <i class="fa fa-inr"></i> {{ price }}
                      </span>
                     {% endif %}
                      </div>
                      </div>
                      </div>
                      
                    
                  </header>
                  <div class="listing-facitilities">
                    <div class="row" style="margin-left: 0px;">
                      <div class="col-md-3 col-sm-3">
                        <ul class="facilities-list custom-list">
                           <li><i class="fa fa-wifi"></i><span> Free WiFi</span></li>
                        </ul>
                      </div>
                      
                      <div class="col-md-4 col-sm-3">
                        <ul class="facilities-list custom-list">                         
                          <li><i class="fa fa-cutlery"></i><span>Free Hot Break Fast</span></li>
                        </ul>
                      </div>
                      <div class="col-md-3 col-sm-3">
                        <ul class="facilities-list custom-list">
                          <li><i class="fa fa-female"></i><span> Room service</span></li>
                         
                        </ul>
                      </div>
                     
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}                    
          
          

          
        </div>
      </div>
    </div>
  </section>

{% endblock %}