
{% block body %}

    <section class="section clearfix">
    
    	
        <div class="container">
			<div class="row">
				<h1 class="custom-package-title">Vendor Registration Form</h1>
				{#}<h3 class="custom-quote"><i class="fa fa-quote-left" aria-hidden="true"></i> Design your own itinerary below and send it to us. We will revert<br> back to
						you with the best price<i class="fa fa-quote-right" aria-hidden="true"></i></h3>{#}
			</div>
		
	 <section class="section clearfix">
		<div class="container" >
            {{ form_start(form) }}
            <div class="col-sm-10" style="border:1px solid #000; padding: 10px; margin: 5px">
                <div class="row billingpadding" >
                
                    <div class="col-lg-3">
                        {{ form_label(form.companyname) }} 
                        {{ form_widget(form.companyname,{'value':vendor.companyname},{'attr':{'class':'make-margin'}}) }}
                    </div>
					 <div class="col-lg-3">
                        {{ form_label(form.name) }} 
                        {{ form_widget(form.name,{'value':vendor.name},{'attr':{'class':'make-margin'}}) }}
                    </div>
					 <div class="col-lg-3">
                        {{ form_label(form.email) }} 
                        {{ form_widget(form.email,{'value':vendor.email},{'attr':{'class':'make-margin'}}) }}
                    </div>
					 <div class="col-lg-3">
                        {{ form_label(form.mobileno) }} 
                        {{ form_widget(form.mobileno,{'value':vendor.mobileno},{'attr':{'class':'make-margin'}}) }}
                    </div>
				</div>
				<div class="row billingpadding">
                
                    <div class="col-lg-3">
                        {{ form_label(form.address) }} 
                        {{ form_widget(form.address,{'value':vendor.address},{'attr':{'class':'make-margin'}}) }}
                    </div>
					 <div class="col-lg-3">
                        {{ form_label(form.pancard) }} 
                        {{ form_widget(form.pancard,{'value':vendor.pancard},{'attr':{'class':'make-margin'}}) }}
                    </div>
					 <div class="col-lg-3">
                        {{ form_label(form.pancardid) }} 
                        {{ form_widget(form.pancardid,{'value':vendor.pancardid},{'attr':{'class':'make-margin'}}) }}
                    </div>
					 <div class="col-lg-3">
                        {{ form_label(form.gstno) }} 
                        {{ form_widget(form.gstno,{'value':vendor.gstno},{'attr':{'class':'make-margin'}}) }}
                    </div>
					
				</div>
				<div class="row billingpadding">
					 <div class="col-lg-3">
                        {{ form_label(form.idproof) }} 
                        {{ form_widget(form.idproof,{'value':vendor.idproof},{'attr':{'class':'make-margin'}}) }}
                    </div>
                    
					
					
				</div>
                   
            
                  
                 
                    <center>{{ form_end(form) }}</center>
                    
			 </div>
			 </div>
    </section>
			
        </div>
    </section>
{% endblock %}
