{% extends 'page.html.twig' %}

{% block body %}
	<section>
		<div class="container">
			<div class="row">
			
			<div class="col-sm-12" >
			<h1 class="custom-package-title">Vendor List</h1>
				<table class="table table-bordered">
				<thead>
					<tr style="font-weight:600;">
						<th scope="col">S.NO</th>
						<th scope="col">Vendor Id</th>
						<th scope="col"> Company Name</th>
						<th scope="col"> Name</th>
						<th scope="col">Email</th>
						<th scope="col">Mobile No</th>
						<th scope="col">Address</th>
						<th scope="col">Pancard No</th>
						<th scope="col">GST No</th>
						<th scope="col">/</th>
					</tr>
				</thead>
					{% set count=1 %}
					{% for vendor in vendorList %}
					<tr>
						<td>{{count }}</td>
						<td>{{ vendor.vendorId }}</td>
						<td>{{ vendor.companyName }}</td>
						<td>{{ vendor.name }}</td>
						<td>{{ vendor.email }}</td>
						<td>{{ vendor.mobileNo }}</td>
						<td>{{ vendor.address }}</td>
						<td>{{ vendor.pancard }}</td>
						<td>{{ vendor.gstno }}</td>
						<td><a href="{{ path('trip_booking_engine_vendor_list_view_more',{'vendorid':vendor.id}) }}">View More</a></td>
					</tr>
					 {% set count=count+1 %} 
					 
				
					 {% endfor %}
				</table>
   </div>
					
			</div>
		</div>
	</section>
{% endblock %}
