
{% block body %}
	<section>
		<div class="container">
			<div class="row">
			<div class="col-sm-10" style="border:1px solid #000; padding: 10px; margin: 5px">
			<h1 class="custom-package-title">Drivers List</h1>
				<table class="table table-bordered">
				<thead>
					<tr style="font-weight:600;">
						<th scope="col">S.NO</th>
						<th scope="col">Driver Name</th>
						<th scope="col">Mobile Number</th>
						<th scope="col">Driving License</th>
						<th scope="col">Driver Id Proof</th>
						<th scope="col">Edit</th>
						<th scope="col">Delete</th>
					</tr>
				</thead>
					{% set count=1 %}
					{% for driver in driverList %}
					<tr>
						<td>{{count }}</td>
						<td>{{ driver.drivername }}</td>
						<td>{{ driver.driverMobileno }}</td>
						
						<td><img src="{{ asset('images/packages/'~driver.drivingLicence ) }}" alt="driver" style="width:50%;" /></td>
						<td><img src="{{ asset('images/packages/'~driver.driverIdproof ) }}" alt="driver" style="width:50%;" /></td>
						<td><center><a href="{{ path('trip_booking_engine_vendor_edit_driver',{'id':driver.id}) }}" class="editDriver">
          					<span class="glyphicon glyphicon-pencil"></span></a>
          				</center></td>
						<td><center><a href="{{ path('trip_booking_engine_vendor_remove_driver',{'id':driver.id}) }}" onclick="myFunction()">
          					<span class="glyphicon glyphicon-remove"></span></a>
          				</center></td>
					</tr>
					 {% set count=count+1 %} 
					 {% endfor %}
				</table>
				</div>	
				
			</div>
		</div>
	</section>
{% endblock %}
