{% extends 'page.html.twig' %}

{% block body %}
	<section>
		<div class="container">
			<div class="row">
			
			<div class="col-sm-12" >
			<h2 class="custom-package-title">Vendor Details</h2>
				<table class="table table-bordered">
				<thead>
					<tr style="font-weight:600;">
						
						<th scope="col">Vendor Id</th>
						<th scope="col"> Company Name</th>
						<th scope="col">Email</th>
						<th scope="col">Pancard No</th>
						<th scope="col">GST No</th>
						<th scope="col"> Total Amount</th>
						<th scope="col">Paid Amount </th>
						<th scope="col">Pending amount</th>
						<th scope="col">Status</th>
					</tr>
				</thead>
					
					<tr>
						
						<td>{{ vendor.vendorId }}</td>
						<td>{{ vendor.companyName }}</td>
						<td>{{ vendor.email }}</td>
						<td>{{ vendor.pancard }}</td>
						<td>{{ vendor.gstno }}</td>
						<td>{{ vendor.registraionFee }}</td>
						<td>{{ vendor.amountPaid }}</td>
						<td>{{ vendor.amountPending }}</td>
						<td>{{ vendor.status }}</td>
					</tr>
					
				</table></br>
				<h2 class="custom-package-title">Vehicles List</h2>
				<table class="table table-bordered">
				<thead>
				<tr style="font-weight:600;">
						<th scope="col">S.NO</th>
						<th scope="col">Date</th>
						<th scope="col">Vehicle Name</th>
						<th scope="col">Vehicle Image</th>
						<th scope="col">Vehicle Regis Cer</th>
						<th scope="col">Vehicle Insurance</th>
						<th scope="col">Vehicle Population</th>
						<th scope="col">Payment Status</th>
					</tr>
					</thead>
					{% set count=1 %}
					
					{% for vehicle in vendor.vehicles %}
					<tr>
						<td>{{count }}</td>
						<td>{{ vehicle.insertdate }}</td>
						<td>{{ vehicle.vehicleName }}</td>
						
						<td><img src="{{ asset('images/packages/'~vehicle.vehicleImage ) }}" alt="vehicle" style="width:50%;" /></td>
						<td><img src="{{ asset('images/packages/'~vehicle.vehicleRegisCer ) }}" alt="vehicle" style="width:50%;" /></td>
						<td><img src="{{ asset('images/packages/'~vehicle.vehicleInsurance ) }}" alt="vehicle" style="width:50%;" /></td>
						<td><img src="{{ asset('images/packages/'~vehicle.vehiclePopulation ) }}" alt="vehicle" style="width:50%;" /></td>
						<td>{{ vehicle.paymentStatus }}</td>
					</tr>
					 {% set count=count+1 %} 
					 {% endfor %}
					
					
</table></br>
<h2 class="custom-package-title">Drivers List</h2	>
      <table class="table table-bordered">
      
				<thead>
					<tr style="font-weight:600;">
						<th scope="col">S.NO</th>
						<th scope="col">Driver Name</th>
						<th scope="col">Mobile Number</th>
						<th scope="col">Driving License</th>
						<th scope="col">Driver Id Proof</th>
						
					</tr>
				</thead>
					{% set count=1 %}
{% for driver in vendor.drivers %}
					<tr>
						<td>{{count }}</td>
						<td>{{ driver.drivername }}</td>
						<td>{{ driver.driverMobileno }}</td>
						
						<td><img src="{{ asset('images/packages/'~driver.drivingLicence ) }}" alt="driver" style="width:50%;" /></td>
						<td><img src="{{ asset('images/packages/'~driver.driverIdproof ) }}" alt="driver" style="width:50%;" /></td>
						
					</tr>
					 {% set count=count+1 %} 
					 {% endfor %}
					
				</table>
   </div>
					
			</div>
		</div>
	</section>
{% endblock %}
