

{% block body %}

	 <section class="section clearfix">
		<div class="container">
		<h1 class="custom-package-title">Add Vehicle</h1>
            {{ form_start(form) }}
             <div class="col-sm-10" style="border:1px solid #000; padding: 10px; margin: 5px">
               <div class="row billingpadding" >
                            <div class="col-lg-3">
                            	{{ form_label(form.vehicleName) }} 
                                {{ form_widget(form.vehicleName) }}
                            </div>
                                                      
                           <div class="col-lg-3">
                           {{ form_label(form.vehicleImage) }} 
                                {{ form_widget(form.vehicleImage) }}
                            </div>
                            <div class="col-lg-3">
                            {{ form_label(form.vehicleRegisCer) }} 
                                {{ form_widget(form.vehicleRegisCer) }}
                            </div>
                            <div class="col-lg-3">
                            {{ form_label(form.vehicleInsurance) }} 
                                {{ form_widget(form.vehicleInsurance) }}
                            </div>
                         </div>
                         <div class="row billingpadding" >
                             <div class="col-lg-12">
                             {{ form_label(form.vehiclePopulation) }} 
                                {{ form_widget(form.vehiclePopulation) }}
                            </div>
                          </div>
                    
            
                  
                 
                     
                    <center>{{ form_end(form) }}</center>
                    
			</div>
			 </div>
    </section>
	
			
        
{% endblock %}
