{% extends 'page.html.twig' %}
{% block stylesheets %}
	
{% endblock %}
{% block javascripts %}


{% endblock %}


{% block breadcrumb %}
                    <ul class="c1 breadcrumb text-left">
                        <li><a href="#">Home</a></li>
                        <li>Vendor</li>
                    </ul>
                    <h3></h3>
{% endblock %}

{% block body %}

    <section class="section clearfix">
    
    	
        <div class="container">
         <div class="row">
         	<h1 class="custom-package-title">Vendor Login Form</h1>
    		{#}<h3 class="custom-quote"><i class="fa fa-quote-left" aria-hidden="true"></i> Design your own itinerary below and send it to us. We will revert<br> back to
you with the best price<i class="fa fa-quote-right" aria-hidden="true"></i></h3>{#}
		</div>
		 <div class="row" style="border:1px solid #000; padding: 10px; margin: 5px">
                <div id="fullwidth" class="col-sm-12">
               {#} {{ form_start(form) }} {#}
               <form action="{{path('trip_booking_engine_vendor_login') }}" method="post">
                <div class="row">
                 <div class="col-lg-12 custom-package-personal-info">
                    <div class="col-lg-4">
					</div>
                    <div class="col-lg-4">    
					
                    <div class="row">
                        <div class="col-md-6 col-sm-4 col-xs-4 make-margin">
                            {#} {{ form_label(form.name) }}  {#}Create Password
                        </div>
                        <div class="col-md-6 col-sm-8 col-xs-8">
                            {#} {{ form_widget(form.name,{'attr':{'class':'make-margin'}}) }}{#} 
                            <input type="password" name="pwd" required="required" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 6 or more characters" /> 
                            
                         </div>
                    </div>
                    </div>
					<div class="col-lg-4">
					</div>
				</div>
				<div class="col-lg-12 custom-package-personal-info">
					<div class="col-lg-4">
					</div>
                    <div class="col-lg-4">
                    <div class="row">
                        <div class="col-md-6 col-sm-4 col-xs-4 make-margin">
                             {#}{{ form_label(form.email) }} {#}Confirm password
                        </div>
                        <div class="col-md-6 col-sm-8 col-xs-8">
                             {#}{{ form_widget(form.email,{'attr':{'class':'make-margin'}}) }} {#}
                             <input type="password" name="confirmpwd" required="required" /> 
                         </div>
                    </div>
                    </div>
					<div class="col-lg-4">
					</div>
					</div>
				
				<div class="col-lg-12 custom-package-personal-info">
					<div class="col-lg-4">
					</div>
					<div class="col-lg-4">
						{#}<center>{{ form_end(form) }}</center>{#}
						<center><input type="submit" value="Submit" style="width:40%;background-color: #0694b6;border-color: #0694b6;color:#ffffff;" /></center>
						</form>
						<p style="color:red;"> {{ app.request.get('error') }}</p>
					</div>
					<div class="col-lg-4">
					</div>
                   
                    
					</div>
               </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}