{% extends 'page.html.twig' %}
{% block stylesheets %}
		<link href="{{ asset('css/jquery.timepicker.css') }}" rel="stylesheet" media="screen">
	<style>
	.chosen-container {
    margin: 15px 0 15px !important;
	}
	.preferDate {
    margin: 15px 0 15px !important;
	}
	</style>
{% endblock %}
{% block javascripts %}
<script src="{{ asset('js/jquery.timepicker.min.js') }}"></script>
<script>

$(document).ready(function() {
$(".chosen-select").chosen({
    no_results_text: "Oops, nothing found!"
});

$('.preferTime').timepicker({ 'scrollDefault': 'now' });

$(".preferDate").datepicker({
    dateFormat: "dd/mm/yy",
    numberOfMonths: 2,
    minDate: 0
});

});
	
 
  var vehicleCount = '{{ form.vehiclesList|length }}'; 

    $('#add-another-vehicle').click(function(e) {
            e.preventDefault();
           

            var vehicleList = $('#vehicle-list');

            // grab the prototype template
            var newWidget = vehicleList.attr('data-prototype');
            // replace the "__name__" used in the id and name of the prototype
            // with a number that's unique to your city
            newWidget = newWidget.replace(/__name__/g, vehicleCount);           
            vehicleCount++;
            newWidget = newWidget.replace(/Day/, 'Day '+vehicleCount);
        
            
            // create a new list element and add it to the list
            var newLi = $('<div></div>').html(newWidget);
            newLi.appendTo(vehicleList);
        
            var key = vehicle-1;
            var next = key+1;
           
        });
		
    
 var driverCount = '{{ form.driversList|length }}'; 

    $('#add-another-driver').click(function(e) {
            e.preventDefault();
           

            var driverList = $('#driver-list');

            // grab the prototype template
            var newWidget = driverList.attr('data-prototype');
            // replace the "__name__" used in the id and name of the prototype
            // with a number that's unique to your city
            newWidget = newWidget.replace(/__name__/g, driverCount);           
            driverCount++;
            newWidget = newWidget.replace(/Day/, 'Day '+driverCount);
        
            
            // create a new list element and add it to the list
            var newLi = $('<div></div>').html(newWidget);
            newLi.appendTo(driverList);
        
            var key = vehicle-1;
            var next = key+1;
            $(".chosen-select").chosen({
                no_results_text: "Oops, nothing found!"
            });
            

     
            
        });
  
</script>
{% endblock %}


{% block breadcrumb %}
                    <ul class="c1 breadcrumb text-left">
                        <li><a href="#">Home</a></li>
                        <li>Vendor</li>
                    </ul>
                    <h3></h3>
{% endblock %}

{% block body %}

    <section class="section clearfix">
    
    	
        <div class="container">
			<div class="row">
				<h1 class="custom-package-title">Vendor Registration Form</h1>
				{#}<h3 class="custom-quote"><i class="fa fa-quote-left" aria-hidden="true"></i> Design your own itinerary below and send it to us. We will revert<br> back to
						you with the best price<i class="fa fa-quote-right" aria-hidden="true"></i></h3>{#}
			</div>
		
	 <section class="section clearfix">
		<div class="container" style="border:1px solid #000; padding: 10px; margin: 5px">
            {{ form_start(form) }}
                <div class="row billingpadding" >
                
                    <div class="col-lg-3">
                        {{ form_label(form.companyname) }} 
                        {{ form_widget(form.companyname,{'attr':{'class':'make-margin'}}) }}
                    </div>
					 <div class="col-lg-3">
                        {{ form_label(form.name) }} 
                        {{ form_widget(form.name,{'value':vendorName},{'attr':{'class':'make-margin'}}) }}
                    </div>
					 <div class="col-lg-3">
                        {{ form_label(form.email) }} 
                        {{ form_widget(form.email,{'value':vendorEmail},{'attr':{'class':'make-margin'}}) }}
                    </div>
					 <div class="col-lg-3">
                        {{ form_label(form.mobileno) }} 
                        {{ form_widget(form.mobileno,{'value':vendorMobileno},{'attr':{'class':'make-margin'}}) }}
                    </div>
				</div>
				<div class="row billingpadding">
                	 <div class="col-lg-3">
                        {{ form_label(form.gstno) }} 
                        {{ form_widget(form.gstno,{'attr':{'class':'make-margin'}}) }}
                    </div>
                    
					 <div class="col-lg-3">
                        {{ form_label(form.pancard) }} 
                        {{ form_widget(form.pancard,{'attr':{'class':'make-margin'}}) }}
                    </div>
					 <div class="col-lg-3">
                        {{ form_label(form.pancardid) }} 
                        {{ form_widget(form.pancardid,{'attr':{'class':'make-margin'}}) }}
                    </div>
					<div class="col-lg-3">
                        {{ form_label(form.address) }} 
                        {{ form_widget(form.address,{'attr':{'class':'make-margin'}}) }}
                    </div>
					
				</div>
				<div class="row billingpadding">
					 <div class="col-lg-3">
                        {{ form_label(form.idproof) }} 
                        {{ form_widget(form.idproof,{'attr':{'class':'make-margin'}}) }}
                    </div>
                   
					
					
				</div>
                    
            
                  
                 
                     {% macro information_prototype(j) %}
                     <div class="new-day" style="border:1px solid #000; padding: 10px; margin: 5px">
                     	<h4 style="text-transform: capitalize;color: #ef4639;">Vehicle </h4>
                        <div class="row form-group">
                            <div class="col-lg-3">
                            	{{ form_label(j.vehicleName) }} 
                                {{ form_widget(j.vehicleName) }}
                            </div>
                                                      
                           <div class="col-lg-3">
                           {{ form_label(j.vehicleImage) }} 
                                {{ form_widget(j.vehicleImage) }}
                            </div>
                            <div class="col-lg-3">
                            {{ form_label(j.vehicleRegisCer) }} 
                                {{ form_widget(j.vehicleRegisCer) }}
                            </div>
                            <div class="col-lg-3">
                            {{ form_label(j.vehicleInsurance) }} 
                                {{ form_widget(j.vehicleInsurance) }}
                            </div>
                         </div>
                          <div class="row form-group">
                             <div class="col-lg-3">
                             {{ form_label(j.vehiclePopulation) }} 
                                {{ form_widget(j.vehiclePopulation) }}
                            </div>
                             <div class="col-lg-3">
                             {{ form_label(j.vehicleNumber) }} 
                                {{ form_widget(j.vehicleNumber) }}
                            </div>
                            <div class="col-lg-3">
                            {{ form_label(j.vehicleColor) }} 
                               {{ form_widget(j.vehicleColor) }}
                           </div>
                            <div class="col-lg-3">
                             {{ form_label(j.vehicleCapacity) }} 
                                {{ form_widget(j.vehicleCapacity) }}
                            </div>
                          </div>
                          <div class="row form-group">
                             <div class="col-lg-3">
                             {{ form_label(j.fuelType) }} 
                                {{ form_widget(j.fuelType) }}
                            </div>
                             <div class="col-lg-3">
                             {{ form_label(j.vehicleManfactureYear) }} 
                                {{ form_widget(j.vehicleManfactureYear) }}
                            </div>
                            <div class="col-lg-3">
                            {{ form_label(j.vehicleManfactureCompany) }} 
                               {{ form_widget(j.vehicleManfactureCompany) }}
                           </div>
                            <div class="col-lg-3">
                             {{ form_label(j.vehicleChassisNumber) }} 
                                {{ form_widget(j.vehicleChassisNumber) }}
                            </div>
                          </div>
                           <div class="row form-group">
                             <div class="col-lg-3">
                             {{ form_label(j.vehicleEngineNumber) }} 
                                {{ form_widget(j.vehicleEngineNumber) }}
                            </div>
                           
                          </div>
                        </div>
                            
                        {% endmacro %}
						
						  {% macro inform_prototype(d) %}
                     <div class="new-day" style="border:1px solid #000; padding: 10px; margin: 5px">
                     	<h4 style="text-transform: capitalize;color: #ef4639;">Driver </h4>
                        <div class="row form-group">
                           
                                                      
                           <div class="col-lg-3">
                           {{ form_label(d.drivername) }} 
                                {{ form_widget(d.drivername) }}
                            </div>
                            <div class="col-lg-3">
                            {{ form_label(d.driverMobileno) }} 
                                {{ form_widget(d.driverMobileno) }}
                            </div>
                            <div class="col-lg-3">
                            {{ form_label(d.drivingLicence) }} 
                                {{ form_widget(d.drivingLicence) }}
                            </div>
							 <div class="col-lg-3">
                             {{ form_label(d.driverIdproof) }} 
                                {{ form_widget(d.driverIdproof) }}
                            </div>
                         </div>
                          <div class="row form-group">
                           
                                                      
                           <div class="col-lg-3">
                           {{ form_label(d.policeVerificationLetter) }} 
                                {{ form_widget(d.policeVerificationLetter) }}
                            </div>
                            
                         </div>
						 </div>
                          {% endmacro %}
                     
                            
                       
							<div id="vehicle-list"
                                                data-prototype="{{ _self.information_prototype(form.vehiclesList.vars.prototype)|e }}">
                            {% for j in form.vehiclesList %}
                             {{ _self.information_prototype(j) }}
                            {% endfor %}
							</div>
                    <a href="#" id="add-another-vehicle">+ Add Vehicle</a></br>
                        
                   <div id="driver-list"
                                                data-prototype="{{ _self.inform_prototype(form.driversList.vars.prototype)|e }}">
                            {% for d in form.driversList %}
                            {{ _self.inform_prototype(d) }}
                            {% endfor %}
							</div>
                    <a href="#" id="add-another-driver">+ Add Driver</a>
                    
                     
                    <center>{{ form_end(form) }}</center>
                    
			
			 </div>
    </section>
			
        </div>
    </section>
{% endblock %}