

{% block body %}
	<section>
		<div class="container">
			<div class="row">
			<div class="col-sm-2" ></div>
			<div class="col-sm-10" style="border:1px solid #000; padding: 10px; margin: 5px">
			<h1 class="custom-package-title">Vehicles List</h1>
				<table class="table table-bordered">
				<thead>
					<tr style="font-weight:600;">
						<th scope="col">S.NO</th>
						<th scope="col">Date</th>
						<th scope="col">Vehicle Name</th>
						<th scope="col">Vehicle Image</th>
						<th scope="col">Vehicle Regis Cer</th>
						<th scope="col">Vehicle Insurance</th>
						<th scope="col">Vehicle Population</th>
						{#}<th scope="col">Edit</th>{#}
						<th scope="col">Delete</th>
					</tr>
				</thead>
					{% set count=1 %}
					{% for vehicle in vehiclesList %}
					<tr>
						<td>{{count }}</td>
						<td>{{ vehicle.insertdate }}</td>
						<td>{{ vehicle.vehicleName }}</td>
						
						<td><img src="{{ asset('images/packages/'~vehicle.vehicleImage ) }}" alt="vehicle" style="width:50%;" /></td>
						<td><img src="{{ asset('images/packages/'~vehicle.vehicleRegisCer ) }}" alt="vehicle" style="width:50%;" /></td>
						<td><img src="{{ asset('images/packages/'~vehicle.vehicleInsurance ) }}" alt="vehicle" style="width:50%;" /></td>
						<td><img src="{{ asset('images/packages/'~vehicle.vehiclePopulation ) }}" alt="vehicle" style="width:50%;" /></td>
						{#}<td><center><a href="{{ path('trip_booking_engine_vendor_edit_vehicle',{'id':vehicle.id}) }}">
          					<span class="glyphicon glyphicon-pencil"></span></a>
          				</center></td>{#}
						<td><center><a href="{{ path('trip_booking_engine_vendor_remove_vehicle',{'id':vehicle.id}) }}" onclick="myFunction()">
          					<span class="glyphicon glyphicon-remove"></span></a>
          				</center></td>
					</tr>
					 {% set count=count+1 %} 
					 {% endfor %}
				</table>
					
					

      
   </div>
					
			</div>
		</div>
	</section>
{% endblock %}
