{% extends 'base.html.twig' %}
{% block title %}Contact Us | Just Trip{% endblock %}

{% block javascript %}
<script>
    
    jQuery(document).ready(function() {
    $("#just_trip_contact").submit(function() {
        var e = $(this).attr("action");
        var postData = $(this).serializeArray();
        return $("#message").slideUp(750, function() {
            $("#message").hide(), $("#just_trip_contact_submit").after('<img src="images/loader.gif" class="loader" />').attr("disabled", "disabled"),
              
              $.post(e, postData, function(e) {
                document.getElementById("message").innerHTML = e, $("#message").slideDown("slow"), $("#just_trip_conjtact img.loader").fadeOut("slow", function() {
                    $(this).remove()
                }), $("#just_trip_contact_submit").removeAttr("disabled"), null != e.match("success") && $("#just_trip_contact").slideUp("slow")
            })
        }), !1
    })
});
    
    $("#contact_form").on('submit','#just_trip_conjtact', function (e)
        {
            var postData = $(this).serializeArray();
            var formURL = $(this).attr("action");
            $.ajax(
                    {
                        url : formURL,
                        type: "POST",
                        data : postData,
                        success:function(data, textStatus, jqXHR)
                        {
                           // alert(data);
	                        if(data=='true')
	                        {
	                               document.getElementById("message").innerHTML = e, $("#message").slideDown("slow"),                                                                  $("#just_trip_conjtact img.loader").fadeOut("slow", function() {
                                                    $(this).remove()
                                    }), 
                            $("#submit").removeAttr("disabled"), null != e.match("success") && $("#just_trip_conjtact").slideUp("slow");
	                            
		                    }
	                        else
	                        {
	                        	var ajaxDisplay = document.getElementById('contact_form');
		                         ajaxDisplay.innerHTML = $(data).find('#contact_form');
		                    }		                        
                        },
                        error: function(jqXHR, textStatus, errorThrown)
                        {
                            //if fails
                            alert('Error: ' +  errorThrown);
                        }
                    });
            e.preventDefault(); //STOP default action
            e.unbind(); //unbind. to stop multiple form submit.
        });
</script>
{% endblock %}


  {% block body %}

 <div class="map">
       <!-- <iframe class="googlemap" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d25211.358248932185!2d144.97024199999998!3d-37.827057399999994!2m3! !2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad642af0f11fd81%3A0x5045675218ce7e0!2sMelbourne+Victoria%2C+Avustralya!5e0!3m2!1str!2s!4v1426652198251" height="430"></iframe>-->
    </div>




 <section class="section clearfix">
        <div class="container">
            <div class="row">
                <div id="fullwidth" class="col-sm-12">

                    <!-- START CONTENT -->
                    <div class="row">
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <h5>Contact Info</h5>
                            <h6>Bangalore Office</h6>
                            <div class="contact-info">
                            <ul>
                                <li><i class="icon-map"></i> 53, 11th Cross, BTM 1 St Stage, Bangalore</li>
                                <li><i class="icon-phone"></i> <strong>Phone:</strong> +91-9663133008</li>
                                <li><i class="icon-mail"></i> <strong>Email:</strong> <a href="#"> info@justtrip.in </a></li>
                                <li></li>
                            </ul>
                            </div>
                            <h6>Tirupati Office</h6>
                            <div class="contact-info">
                            <ul>
                                <li><i class="icon-phone"></i> <strong>Phone:</strong> +91-9663133008</li>
                            </ul>
                            </div>
                        </div><!-- end col -->

                        <div class="col-md-8 col-sm-8 col-xs-12">
                            <h5>Contact Form</h5>
                            <div id="contact_form" class="contact_form">
                                <div id="message">
                                    <div class="col-lg-12 col-sm-12 form-group has-error">
                                      <ul class="errors">
                                            <div class="row top-buffer">
                                                {{ form_errors(form.firstName) }}
                                            </div>
                                            <div class="row top-buffer">
                                                {{ form_errors(form.lastName) }}
                                            </div>
                                            <div class="row top-buffer">
                                                {{ form_errors(form.email) }}
                                            </div>
                                            <div class="row top-buffer">
                                                {{ form_errors(form.phoneNumber) }}
                                            </div>
                                            <div class="row top-buffer">
                                                {{ form_errors(form.message) }}
                                            </div>
                                        </ul>
								    </div>
                                </div>
                                {{ form_start(form) }}
				                {{ form_errors(form, { 'global_errors': true }) }}
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                         {{ form_widget(form.firstName, { 'attr': {'class':'make-margin','placeholder': 'Enter Your  First Name','title':'Please enter a valid Name', 'maxlength':'100'}}) }}
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                     {{ form_widget(form.lastName, { 'attr': {'class':'make-margin','placeholder': 'Enter Your Last Name','title':'Please enter a valid Last Name', 'maxlength':'100'}}) }}
                                    </div>
                                 <div class="col-md-6 col-sm-6 col-xs-12">
                                         {{ form_widget(form.email, { 'attr': {'class':'make-margin','placeholder': 'Enter Your Email','title':'Please enter a valid Email', 'maxlength':'100'}}) }}
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                    {{ form_widget(form.phoneNumber, { 'attr': {'class':'make-margin','placeholder': 'Enter Your Number','title':'Please enter a valid number', 'maxlength':'15'}}) }}
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                    {{ form_widget(form.subject, { 'attr': {'class':'make-margin','placeholder': 'Enter Your Subject','title':'Please enter a valid subject', 'maxlength':'100'}}) }}
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                    {{ form_widget(form.message, { 'attr': {'class':'make-margin','placeholder': 'Enter Your message','title':'Please enter a valid message', 'maxlength':'5000'}}) }}
                                        
                                        
                                        
                                        
                                         {{ form_widget(form.submit,{ 'attr': {'class': 'pull-right btn btn-primary btn-lg border-radius'}}) }}
							              
                                    
                                    </div>
                                {{ form_end(form) }}   
                            </div><!-- end contact-form -->
                        </div><!-- end col -->
                    </div><!-- end row -->
                    <!-- END CONTENT -->

                </div><!-- end fullwidth -->
            </div><!-- end row -->
        </div><!-- end container -->
    </section><!-- end section -->
  {% endblock %}